openapi: 3.2.0
info:
  version: 1.0.0
  title: Global Conversion Metrics Configuration API
  description: 'The Conversion Metrics API allows clients to extend CreatorIQ’s link tracking functionality by creating, managing,

    and extracting conversion data.'
  termsOfService: https://www.creatoriq.com/legal/terms-of-use
  contact:
    name: CreatorIQ
    url: https://www.creatoriq.com
    email: support@creatoriq.com
  license:
    url: https://www.apache.org/licenses/LICENSE-2.0.html
    name: Apache 2.0
servers:
- url: https://apis.creatoriq.com
  description: Live
security:
- apiKey: []
tags:
- name: Global Conversion Metrics Configuration
  description: Global Conversion Metrics Configuration
paths:
  /crm/v1/api/conversions:
    get:
      tags:
      - Global Conversion Metrics Configuration
      summary: Retrieve Conversion Metrics Configuration
      description: Returns a list of defined conversion metrics for the current partner.
      operationId: getConversionMetrics
      responses:
        '200':
          description: Successfully retrieved conversion metrics.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionMetricConfigurationCollectionResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/conversion/{conversionMetricId}:
    get:
      tags:
      - Global Conversion Metrics Configuration
      summary: Retrieve Conversion Metric Configuration by ID
      description: Returns the configuration for a specific conversion metric
      operationId: getConversionMetricById
      parameters:
      - $ref: '#/components/parameters/conversionMetricId'
      responses:
        '200':
          description: Successfully retrieved conversion metric configuration.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionMetricResponse'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    patch:
      tags:
      - Global Conversion Metrics Configuration
      summary: Update Existing Conversion Metric
      description: Updates the configuration for a specific conversion metric.
      operationId: updateConversionMetric
      parameters:
      - $ref: '#/components/parameters/conversionMetricId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversionMetricUpdateRequest'
      responses:
        '200':
          description: Successfully updated the conversion metric.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversionMetricResponse'
        '400':
          $ref: '#/components/responses/BadRequestError'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundError'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
components:
  schemas:
    ConversionMetricConfigurationCollectionResponse:
      type: object
      properties:
        type:
          type: string
          examples:
          - ConversionCollection
        href:
          type: string
          examples:
          - https://apis.creatoriq.com/crm/v1/api/conversions
        count:
          type: integer
          examples:
          - 20
        total:
          type: integer
          examples:
          - 725
        page:
          type: integer
          examples:
          - 1
        ConversionCollection:
          type: array
          items:
            $ref: '#/components/schemas/ConversionMetricConfigurationResponse'
    ConversionMetricConfiguration:
      type: object
      properties:
        ConversionMetricId:
          type: integer
          examples:
          - 36942
        PartnerId:
          type: integer
          examples:
          - 11
        ConversionMetricName:
          type: string
          examples:
          - ConversionMetric6
        DisplayName:
          type: string
          examples:
          - Transactions
        DisplayOrder:
          type: integer
          examples:
          - 6
        IsVisible:
          type: integer
          examples:
          - 1
        Type:
          type: string
          examples:
          - Default
        AdditionalInfo:
          type:
          - string
          - 'null'
          examples:
          - null
        UpdatedAt:
          type: string
          format: date-time
          examples:
          - '2022-01-11 13:47:34'
        UpdatedBy:
          type: string
          examples:
          - app-ui
        CreatedAt:
          type: string
          format: date-time
          examples:
          - '2022-01-11 13:47:34'
        CreatedBy:
          type: string
          examples:
          - app-ui
    ConversionMetricUpdateRequest:
      type: object
      properties:
        DisplayName:
          type: string
          examples:
          - New Conversion Metric
        DisplayOrder:
          type: integer
          examples:
          - 1
        IsVisible:
          type: integer
          examples:
          - 1
    ConversionMetricConfigurationResponse:
      type: object
      properties:
        type:
          type: string
          examples:
          - ConversionMetric
        href:
          type: string
          examples:
          - https://public-api.creatoriq.com/api/api/conversion/36937
        ConversionMetric:
          $ref: '#/components/schemas/ConversionMetricConfiguration'
    ConversionMetricResponse:
      type: object
      properties:
        type:
          type: string
          examples:
          - ConversionMetric
        href:
          type: string
          examples:
          - https://public-api.creatoriq.com/api/v1/campaign/123/tracking-link/321/conversionMetric/Gross%20Orders
        ConversionMetric:
          $ref: '#/components/schemas/ConversionMetric'
    ConversionMetric:
      type: object
      properties:
        ConversionMetricId:
          type: integer
          examples:
          - 36942
        PartnerId:
          type: integer
          examples:
          - 11
        ConversionMetricName:
          type: string
          examples:
          - ConversionMetric6
        DisplayName:
          type: string
          examples:
          - Transactions
        DisplayOrder:
          type: integer
          examples:
          - 6
        IsVisible:
          type: integer
          examples:
          - 1
        Type:
          type: string
          examples:
          - Default
        AdditionalInfo:
          type:
          - string
          - 'null'
          examples:
          - null
        TrackingLinkId:
          type: string
          examples:
          - '123'
        ConversionMetricValue:
          type:
          - number
          - 'null'
          examples:
          - 123
        Status:
          type: string
          examples:
          - Auto
        UpdatedAt:
          type: string
          format: date-time
          examples:
          - '2022-01-11 13:47:34'
        UpdatedBy:
          type: string
          examples:
          - app-ui
  parameters:
    conversionMetricId:
      name: conversionMetricId
      in: path
      description: The unique identifier for the conversion metric.
      required: true
      schema:
        type: integer
        examples:
        - 36942
      examples:
        default:
          value: 36942
  responses:
    ForbiddenError:
      description: Forbidden - User does not have access.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Forbidden
    UnauthorizedError:
      description: Unauthorized - API key missing or invalid.
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                examples:
                - Unauthorized
    BadRequestError:
      description: Bad Request - Invalid request format or missing fields.
      content:
        application/json:
          schema:
            type: object
            description: Exception
            properties:
              type:
                type: string
                description: Exception type
                examples:
                - CoreException
              CoreException:
                type: object
                description: Exception information
                properties:
                  code:
                    type: integer
                    description: Exception status code
                    format: int32
                    examples:
                    - 400
                  message:
                    type: string
                    description: Exception message
                    examples:
                    - Some parameters are missing or invalid
            required:
            - type
    NotFoundError:
      description: Not Found - Resource not found.
      content:
        application/json:
          schema:
            type: object
            description: Exception
            properties:
              type:
                type: string
                description: Exception type
                examples:
                - CoreException
              CoreException:
                type: object
                description: Exception information
                properties:
                  code:
                    type: integer
                    description: Exception status code
                    format: int32
                    examples:
                    - 404
                  message:
                    type: string
                    description: Exception message
                    examples:
                    - Supplied ID was not found
            required:
            - type
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-api-key
      in: header
