openapi: 3.2.0
info:
  title: Creatoriq Onesheet API
  version: 1.0.0
  contact:
    name: CreatorIQ
    url: https://www.creatoriq.com
    email: support@creatoriq.com
  termsOfService: https://www.creatoriq.com/legal/terms-of-use
  description: 'Operations tagged Onesheet across 2 of this provider''s published API definitions: creatoriq-onesheets-openapi.yml, creatoriq-reports-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://apis.creatoriq.com
  description: Live
security:
- apiKey: []
tags:
- name: Onesheet
  description: Onesheets public API
paths:
  /crm/v1/api/onesheets:
    get:
      tags:
      - Onesheet
      summary: Get Onesheets collection
      description: Return a paginated collection of Onesheets
      operationId: getOnesheetsCollection
      parameters:
      - name: page
        in: query
        description: Collection's page to show
        required: false
        schema:
          type: integer
          default: 1
          example: 3
        examples:
          default:
            value: 3
      - name: size
        in: query
        description: Amount of items on the page. Default is 20
        required: false
        schema:
          type: integer
          default: 20
          example: 50
        examples:
          default:
            value: 50
      - name: order
        in: query
        description: Sort order. Default is 'Id,desc'
        required: false
        schema:
          type: string
          default: Id,desc
          example: UpdatedAt,desc
        examples:
          default:
            value: UpdatedAt,desc
      responses:
        '200':
          $ref: '#/components/responses/OneSheetsCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    post:
      tags:
      - Onesheet
      summary: Create a new OneSheet
      description: Creates a new OneSheet
      operationId: createOnesheet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOneSheetBody'
      responses:
        '201':
          $ref: '#/components/responses/OneSheetCreated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}:
    get:
      tags:
      - Onesheet
      summary: Get Single Onesheet
      description: Return a Onesheet
      operationId: getOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      responses:
        '200':
          $ref: '#/components/responses/OneSheetSingle'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    patch:
      tags:
      - Onesheet
      summary: Update Onesheet
      description: Updates Onesheet
      operationId: updateOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneSheetBody'
      responses:
        '206':
          $ref: '#/components/responses/OneSheetUpdated'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    delete:
      tags:
      - Onesheet
      summary: Delete Onesheet
      description: Deletes Onesheet
      operationId: deleteOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      responses:
        '204':
          description: Successfully deleted
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}/publishers:
    get:
      tags:
      - Onesheet
      summary: Gets Onesheet's Creators
      description: Gets Onesheet's Creators
      operationId: getCreatorsOfOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      responses:
        '200':
          $ref: '#/components/responses/OneSheetCreators'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    post:
      tags:
      - Onesheet
      summary: Add Creator to Onesheet
      description: Adds Creator to Onesheet
      operationId: addCreatorToOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPublisherToOneSheetBody'
      responses:
        '201':
          description: Creator successfully added
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}/publisher/{publisherId}:
    get:
      tags:
      - Onesheet
      summary: Get a certain Onesheet's Creator
      description: Gets a certain Onesheet's Creators
      operationId: getOnesheetSingleCreator
      parameters:
      - name: fields
        in: query
        description: \ Data fields to get info for. Default set (when parameter is not set or empty) is "summary,comments,isPostMigrationProcess,demographics,locations,audienceTotal,infoForAdvertisers"
        schema:
          type: string
          example: infoForAdvertisers,isPostMigrationProcess
        examples:
          default:
            value: infoForAdvertisers,isPostMigrationProcess
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      - name: publisherId
        in: path
        description: Creator Id
        required: true
        schema:
          type: integer
          example: 642626
        examples:
          default:
            value: 642626
      responses:
        '200':
          $ref: '#/components/responses/OneSheetCreator'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    delete:
      tags:
      - Onesheet
      summary: Remove creator from one-sheet
      description: Remove creator from one-sheet
      operationId: RemoveCreator
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      - name: publisherId
        in: path
        description: Creator Id
        required: true
        schema:
          type: integer
          example: 642626
        examples:
          default:
            value: 642626
      responses:
        '204':
          description: Deleted Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    patch:
      tags:
      - Onesheet
      summary: Update one-sheet creator
      description: Update one-sheet creator
      operationId: UpdateOneSheetCreator
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      - name: publisherId
        in: path
        description: Creator Id
        required: true
        schema:
          type: integer
          example: 642626
        examples:
          default:
            value: 642626
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateOneSheetCreatorBody'
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}/publisher/{publisherId}/approve:
    patch:
      tags:
      - Onesheet
      summary: Approve Creator to Onesheet
      description: Approves Creator to Onesheet
      operationId: approveCreatorToOnesheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      - name: publisherId
        in: path
        description: Creator Id
        required: true
        schema:
          type: integer
          example: 642626
        examples:
          default:
            value: 642626
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApprovePublisherToOneSheetBody'
      responses:
        '204':
          description: Creator successfully approved
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}/publisher/{publisherId}/comments:
    post:
      tags:
      - Onesheet
      summary: Add publisher comment to one-sheet
      description: Add publisher comment to one-sheet
      operationId: AddPublisherComment
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      - name: publisherId
        in: path
        description: Creator Id
        required: true
        schema:
          type: integer
          example: 642626
        examples:
          default:
            value: 642626
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPublisherCommentToOneSheetBody'
      responses:
        '201':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/onesheet/{oneSheetId}/publish:
    post:
      tags:
      - Onesheet
      summary: Publish one-sheet
      description: Publish one-sheet
      operationId: PublishOneSheet
      parameters:
      - name: oneSheetId
        in: path
        description: OneSheet Id
        required: true
        schema:
          type: integer
          example: 333333
        examples:
          default:
            value: 333333
      responses:
        '204':
          $ref: '#/components/responses/PublishOneSheet'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
  /crm/v1/api/view?view=OneSheetBuilder/OneSheetBuilder:
    get:
      tags:
      - Onesheet
      summary: Get OneSheet Builder
      description: Fetch OneSheet Publishers
      operationId: getOneSheetBuilder
      parameters:
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/dir'
      - name: requestData[sort][0][field]
        in: query
        description: "Field for sorting can be sorted by \n* SortOrder\n* PublisherName\n* TotalSubscribers\n* CreatedAt\n* UpdatedAt\n* FlagshipSocialNetwork : represents primary social network\n* FlagshipPropertyTitle : represents primary account\n"
        schema:
          type: string
          enum:
          - SortOrder
          - PublisherName
          - TotalSubscribers
          - CreatedAt
          - UpdatedAt
          - FlagshipSocialNetwork
          - FlagshipPropertyTitle
          example: SortOrder
        examples:
          default:
            value: SortOrder
      - name: requestData[sort][0][name]
        in: query
        description: 'Sorting field name

          * SortOrder

          * PublisherName

          * TotalSubscribers

          * CreatedAt

          * UpdatedAt

          * FlagshipSocialNetwork

          * FlagshipPropertyTitle

          '
        schema:
          type: string
          enum:
          - SortOrder
          - PublisherName
          - TotalSubscribers
          - CreatedAt
          - UpdatedAt
          - FlagshipSocialNetwork
          - FlagshipPropertyTitle
          example: SortOrder
        examples:
          default:
            value: SortOrder
      - name: requestData[params][SalesSheetId]
        in: query
        description: OneSheet ID
        schema:
          type: integer
          example: 757214
        examples:
          default:
            value: 757214
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/oneSheetBuilder'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
    servers:
    - url: https://apis.creatoriq.com
      description: Live
components:
  schemas:
    CreateOneSheetBody:
      type: object
      properties:
        Name:
          type: string
          description: Name of OneSheet
          example: Test OneSheet
        TotalReachCalculation:
          type: string
          enum:
          - Selected
          - Full
        templateId:
          type:
          - integer
          - 'null'
          example: 2351
      required:
      - Name
    AddPublisherToOneSheetBody:
      type: object
      properties:
        PublisherIds:
          type: array
          items:
            type: integer
            example: 13201168
      required:
      - PublisherIds
    AddPublisherCommentToOneSheetBody:
      type: object
      properties:
        Email:
          type: string
          description: Publisher comment email
          format: email
          example: test@gmail.com
        CreatedBy:
          type: string
          description: Publisher comment creator
          example: Test Name
        Comment:
          type:
          - string
          - 'null'
          description: Publisher comment
          example: Test comment
        SocialEdgeId:
          type:
          - string
          - 'null'
          description: Publisher comment SocialEdgeId
          example: Test Comment SocialEdgeId
      required:
      - Email
      - CreatedBy
    OneSheetCreatedModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - OneSheet
          description: Type of Search
          example: OneSheet
        href:
          type: string
          description: CreatorIQ API URL to get onesheet
          format: URI
          example: https://apis.creatoriq.com/crm/v1/api/onesheet/99999
        OneSheet:
          type: object
          properties:
            Id:
              type: integer
              example: 4326
            Name:
              type: string
              example: Test OneSheet
            VanityURL:
              type: string
              example: Test_OneSheet_63dcba77c85
            CreatedById:
              type: integer
              example: 10004117
            PartnerId:
              type: integer
              example: 21
            UpdatedAt:
              type: string
              example: '2023-02-03 07:44:01'
            CreatedBy:
              type: string
              example: Test app
            SalesSheetImageURL:
              type:
              - string
              - 'null'
              format: URI
              example: https://s3.us-west-1.amazonaws.com/resources.creatoriq.com/whitelabelling/21_b744bd6c3cd/dark_logo_8dq7maua0m.png
            VanityHost:
              type: string
              format: URI
              example: https://onesheets.creatoriq.com
            Expired:
              type: boolean
              example: false
            TotalReachCalculation:
              type: string
              enum:
              - Selected
              - Full
              example: Full
            TopMetrics:
              type: array
              items:
                type: object
                properties:
                  network:
                    type: string
                    example: web
                  field:
                    type: string
                    example: MonthlyUniqueVisitors
                  label:
                    type: string
                    example: Last 30 Days Uniques
            PublishersCount:
              type: integer
              example: 0
            CommentsCount:
              type: integer
              example: 6
      required:
      - type
      - href
      - OneSheet
    OneSheetUpdatedModel:
      type: object
      properties:
        Id:
          type: integer
          example: 64826
        templateId:
          type:
          - integer
          - 'null'
          example: 2351
      required:
      - Id
      - templateId
    OneSheetInCollection:
      type: object
      properties:
        type:
          type: string
          enum:
          - OneSheet
          description: Type of Search
          example: OneSheet
        href:
          type: string
          description: CreatorIQ API URL to get onesheet-related information
          format: URI
          example: https://apis.creatoriq.com/crm/v1/api/onesheet/99999
        OneSheet:
          type: object
          properties:
            Id:
              type: integer
              example: 395809
            PartnerId:
              type: integer
              example: 21
            Name:
              type: string
              example: LS - Test One-Sheet for 2305 - Stage
            VanityURL:
              type:
              - string
              - 'null'
              example: LS___Test_One_Sheet_for_2305___Stage_63d93cac18e7a
            Data:
              type:
              - string
              - 'null'
              description: JSON string containing OneSheet's data
              example: '{"Sections":{"PersonalData":1}}'
            CreatedBy:
              type: string
              example: New Manager User
            CreatedAt:
              type: string
              example: '2023-01-31 16:07:08'
            UpdatedBy:
              type:
              - string
              - 'null'
              example: New Manager User
            UpdatedAt:
              type: string
              example: '2023-01-31 16:46:50'
            Expired:
              type: boolean
              example: false
            ExpireAt:
              type:
              - string
              - 'null'
              example: '2023-02-28 23:59:00'
            DeleteAt:
              type:
              - string
              - 'null'
              example: null
            ExternalUser:
              type:
              - string
              - 'null'
              example: null
            IsPublished:
              type: integer
              example: 1
            SendNotifications:
              type: integer
              example: 0
            AllowComments:
              type: integer
              enum:
              - 0
              - 1
              example: 1
            NotifyEmails:
              type:
              - string
              - 'null'
              example: test1@test.com,test2@example.com
            SalesSheetImageURL:
              type: string
              format: URI
              example: https://s3.us-west-1.amazonaws.com/resources.creatoriq.com/whitelabelling/fyhte56ste/dark_logo_8dq7maua0m.png
            TopMetrics:
              type: array
              items:
                type: object
                properties:
                  network:
                    type: string
                    example: instagram
                  field:
                    type: string
                    example: Followers
                  label:
                    type: string
                    example: Followers
            CustomOrder:
              type:
              - string
              - 'null'
              example: null
            VanityHost:
              type:
              - string
              - 'null'
              example: http://onesheets.creatoriq.com
            DivisionId:
              type:
              - integer
              - 'null'
              example: null
            CreatedById:
              type: integer
              example: 1000120
            PublishersCount:
              type: integer
              example: 20
            Advertiser:
              type:
              - object
              - 'null'
              properties:
                AdvertiserId:
                  type: integer
                  example: 9999
                AdvertiserName:
                  type: string
                  example: Adv. Name
                Description:
                  type:
                  - string
                  - 'null'
                  example: Some description
              required:
              - AdvertiserId
            Campaign:
              type:
              - object
              - 'null'
              properties:
                CampaignId:
                  type: integer
                  example: 426161
                CampaignName:
                  type: string
                  example: Some Campaign name
            templateId:
              type: integer
              example: 7661
            TotalReachCalculation:
              type: string
              enum:
              - Selected
              - Full
              example: Full
            Sections:
              type: object
              properties:
                PersonalData:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataAge:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataCountry:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataGender:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataLanguage:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Audience:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceAge:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceGender:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceCountry:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceState:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceCity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceEthnicity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
                AudienceIncomeRange:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceInterests:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceBrands:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceHashTags:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceInfluencers:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                ContentRating:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                SocialMetricsAll:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                FeaturedSponsoredPosts:
                  type: integer
                  example: 1
                FeaturedVideos:
                  type: integer
                  example: 4
                SponsoredVideos:
                  type: integer
                  example: 4
                AllDescription:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Description:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                ShortDescription:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Categories:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Tags:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                SalesSheetImageURL:
                  type: integer
                  example: 1
                SalesSheetLogoURL:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                StatusInCampaign:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
            Template:
              type:
              - string
              - 'null'
              enum:
              - OneSheet
              - null
              example: OneSheet
            BrandingOptions:
              type: object
              properties:
                colorScheme:
                  type: object
                  properties:
                    name:
                      type: string
                      example: Default Theme
                    headerBgColor:
                      type: array
                      items:
                        type: string
                        example: '#262626'
                      example:
                      - '#262626'
                      - '#26001a'
                    headerTextColor:
                      type: string
                      example: '#f5f7fa'
                    introBgColor:
                      type: array
                      items:
                        type: string
                        example: '#4f4a9d'
                      example:
                      - '#4f4a9d'
                      - '#26001a'
                    introTextColor:
                      type: string
                      example: '#ffffff'
                    pageBgColor:
                      type: string
                      example: '#f5f5f5'
                    featuredBgColor:
                      type: array
                      items:
                        type: string
                        example: '#4f4a9d'
                      example:
                      - '#4f4a9d'
                      - '#f5f5f5'
                    featuredTextColor:
                      type: string
                      example: '#ffffff'
                leftAlignment:
                  type:
                  - boolean
                  - 'null'
                  example: false
                squareFrame:
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 0
                  - 1
                  - null
                  example: 0
                imageSize:
                  type: string
                  enum:
                  - small
                  - medium
                  - large
                  example: small
            AdvertiserName:
              type:
              - string
              - 'null'
              example: Ada Emetz
            CampaignName:
              type:
              - string
              - 'null'
              example: Test Campaign
            ACLSections:
              type: object
              properties:
                AudienceEthnicity:
                  type: integer
                  example: 1
                PersonalDataEthnicBackground:
                  type: integer
                  example: 1
                AudienceIncomeRange:
                  type: integer
                  example: 1
            isEnableThemeImageGlobal:
              type: boolean
              example: false
            isCreatorHighlights:
              type:
              - boolean
              - 'null'
              example: null
            IsSupportFeaturedCreators:
              type: boolean
              example: true
            CommentsCount:
              type: integer
              example: 0
          required:
          - Id
          - PartnerId
      required:
      - type
      - href
      - OneSheet
    ErrorResponse:
      type: object
      description: Exception
      properties:
        type:
          type: string
          description: Exception type
          example: CoreException
        CoreException:
          type: object
          description: Exception information
          properties:
            code:
              type: integer
              description: Exception status code
              format: int32
              example: 404
            message:
              type: string
              description: Exception message
              example: Supplied ID was not found
      required:
      - type
    UpdateOneSheetCreatorBody:
      type: object
      description: Update one-sheet creator request body
      properties:
        Description:
          type:
          - string
          - 'null'
          description: Description
          example: Long description text
        SalesSheetImageURL:
          type:
          - string
          - 'null'
          description: Sales one-sheet image URL
          format: URI
          maxLength: 1024
          example: https://socialedge-sales-sheet-publishers.s3.amazonaws.com/485110.jpg
        SalesSheetLogoURL:
          type:
          - string
          - 'null'
          description: Sales one-sheet logo URL
          format: URI
          maxLength: 1024
          example: https://social-pictures-storage.s3.amazonaws.com/talent_mayawashington_headshot1.jpg_1506633937.jpg
        ShortDescription:
          type:
          - string
          - 'null'
          description: Short description
          example: Short Description Text Example
        InternalNotes:
          type:
          - string
          - 'null'
          description: Internal notes
          example: Internal notes text example
        Sections:
          type:
          - string
          - 'null'
          description: Sections
          format: json
          maxLength: 2048
          example: '{"Musical.ly":1,"SalesSheetImageURL":1,"StatusInCampaign":1,"SocialMetrics":0,"SampleVideosPostBlog":1}'
        SortOrder:
          type:
          - number
          - 'null'
          description: Sort order
          format: float
          example: 1.1
        UpdatedBy:
          type:
          - string
          - 'null'
          description: Updated by
          maxLength: 128
          example: Name Surname
        CreatedBy:
          type:
          - string
          - 'null'
          description: Created by
          maxLength: 128
          example: Name Surname
        Approved:
          type:
          - boolean
          - 'null'
          description: Approved
          example: true
        Category:
          type:
          - string
          - 'null'
          description: Category
          maxLength: 1024
          example: '"Entertainment","Fitness","Lifestyle"'
        Tags:
          type:
          - string
          - 'null'
          description: Tags
          example: '"vlogger","beauty","goddard","F|challenge","F|parody","F|rachel","F|Fullscreen Affiliate"'
        AudienceSocialNetwork:
          type:
          - string
          - 'null'
          description: Audience social network
          maxLength: 50
          example: instagram
        AudienceSocialNetworkId:
          type:
          - string
          - 'null'
          description: Audience social network id
          maxLength: 128
          example: '2279929'
        AudienceType:
          type:
          - string
          - 'null'
          description: Audience type
          maxLength: 7
          example: Blended
        TopMetrics:
          type:
          - string
          - 'null'
          description: Top metrics
          maxLength: 1024
          example: '[{"network":"Youtube","field":"Followers","label":"subscribers"},{"network":"Facebook","field":"Followers","label":"likes"},{"network":"Twitter","field":"Followers","label":"followers"},{"network":"Instagram","field":"Followers","label":"followers"},{"network":"Google","field":"Followers","label":"followers"},{"network":"Tumblr","field":"Followers","label":"followers"},{"network":"Pinterest","field":"Followers","label":"followers"},{"network":"Snapchat","field":"AvgViewsPerPost","label":"views per snap"},{"network":"Web","field":"Followers","label":"uniques"}]'
        IsFeatured:
          type:
          - boolean
          - 'null'
          description: Is featured flag
          default: false
          example: true
        DescriptionVisibleSymbolsNumber:
          type:
          - integer
          - 'null'
          description: Description visible symbols number
          example: 123
        isPostMigrationProcess:
          type:
          - boolean
          - 'null'
          description: Is post migration process flag
          default: false
          example: true
      required:
      - Sections
      minProperties: 1
    OneSheetModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - OneSheet
          description: Type of Search
          example: OneSheet
        href:
          type: string
          description: CreatorIQ API URL to get onesheet
          format: URI
          example: https://apis.creatoriq.com/crm/v1/api/onesheet/99999
        OneSheet:
          type: object
          properties:
            Id:
              type: integer
              example: 414422
            PartnerId:
              type: integer
              example: 21
            Name:
              type: string
              example: GB Campaing
            VanityURL:
              type: string
              example: New_one_5c5da7f9c6b03
            Data:
              type:
              - string
              - 'null'
              description: JSON string containing OneSheet's data
              example: '{"Sections":{"PersonalData":1}}'
            CreatedBy:
              type: string
              example: New Manager User
            CreatedAt:
              type: string
              example: '2023-01-31 16:07:08'
            UpdatedBy:
              type:
              - string
              - 'null'
              example: New Manager User
            UpdatedAt:
              type: string
              example: '2023-01-31 16:46:50'
            Expired:
              type: boolean
              example: false
            ExpireAt:
              type:
              - string
              - 'null'
              example: '2023-02-28 23:59:00'
            DeleteAt:
              type:
              - string
              - 'null'
              example: null
            ExternalUser:
              type:
              - string
              - 'null'
              example: null
            IsPublished:
              type: integer
              enum:
              - 0
              - 1
              example: 1
            SendNotifications:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            AllowComments:
              type: integer
              enum:
              - 0
              - 1
              example: 1
            NotifyEmails:
              type:
              - string
              - 'null'
              example: test1@test.com,test2@example.com
            SalesSheetImageURL:
              type: string
              format: URI
              example: https://social-pictures-storage.s3.amazonaws.com/11e27a5b09bad47e89608ab1343bc6ea.jpeg
            TopMetrics:
              type: array
              items:
                type: object
                properties:
                  network:
                    type: string
                    example: web
                  field:
                    type: string
                    example: MonthlyUniqueVisitors
                  label:
                    type: string
                    example: Last 30 Days Uniques
            CustomOrder:
              type:
              - string
              - 'null'
              example: null
            VanityHost:
              type:
              - string
              - 'null'
              example: http://onesheets.creatoriq.com
            DivisionId:
              type:
              - integer
              - 'null'
              example: null
            CreatedById:
              type: integer
              example: 1000120
            PublishersCount:
              type: integer
              example: 28
            CreatedByEmail:
              type:
              - string
              - 'null'
              description: Email of the person who has created a OneSheet. Empty when created via API.
              format: email
              example: someemail@google.com
            LastPublishedByEmail:
              type:
              - string
              - 'null'
              description: Email of the person who last published OneSheet. Empty if not yet published (check the IsPublished flag) or published via API.
              format: email
              example: someemail@google.com
            Advertiser:
              type:
              - object
              - 'null'
              properties:
                AdvertiserId:
                  type: integer
                  example: 9999
                AdvertiserName:
                  type: string
                  example: Adv. Name
                Description:
                  type:
                  - string
                  - 'null'
                  example: Some description
              required:
              - AdvertiserId
            Campaign:
              type:
              - object
              - 'null'
              properties:
                CampaignId:
                  type: integer
                  example: 804838
                CampaignName:
                  type: string
                  example: Some Campaign name
            CreatedFromCampaign:
              type: boolean
              example: true
            Sections:
              type: object
              properties:
                PersonalData:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataAge:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataCountry:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataGender:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataLanguage:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Audience:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceAge:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceGender:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceCountry:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceState:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceCity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceEthnicity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
                AudienceIncomeRange:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceInterests:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceBrands:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceHashTags:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceInfluencers:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                ContentRating:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                SocialMetricsAll:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                FeaturedSponsoredPosts:
                  type: integer
                  example: 1
                FeaturedVideos:
                  type: integer
                  example: 4
                SponsoredVideos:
                  type: integer
                  example: 4
                AllDescription:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Description:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                ShortDescription:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Categories:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Tags:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                SalesSheetImageURL:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                SalesSheetLogoURL:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                StatusInCampaign:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
            Template:
              type:
              - string
              - 'null'
              enum:
              - OneSheet
              - null
              example: OneSheet
            TotalReachCalculation:
              type: string
              enum:
              - Selected
              - Full
              example: Selected
            DisplayFeaturedCreators:
              type: boolean
              example: false
            isPdfNumberingFromConfig:
              type: boolean
              example: true
            SettingsFeatured:
              type: object
              description: SettingsFeatured
              properties:
                IsSupportFeaturedCreators:
                  type: boolean
                  example: true
                FeaturedTitle:
                  type: string
                  example: Title
                FeaturedDescription:
                  type: string
                  example: Description
                FeaturedNumbersToShow:
                  type: integer
                  example: 1
            isCreatorHiglights:
              type:
              - boolean
              - 'null'
              example: false
            AdvertiserName:
              type:
              - string
              - 'null'
              example: Qa_aQ
            CampaignName:
              type:
              - string
              - 'null'
              example: Some campaign
            BrandingOptions:
              type: object
              properties:
                colorScheme:
                  type: object
                  properties:
                    name:
                      type: string
                      example: name
                    headerBgColor:
                      type: array
                      items:
                        type: string
                        example: '#223a99'
                      example:
                      - '#ffaa00'
                      - '#223a99'
                    headerTextColor:
                      type: string
                      example: '#223a99'
                    introBgColor:
                      type: array
                      items:
                        type: string
                        example: '#223a99'
                      example:
                      - '#ffaa00'
                      - '#223a99'
                    introTextColor:
                      type: string
                      example: '#223a99'
                    pageBgColor:
                      type: string
                      example: '#223a99'
                    featuredBgColor:
                      type: array
                      items:
                        type: string
                        example: '#223a99'
                      example:
                      - '#ffaa00'
                      - '#223a99'
                    featuredTextColor:
                      type: string
                      example: '#223a99'
                leftAlignment:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                squareFrame:
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 0
                  - 1
                  - null
                  example: 0
                imageSize:
                  type: string
                  enum:
                  - small
                  - medium
                  - large
                  example: small
            ACLSections:
              type: object
              properties:
                AudienceEthnicity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                PersonalDataEthnicBackground:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                AudienceIncomeRange:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
            isEnableThemeImageGlobal:
              type: boolean
              example: false
            CommentsCount:
              type: integer
              example: 0
      required:
      - type
      - href
      - OneSheet
    PublishOneSheetResponse:
      type: object
      description: Publish one-sheet response
      properties:
        url:
          type: string
          description: Publish one-sheet response URL
          format: URI
          example: http://onesheets.creatoriq.com/One_Sheet_15_02_63ecf14d1d3a7
      required:
      - url
    OneSheetCreatorModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - OneSheetPublisher
          description: Type of Search
          example: OneSheetPublisher
        href:
          type: string
          description: CreatorIQ API URL to get onesheet's creator
          format: URI
          example: https://apis.creatoriq.com/crm/v1/api/onesheet/396725/publisher/13201168?fields=infoForAdvertisers,isPostMigrationProcess
        OneSheetPublisher:
          type: object
          properties:
            Id:
              type: integer
              example: 7252
            Linked:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            LinkBroken:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            Unlinked:
              type: integer
              enum:
              - 0
              - 1
              example: 1
            Verified:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            SortOrder:
              type: integer
              description: The SortOrder field indicates the numeric position of a creator within a specific OneSheet. It represents the order in which creators are arranged, with smaller values typically indicating earlier positions in a OneSheet
              example: 1
            Approved:
              type:
              - integer
              - 'null'
              example: 53826
            Sections:
              type: object
              properties:
                AudienceEthnicity:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
                AudienceInterests:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
                PersonalDataLanguage:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
              required:
              - AudienceEthnicity
              - AudienceInterests
              - PersonalDataLanguage
            TopMetrics:
              type: array
              items:
                type: object
                properties:
                  network:
                    type: string
                    example: snapchat
                  field:
                    type: string
                    example: MonthlyVisitors
                  label:
                    type: string
                    example: Views per Snap
                required:
                - network
                - field
                - label
            Data:
              type: object
              properties:
                summary:
                  type: object
                  properties:
                    PublisherId:
                      type: integer
                      example: 54376
                    PublisherName:
                      type: string
                      example: Publisher Name
                    LogoURL:
                      type: string
                      format: URI
                      example: https://static-resources.creatoriq.com/social-pictures/facebook/thumbnail/104195071315211.jpg
                    LogoHighResURL:
                      type: string
                      format: URI
                      example: https://static-resources.creatoriq.com/social-pictures/facebook/thumbnail/104195071315211.jpg
                    EthnicBackground:
                      type:
                      - string
                      - 'null'
                      example: Caucasian
                    PublisherVerified:
                      type: integer
                      enum:
                      - 0
                      - 1
                      example: 0
                    Description:
                      type: string
                      example: some description
                    ShortDescription:
                      type:
                      - string
                      - 'null'
                      example: some short description
                    SalesSheetLogoURL:
                      type:
                      - string
                      - 'null'
                      format: URI
                      example: https://social-pictures-storage.s3.amazonaws.com/11e27a5b09bad47e89608ab1343bc6efb.jpeg
                    SalesSheetImageURL:
                      type:
                      - string
                      - 'null'
                      format: URI
                      example: https://social-pictures-storage.s3.amazonaws.com/11e27a5b09bad47e89608ab1343bc6def.jpeg
                    Tags:
                      type:
                      - string
                      - 'null'
                      example: '"F|som1","Test|436"'
                    Category:
                      type:
                      - string
                      - 'null'
                      example: some
                    InternalNotes:
                      type:
                      - string
                      - 'null'
                      example: some
                    IsFeatured:
                      type: boolean
                      example: true
                    AudienceSocialNetwork:
                      type:
                      - string
                      - 'null'
                      example: facebook
                    AudienceSocialNetworkId:
                      type:
                      - string
                      - 'null'
                      example: jtsu46u
                    AudienceType:
                      type: string
                      example: Blended
                    Age:
                      type: integer
                      example: 33
                    DateOfBirth:
                      type: string
                      example: '1993-08-14'
                    Language:
                      type: string
                      example: Czech
                    Gender:
                      type: string
                      example: Male
                    Channel:
                      type:
                      - string
                      - 'null'
                      example: '104195071315247'
                    ChannelName:
                      type: string
                      example: jtsu46u
                    FlagshipProperty:
                      type: string
                      example: jtsu46u
                    FlagshipSocialNetwork:
                      type: string
                      example: facebook
                    FlagshipPropertyTitle:
                      type: string
                      example: Jitsu-46
                    Country:
                      type:
                      - string
                      - 'null'
                      example: USA
                    ContentRating:
                      type:
                      - string
                      - 'null'
                      enum:
                      - G
                      - PG
                      - PG-13
                      - R
                      - NC-17
                      - null
                      example: PG-13
                    FB_Likes:
                      type:
                      - integer
                      - 'null'
                      example: 5416
                    YT_Subscribers:
                      type:
                      - integer
                      - 'null'
                      example: 15624
                    YT_TotalViews:
                      type:
                      - integer
                      - 'null'
                      example: 773424
                    YT_AverageMonthlyViews:
                      type:
                      - integer
                      - 'null'
                      example: 626
                    YT_AvgLastViewsPerVideo:
                      type:
                      - integer
                      - 'null'
                      example: 752
                    TW_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 82
                    VN_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 25
                    IN_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 7264
                    GP_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 6436
                    TB_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 26262
                    PN_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 773
                    SC_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 257
                    WB_Followers:
                      type:
                      - integer
                      - 'null'
                      example: 126
                    SocialAccountsList:
                      type: object
                      properties:
                        facebook:
                          type: array
                          items:
                            type: object
                            properties:
                              Network:
                                type: string
                                example: facebook
                              SocialNetworkId:
                                type: string
                                example: '314675243467123'
                              NetworkUser:
                                type: string
                                example: someuser
                              AccountWeight:
                                type: integer
                                example: 10
                              WebReach:
                                type: integer
                                example: 0
                              Title:
                                type: string
                                example: Some User
                              Followers:
                                type: integer
                                example: 14183
                              LinkedBy:
                                type:
                                - string
                                - 'null'
                                example: Oleks
                              LinkedAt:
                                type:
                                - string
                                - 'null'
                                example: '2021-03-20 14:55:43'
                              isVerifiedBySocialNetwork:
                                type: integer
                                enum:
                                - 0
                                - 1
                                example: 1
                              Linked:
                                type: integer
                                enum:
                                - 0
                                - 1
                                example: 1
                              Unlinked:
                                type: integer
                                enum:
                                - 0
                                - 1
                                example: 1
                              LinkBroken:
                                type: integer
                                enum:
                                - 0
                                - 1
                                example: 1
                              Business:
                                type: integer
                                enum:
                                - 0
                                - 1
                                example: 1
                              TokenInvalidDate:
                                type:
                                - string
                                - 'null'
                                example: '2022-10-20 03:11:57'
                              DateSocialStatsUpdated:
                                type:
                                - string
                                - 'null'
                                example: '2023-02-06T22:31:00'
                              WhitelistingExpirationDate:
                                type:
                                - string
                                - 'null'
                                example: '2023-08-31T07:00:19+00:00'
                            required:
                            - Network
                            - SocialNetworkId
                            - NetworkUser
                            - AccountWeight
                            - WebReach
                            - Title
                            - Followers
                            - LinkedBy
                            - LinkedAt
                            - isVerifiedBySocialNetwork
                            - Linked
                            - Unlinked
                            - LinkBroken
                            - Business
                            - TokenInvalidDate
                            - DateSocialStatsUpdated
                            - WhitelistingExpirationDate
                    StatusInCampaign:
                      type:
                      - string
                      - 'null'
                      enum:
                      - Accepted
                      - Invited
                      - Selected
                      - Declined
                      - Candidate
                      - Interested
                      - null
                      example: Accepted
                    Metrics:
                      type: array
                      items:
                        type: object
                        properties:
                          Network:
                            type: string
                            example: facebook
                          Followers:
                            type: integer
                            example: 7133
                          EngagementRate:
                            type: number
                            example: 0.0001
                          TotalPosts:
                            type:
                            - integer
                            - 'null'
                            example: 525
                          TotalViews:
                            type:
                            - integer
                            - 'null'
                            example: 525
                          TotalLikes:
                            type:
                            - integer
                            - 'null'
                            example: 2158
                          TotalComments:
                            type:
                            - integer
                            - 'null'
                            example: 11
                          TotalShares:
                            type:
                            - integer
                            - 'null'
                            example: 642
                          AverageMonthlyViews:
                            type:
                            - number
                            - 'null'
                            example: 3.7338
                          AvgStreamConcurrentViews:
                            type:
                            - number
                            - 'null'
                            example: 62.4372
                          PeakStreamConcurrentViews:
                            type:
                            - number
                            - 'null'
                            example: 373.2483
                          AvgLikesPerPost:
                            type:
                            - integer
                            - 'null'
                            example: 100
                          AvgCommentsPerPost:
                            type:
                            - integer
                            - 'null'
                            example: 27
                          AvgSharesPerPost:
                            type:
                            - number
                            - 'null'
                            example: 0.1667
                          AvgViewsPerPost:
                            type:
                            - number
                            - 'null'
                            example: 2.832
                          TotalVideos:
                            type:
                            - integer
                            - 'null'
                            example: 272
                          EngagementPercentage:
                            type:
                            - number
                            - 'null'
                            example: 0.0001
                          Last30DaysViews:
                            type:
                            - integer
                            - 'null'
                            example: 27
                          MonthlyUniqueVisitors:
                            type:
                            - integer
                            - 'null'
                            example: 27485
                          MonthlyVisitors:
                            type:
                            - integer
                            - 'null'
                            example: 2178
                          ThreeMonthAverageSessionDuration:
                            type:
                            - integer
                            - 'null'
                            example: 27
                          ThreeMonthAverageViewsPerSession:
                            type:
                            - integer
                            - 'null'
                            example: 289
                          ThreeMonthAverageVisitors:
                            type:
                            - integer
                            - 'null'
                            example: 852
                          NumberOfPosts:
                            type:
                            - integer
                            - 'null'
                            example: 511
                          Stories:
                            type:
                            - integer
                            - 'null'
                            example: 27
                          StoriesViewCount:
                            type:
                            - integer
                            - 'null'
                            example: 78
                          VideoDuration:
                            type:
                            - number
                            - 'null'
                            example: 20.7302
                          EstimatedUniqueStreamViews:
                            type:
                            - integer
                            - 'null'
                            example: 22
                          Subscribers:
                            type:
                            - integer
                            - 'null'
                            example: 94
                          ViewsVideoCount:
                            type:
                            - integer
                            - 'null'
                            example: 20
                          NumberFollowing:
                            type:
                            - integer
                            - 'null'
                            example: 27
                          AvgLastCommentsPerVideo:
                            type:
                            - number
                            - 'null'
                            example: 8.3405
                          AvgLastLikesPerVideo:
                            type:
                            - number
                            - 'null'
                            example: 100.8243
                          AvgLastViewsPerVideo:
                            type:
                            - number
                            - 'null'
                            example: 50.7859
                          MedianViews:
                            type:
                            - integer
                            - 'null'
                            example: 30
                        required:
                        - Network
                    AgeRange:
                      type:
                      - string
                      - 'null'
                      example: 0-18
                    LinkToAccount:
                      type: string
                      format: URI
                      example: https://facebook.com/82586935257281
                    LinkToChannel:
                      type: string
                      format: URI
                      example: https://www.youtube.com/channel/UCEgdi0XIyXZ-qJOFPf4rSKw
                    metrics:
                      type:
                      - object
                      - 'null'
                      properties:
                        facebook:
                          type: array
                          items:
                            type: object
                            properties:
                              field:
                                type: string
                                example: Followers
                              label:
                                type: string
                                example: Followers
                              isEditable:
                                type: boolean
                                example: true
                              keyMetric:
                                type: boolean
                                example: true
                              oneSheetTopMetric:
                                type: boolean
                                example: false
                              uiOrder:
                                type: integer
                                example: 7
                              uiHelp:
                                type: string
                                example: Requires linked social accounts
                              postType:
                                type: string
                                example: video
                              value:
                                type:
                                - number
                                - 'null'
                                example: 1125.7347
                            required:
                            - field
                            - label
                            - isEditable
                            - keyMetric
                            - uiOrder
                            - value
                  required:
                  - PublisherId
                isPostMigrationProcess:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 0
                infoForAdvertisers:
                  type:
                  - object
                  - 'null'
                  properties:
                    FeaturedVideo1:
                      type: string
                      format: URI
                      example: https://facebook.com/someuser/posts/92586543699104
                    SponsoredVideo1:
                      type: string
                      format: URI
                      example: https://facebook.com/someuser/posts/21578246625726
                ChannelIds:
                  type: string
                  description: Youtube Channels comma-separated list
                  example: UCEgdi0XIyXZ-qJOFPf4rSKw
              required:
              - summary
          required:
          - Id
          - Linked
          - LinkBroken
          - Unlinked
          - Verified
          - SortOrder
          - Approved
          - Sections
          - Data
      required:
      - type
      - href
    OneSheetCreatorsModel:
      type: array
      items:
        type: object
        properties:
          PublisherId:
            type: integer
            example: 52362
          PublisherName:
            type: string
            example: Creator Name
          InvitedToPortal:
            type: integer
            enum:
            - 0
            - 1
            example: 0
          LastUpdated:
            type: string
            example: '2023-01-27 12:53:55'
          Language:
            type:
            - string
            - 'null'
            example: Czech
          LogoURL:
            type: string
            format: URI
            example: https://social-pictures-storage.s3.amazonaws.com/43389c13bcf54f4d3b02809c2cbc40b2_5466075.jpeg
          Tags:
            type:
            - string
            - 'null'
            example: Tag1,Tag2,TagN
          Approved:
            type:
            - integer
            - 'null'
            enum:
            - 0
            - 1
            - null
            example: 0
          Position:
            type: integer
            description: The position field indicates the numeric position of a creator within a specific OneSheet. It represents the order in which creators are arranged, with smaller values typically indicating earlier positions in a OneSheet.
            example: 2
        required:
        - PublisherId
        - PublisherName
        - InvitedToPortal
        - LastUpdated
        - Language
        - LogoURL
        - Tags
    OneSheetsCollectionModel:
      type: object
      properties:
        type:
          type: string
          enum:
          - OneSheetsCollection
          description: Type of Search
          example: OneSheetsCollection
        href:
          type: string
          description: CreatorIQ API URL to get a collection of onesheets
          format: URI
          example: https://apis.creatoriq.com/crm/v1/api/onesheets
        count:
          type: integer
          description: Number of records in current response
          example: 20
        total:
          type: integer
          description: Total number of found rows
          example: 1704
        page:
          type: integer
          description: Current page
          example: 2
        OneSheetsCollection:
          type: array
          items:
            $ref: '#/components/schemas/OneSheetInCollection'
      required:
      - type
      - href
      - count
      - total
      - page
      - OneSheetsCollection
    UpdateOneSheetBody:
      type: object
      properties:
        Name:
          type: string
          description: Name of OneSheet
          example: Test OneSheet
        TotalReachCalculation:
          type: string
          enum:
          - Selected
          - Full
        templateId:
          type: integer
          example: 2351
        Expired:
          type: boolean
          example: true
        Template:
          type: string
          enum:
          - OneSheet
          example: OneSheet
        VanityURL:
          type: string
          example: Test_OneSheet_63dcba77c85
        NotifyEmails:
          type:
          - string
          - 'null'
          example: test1@test.com,test2@example.com
        ACLSections:
          type: object
          properties:
            AudienceEthnicity:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            PersonalDataEthnicBackground:
              type: integer
              enum:
              - 0
              - 1
              example: 0
            AudienceIncomeRange:
              type: integer
              enum:
              - 0
              - 1
              example: 0
          required:
          - AudienceEthnicity
          - PersonalDataEthnicBackground
          - AudienceIncomeRange
        isEnableThemeImageGlobal:
          type: boolean
          example: true
        isCreatorHighlights:
          type:
          - string
          - 'null'
          example: '1'
        IsSupportFeaturedCreators:
          type: boolean
          example: true
        BrandLogoImageURL:
          type:
          - string
          - 'null'
          format: URI
          example: https://social-pictures-storage.s3.amazonaws.com/6df9256e14d5cba4fa663acb252cb33f_7800601.jpeg
        SalesSheetImageURL:
          type:
          - string
          - 'null'
          format: URI
          example: https://social-pictures-storage.s3.amazonaws.com/6df9256e14d5cba4fa663acb252cb33f_7800601.jpeg
        BrandingOptions:
          type: object
          properties:
            colorScheme:
              type: object
              properties:
                name:
                  type: string
                  example: name
                headerBgColor:
                  type: array
                  items:
                    type: string
                    example: '#223a99'
                  example:
                  - '#ffaa00'
                  - '#223a99'
                headerTextColor:
                  type: string
                  example: '#223a99'
                introBgColor:
                  type: array
                  items:
                    type: string
                    example: '#223a99'
                  example:
                  - '#ffaa00'
                  - '#223a99'
                introTextColor:
                  type: string
                  example: '#223a99'
                pageBgColor:
                  type: string
                  example: '#223a99'
                featuredBgColor:
                  type: array
                  items:
                    type: string
                    example: '#223a99'
                  example:
                  - '#ffaa00'
                  - '#223a99'
                featuredTextColor:
                  type: string
                  example: '#223a99'
              required:
              - name
              - headerBgColor
              - headerTextColor
              - introBgColor
              - introTextColor
              - pageBgColor
              - featuredBgColor
              - featuredTextColor
            leftAlignment:
              type: integer
              enum:
              - 0
              - 1
              example: 1
            squareFrame:
              type:
              - integer
              - 'null'
              enum:
              - 0
              - 1
              - null
              example: 0
            imageSize:
              type: string
              enum:
              - small
              - medium
              - large
              example: small
          minProperties: 1
        Sections:
          type: object
          properties:
            Audience:
              type: integer
              example: 0
            AudienceAge:
              type: integer
              example: 0
            AudienceBrands:
              type: integer
              example: 0
            AudienceCity:
              type: integer
              example: 0
            AudienceCountry:
              type: integer
              example: 0
            AudienceEthnicity:
              type: integer
              example: 0
            AudienceGender:
              type: integer
              example: 0
            AudienceInfluencers:
              type: integer
              example: 0
            AudienceInterests:
              type: integer
              example: 0
            AudienceState:
              type: integer
              example: 0
          minProperties: 1
      minProperties: 1
    ApprovePublisherToOneSheetBody:
      type: object
      properties:
        Approved:
          type: boolean
          example: true
        ApprovedBy:
          type: object
          properties:
            Email:
              type: string
              example: test1@example.com
            Name:
              type: string
              example: First Last
          required:
          - Email
          - Name
      required:
      - Approved
      - ApprovedBy
    commonResponse:
      type: object
      properties:
        count:
          type: integer
          description: Count of all reports
          example: 300
        dataGenerationTime:
          type: string
          description: Date when report generated
          example: '2023-01-20T13:43:47+00:00'
        cached:
          type: boolean
          description: Is view cached or not
        time:
          type: number
          description: Time taken to generate report
          format: float32
          example: 0.571
      required:
      - count
      - dataGenerationTime
      - cached
      - time
    generalSchema:
      type: object
      properties:
        TaskId:
          type: string
          description: Unique id of report
          example: 79985e5d-8871-4f38-be44-605d58f90bd9
        TaskStatus:
          type: string
          enum:
          - CREATED
          - PROCESSING
          - DONE
          description: "Status of request. \n* CREATED: represents of new created report\n* PROCESSING: your report is progress \n* DONE: your report is ready. Result present in  **Result => Headers => Location URL**\n"
        CreatedAtTS:
          type: integer
          description: Timestamp when task is created in seconds
          example: 1674135497
        UpdatedAtTS:
          type: integer
          description: Timestamp when task is updated in seconds
          example: 1674135497
        ExpiresAtTS:
          type: integer
          description: Timestamp when task is expired in seconds.
          example: 1674136497
        CreatedAt:
          type: string
          description: Date which task created in human readable format
          example: 2023-01-19T13:38:17+0000
        UpdatedAt:
          type: string
          description: Date which task updated in human readable format
          example: 2023-01-19T13:38:17+0000
        ExpiredAt:
          type: string
          description: Date which task updated in human readable format
          example: 2023-01-19T13:38:17+0000
        Metadata:
          type: object
          properties:
            PartnerId:
              type: integer
              example: 21
            Gri:
              type: object
              description: Used for logging
            ValidUntil:
              type: string
              example: 2023-01-19T14:08:16+0000
            ValidUntilTS:
              type: integer
              example: 1674137296
        Result:
          type: object
          oneOf:
          - type: object
            description: If your object ready you fetch you receive 302 result
            properties:
              Status:
                type: integer
                description: Http status of response
                example: 302
              Body:
                type: string
                description: Empty string represents body of response.
                example: ''
              Headers:
                type: object
                properties:
                  Cache-Control:
                    type: string
                    example: max-age=7200
                  Date:
                    type: string
                    example: Thu, 19 Jan 2023 13:39:22 +0000
                  Location:
                    type: string
                    description: Most important field! Result location of data
                    readOnly: true
                    example: https://ciq-api-async-results-data.s3.us-west-1.amazonaws.com/creatoriq-live/report.json
                required:
                - Location
            required:
            - Status
            - Headers
          - type: object
            description: If your report not ready empty object
      required:
      - TaskId
      - TaskStatus
      - CreatedAtTS
      - UpdatedAtTS
      - ExpiresAtTS
      - CreatedAt
      - UpdatedAt
      - ExpiredAt
      - Result
    oneSheetBuilder:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                PublisherId:
                  type: integer
                  example: 61461
                PublisherName:
                  type: string
                  example: Aircooler
                LogoURL:
                  type: string
                  description: Publisher Logo URL
                  format: URI
                  example: https://site.with/publisherLogoUrl.png
                SalesSheetLogoURL:
                  type: string
                  description: OneSheet Logo URL
                  format: URI
                  example: https://site.with/oneSheetLogoUrl.png
                Description:
                  type: string
                  example: Publisher's description
                Tags:
                  type:
                  - string
                  - 'null'
                  description: Comma-separated list of Tags
                  example: '"gaming","xbox","ps4"'
                Category:
                  type: string
                  example: '"Gaming"'
                FlagshipProperty:
                  type:
                  - string
                  - 'null'
                  description: Main social account handle of publisher
                  example: aircooler
                FlagshipSocialNetwork:
                  type:
                  - string
                  - 'null'
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  - null
                  description: Main social network for publisher
                  example: twitch
                FlagshipPropertyTitle:
                  type:
                  - string
                  - 'null'
                  description: Title of main social account in publisher
                  example: Air Cooler
                SocialAccountsList:
                  type:
                  - string
                  - 'null'
                  description: XML representation of publisher's Social Accounts
                  example: <row xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Network>youtube</Network><SocialNetworkId>UCz0ZQtO9CsC1WYIixZiKRRR</SocialNetworkId><NetworkUser>@aircooler</NetworkUser><AccountWeight>12</AccountWeight><WebReach>0</WebReach><Title>Air Cooler</Title><Followers>9260</Followers><LinkedBy xsi:nil="true"/><LinkedAt xsi:nil="true"/><isVerifiedBySocialNetwork>0</isVerifiedBySocialNetwork><Linked>0</Linked><Unlinked>1</Unlinked><LinkBroken>0</LinkBroken><Business>0</Business><TokenInvalidDate xsi:nil="true"/><DateSocialStatsUpdated>2023-02-22T15:30:00</DateSocialStatsUpdated><WhitelistingExpirationDate xsi:nil="true"/></row>
                Metrics:
                  type: string
                  example: '[{"Network":"twitch","Followers":1037269,"EngagementRate":null,"TotalPosts":null,"TotalViews":8181098,"TotalLikes":null}]'
                CommentsCount:
                  type: integer
                  example: 0
                TopMetrics:
                  type:
                  - string
                  - 'null'
                  example: '[{"network":"Youtube","field":"Followers","label":"subscribers"}]'
                TotalSubscribers:
                  type: integer
                  example: 3042857
                OneSheetTopMetrics:
                  type:
                  - string
                  - 'null'
                  example: '{"Template":"SalesSheet","CreatedFromCampaign":false,"Sections":{"Youtube":1,"Twitter":1,"Facebook":1,"Instagram":1,"Google":1,"Vine":1,"Tumblr":0,"Pinterest":0,"Snapchat":0,"Web":0,"Audience":1,"Categories":1,"Tags":1,"PersonalData":1,"FeaturedVideos":1,"SponsoredVideos":1,"Description":1,"ShortDescription":1},"TopMetrics":[{"network":"Youtube","field":"Followers","label":"subscribers"},{"network":"Facebook","field":"Followers","label":"likes"}]}'
                Approved:
                  type:
                  - boolean
                  - 'null'
                  example: true
                Sections:
                  type:
                  - string
                  - 'null'
                  example: '{"Tumblr":1,"Pinterest":1,"Snapchat":1,"Web":1,"Audience":0,"FeaturedVideos":0,"SponsoredVideos":0,"ShortDescription":0,"Categories":0,"Tags":0}'
                SortOrder:
                  type: integer
                  example: 1
                UpdatedAt:
                  type:
                  - string
                  - 'null'
                  example: '2023-02-01 10:49:22'
                CreatedAt:
                  type:
                  - string
                  - 'null'
                  example: '2023-02-01 10:49:22'
                IsFeatured:
                  type:
                  - boolean
                  - 'null'
                  example: false
                Linked:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Unlinked:
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 0
                  - 1
                  - null
                  example: 1
                LinkBroken:
                  type: integer
                  enum:
                  - 0
                  - 1
                  example: 1
                Verified:
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 0
                  - 1
                  - null
                  example: 1
                SocialMetrics:
                  type: string
                  example: '[{"Id":25520593,"Network":"twitch","SocialNetworkId":"178238725","NetworkUser":"aircool","Followers":1037269,"NumberOfPosts":null}]'
                SalesSheetsPublisherId:
                  type: integer
                  example: 11111
              required:
              - PublisherId
              - PublisherName
        required:
        - results
  responses:
    OneSheetCreators:
      description: Array of Creators of Onesheet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetCreatorsModel'
    OneSheetsCollection:
      description: One-sheets collection
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetsCollectionModel'
    OneSheetCreated:
      description: OneSheet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetCreatedModel'
    PublishOneSheet:
      description: Publish one-sheet response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PublishOneSheetResponse'
    OneSheetSingle:
      description: OneSheet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetModel'
    '403':
      description: Access was denied due to the API has insufficient access permissions
    '401':
      description: Incorrect x-api-key
    OneSheetUpdated:
      description: OneSheet updated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetUpdatedModel'
    '404':
      description: OneSheet with supplied ID not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    OneSheetCreator:
      description: Creator of Onesheet
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OneSheetCreatorModel'
    '400':
      description: Bad request, invalid OneSheetId format or something goes wrong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    oneSheetBuilder:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/oneSheetBuilder'
    asyncResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generalSchema'
  parameters:
    skip:
      name: requestData[skip]
      in: query
      description: Number of rows to skip
      schema:
        type: integer
        example: 0
      examples:
        default:
          value: 0
    section:
      name: section
      in: query
      description: Default section
      schema:
        type: string
        enum:
        - default
[...]
