openapi: 3.2.0
info:
  version: 1.0.0
  title: CreatorIQ Reporting API
  description: This is reporting async API
  termsOfService: https://www.creatoriq.com/legal/terms-of-use
  contact:
    name: CreatorIQ
    url: https://www.creatoriq.com
    email: support@creatoriq.com
  license:
    url: http://www.apache.org/licenses/LICENSE-2.0.html
    name: Apache 2.0
servers:
- url: https://apis.creatoriq.com
  description: Live
security:
- apiKey: []
tags:
- name: Reporting
  description: Reporting
paths:
  /crm/v1/api/view?view=Reports/Campaigns/CampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get campaign post statistics
      description: Your report will be stored at Result => Headers => Location url when status task is DONE
      operationId: getCampaignPosts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: "Field for sorting can be sorted by \n* CampaignName\n* Comments\n* Likes\n* SocialNetwork\n* Reach\n* PublisherName\n* FlagshipPropertyTitle : represents primary account\n"
        schema:
          type: string
          enum:
          - CampaignName
          - Comments
          - Likes
          - SocialNetwork
          - Reach
          - PublisherName
          - FlagshipPropertyTitle
          example: CampaignName
        examples:
          default:
            value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignPostReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignsSummary:
    get:
      tags:
      - Reporting
      summary: Get campaign summary report
      description: Get statistics for all campaigns like number of creators, number of posts by campaign
      operationId: getSummaryReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: "Can sort by \n*  CampaignId\n*  CampaignName\n*  YTPosts: count of Youtube posts\n"
        schema:
          type: string
          enum:
          - CampaignId
          - CampaignName
          - YTPosts
          example: CampaignId
        examples:
          default:
            value: CampaignId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignSummaryReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignsTopInfluencers:
    get:
      tags:
      - Reporting
      summary: Get campaigns top creators
      description: Fetch top influencers by all campaigns
      operationId: getCampaignsTopInfluencers
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: "Top influencers can by sorted by \n* NumOfPosts: number of posts\n* TotalSubscribers: number of subscribers\n"
        schema:
          type: string
          enum:
          - NumOfPosts
          - TotalSubscribers
          example: NumOfPosts
        examples:
          default:
            value: NumOfPosts
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignTopInfluencers'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignPublishers:
    get:
      tags:
      - Reporting
      summary: Get Campaign publishers report
      description: Fetch info for publishers in campaigns
      operationId: getCampaignPublishersReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: 'Publishers field for sort

          * FlagshipPropertyTitle: Sort by primary account

          '
        schema:
          type: string
          enum:
          - CampaignName
          - CampaignId
          - CampaignStatus
          - PublisherName
          - FlagshipPropertyTitle
          example: CampaignName
        examples:
          default:
            value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignPublishers'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignVideos:
    get:
      tags:
      - Reporting
      summary: Get videos views for all campaign videos
      description: Fetch video statistics by campaign like views, video title, creator
      operationId: getCampaignVideos
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: 'Publishers field for sort

          * FlagshipPropertyTitle: Sort by primary account

          * Post : sort by video title

          * DateSubmittedF : sort by DateUploaded time

          '
        schema:
          type: string
          enum:
          - CampaignName
          - CampaignId
          - PublisherName
          - FlagshipPropertyTitle
          - Post
          - Views
          - DateSubmitted
          example: CampaignName
        examples:
          default:
            value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignVideos'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/InstagramCampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get Instagram campaign posts statistics
      description: Fetch Instagram posts statistics by campaign
      operationId: getInstagramPostsStatistics
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/section'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/year'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - CampaignName
          - SocialHandle
          - PostDate
          - Followers
          - BrandName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/instagramCampaignPosts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/InstagramWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get Instagram weekly updates
      description: Fetch all posts which updated in campaigns last week
      operationId: getInstagramWeeklyVideos
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: 'Fields for sort

          * WeekNum: Date start of the week when calculated metrics delta

          '
        schema:
          type: string
          enum:
          - PublisherName
          - WeekNum
          - CampaignName
          - PostLink
          - BrandName
          - PostType
          - PostDate
          - PostStatus
          - Likes
          - Impressions
          - Comments
          - Reach
          - Saved
          - SMV
          - Followers
          example: WeekNum
        examples:
          default:
            value: WeekNum
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/instagramWeeklyCampaignUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/YoutubeCampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get info for youtube campaign posts
      description: Fetch statistics for youtube campaign posts
      operationId: getYoutubeCampaignPosts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - SocialHandle
          - CampaignName
          - BrandName
          - PostLink
          - PostDate
          - PostTitle
          - SMV
          - Views
          - Engagement
          - Followers
          example: SocialHandle
        examples:
          default:
            value: SocialHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/youtubeCampaignPosts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/YoutubeWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get youtube weekly campaign updates
      description: Statistic for youtube post in all campaigns in one week
      operationId: getYoutubeWeeklyCampaignUpdates
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - WeekNum
          - CampaignName
          - BrandName
          - PostLink
          - PostDate
          - PostTitle
          - SMV
          - Views
          - Engagement
          - Followers
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/youtubeWeeklyCampaignUpdates'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/Summary:
    get:
      tags:
      - Reporting
      summary: Get fraud statistics for publishers
      description: Get fraud statistics for publishers in all campaigns
      operationId: getFraudSummary
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - Followers
          - Status
          - StatusCategory
          - TotalFraudFlags
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/followerFraudAuditSummary'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CreatorsPaymentCollectionStatusDetails:
    get:
      tags:
      - Reporting
      summary: Get creator's payment info collection status
      description: Get all Creator's Payment Info Collection
      operationId: getCreatorsPaymentCollectionStatusDetails
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/section'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - Followers
          - Status
          - StatusCategory
          - TotalFraudFlags
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorsPaymentStatusDetails'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/GrowthRate:
    get:
      tags:
      - Reporting
      summary: Get GrowthRate for creators
      description: Fetch GrowthRate for all publishers
      operationId: getGrowsRateSummary
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sort
        schema:
          type: string
          enum:
          - PublisherName
          - NetworkUser
          - StatDateYear
          - StatDateMonth
          - Followers
          - PrevMonthFollowers
          - GrowthRatePercentage
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/growthRate'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/EngagementRate:
    get:
      tags:
      - Reporting
      summary: Get EngagementRate for publishers
      description: Fetch EngagementRate for all publishers
      operationId: getEngagementRate
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: 'Field for sort

          * NetworkUser: Social handle

          * AVGLowEngagement: Average value for engagement rate for period

          * MedianEngagement: median value for ER for period

          '
        schema:
          type: string
          enum:
          - PublisherName
          - NetworkUser
          - EngagementRate
          - AVGLowEngagement
          - MedianEngagement
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/engagementRate'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/BrokenLinks:
    get:
      tags:
      - Reporting
      summary: Get broken links with linked account
      description: Fetch broken links with all linked accounts
      operationId: getBrokenLinks
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - AccountHandle
          - PublisherName
          - Network
          - DateInviteLinkSent
          - DateBroken
          - DateLinked
          - LinkingStatus
          - CreatorEmail
          example: AccountHandle
        examples:
          default:
            value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/brokenLinks'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/LinkedAccounts/LinkedAccountsReport:
    get:
      tags:
      - Reporting
      summary: Get linked accounts
      description: Fetch linked accounts
      operationId: getLinkedAccounts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          - Network
          - Handle
          - LinkingStatus
          - DateInviteLinkSent
          - DateLinked
          - DateBroken
          example: Handle
        examples:
          default:
            value: Handle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/linkedAccounts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/LinkedAccounts:
    get:
      tags:
      - Reporting
      summary: Get all linked account
      description: Fetch broken links with all linked accounts
      operationId: getAllLinkedAccounts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - AccountHandle
          - PublisherId
          - PublisherName
          - CreatorName
          - Network
          - LinkingStatus
          - ManagementCompany
          - AgentName
          - AgentEmail
          - DateInviteLinkSent
          - DateLinked
          - DateBroken
          example: AccountHandle
        examples:
          default:
            value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/allLinkedAccounts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/NonLinkedAccounts:
    get:
      tags:
      - Reporting
      summary: Get non-linked accounts
      description: Fetch non-linked accounts
      operationId: getNonLinkedAccounts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          - Network
          - AccountHandle
          - CreatorEmail
          - ManagementCompany
          - DateInviteLinkSent
          - AgentName
          - AgentEmail
          example: AccountHandle
        examples:
          default:
            value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/nonLinkedAccounts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CreatorPaymentsReport:
    get:
      tags:
      - Reporting
      summary: Get Creator Payments
      description: Fetch Creator Payments
      operationId: getCreatorPayments
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          - Network
          - AccountHandle
          - CreatorEmail
          - ManagementCompany
          - DateInviteLinkSent
          - AgentName
          - AgentEmail
          example: AccountHandle
        examples:
          default:
            value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorPayments'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/CampaignsPosts:
    get:
      tags:
      - Reporting
      summary: Get Campaigns Posts Statistics
      description: Fetch Campaigns Posts Statistics
      operationId: getCampaignsPosts
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - CampaignId
          - CampaignName
          - PublisherId
          - PublisherName
          - SocialNetwork
          example: PublisherId
        examples:
          default:
            value: PublisherId
      - name: requestData[params][Year]
        in: query
        description: Year for which need to collect the data (should be always present and empty if you want to collect data for all time)
        required: true
        schema:
          type: integer
          example: 2024
        examples:
          default:
            value: 2024
      - name: requestData[params][Month]
        in: query
        description: Month for which need to collect the data (should be always present and empty if you want to collect data for year or for all time)
        required: true
        schema:
          type: integer
          example: 10
        examples:
          default:
            value: 10
      - name: requestData[params][isAll]
        in: query
        description: Flag to collect all data. Should be present for collect data for all time.
        schema:
          type: boolean
          enum:
          - true
          - false
          example: true
        examples:
          default:
            value: true
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignsPosts'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignMessaging:
    get:
      tags:
      - Reporting
      summary: Get Campaign Messaging
      description: Fetch Campaign Messaging
      operationId: getCampaignMessaging
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - $ref: '#/components/parameters/month'
      - $ref: '#/components/parameters/year'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - EmailSentDate
          - CampaignId
          - CampaignName
          - PublisherID
          - PublisherName
          example: EmailSentDate
        examples:
          default:
            value: EmailSentDate
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignMessaging'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/ReachReport:
    get:
      tags:
      - Reporting
      summary: Get Reach Report
      description: Fetch Reach Report
      operationId: getReachReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/reachReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/Campaigns:
    get:
      tags:
      - Reporting
      summary: Get Campaigns Report
      description: Fetch Campaigns Report
      operationId: getCampaignsReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignsByNetworkReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/CampaignWeeklyUpdates:
    get:
      tags:
      - Reporting
      summary: Get Campaign Weekly Updates Report
      description: Fetch Campaign Weekly Updates Report
      operationId: getCampaignWeeklyUpdatesReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignWeeklyUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/FacebookWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get Facebook Weekly Campaign Updates Report
      description: Fetch Facebook Weekly Campaign Updates Report
      operationId: getFacebookWeeklyCampaignUpdatesReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/facebookWeeklyCampaignUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitterCampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get Twitter Campaign Posts Report
      description: Fetch Twitter Campaign Posts Report
      operationId: getTwitterCampaignPostsReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitterCampaignPostsReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitterWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get Twitter Weekly Campaign Updates Report
      description: Fetch Twitter Weekly Campaign Updates Report
      operationId: getTwitterWeeklyCampaignUpdatesReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitterWeeklyCampaignUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/PinterestCampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get Pinterest Campaign Posts Report
      description: Fetch Pinterest Campaign Posts Report
      operationId: getPinterestCampaignPostsReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/pinterestCampaignPostsReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/PinterestWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get Pinterest Weekly Campaign Updates Report
      description: Fetch Pinterest Weekly Campaign Updates Report
      operationId: getPinterestWeeklyCampaignUpdatesReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/pinterestWeeklyCampaignUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitchCampaignPosts:
    get:
      tags:
      - Reporting
      summary: Get Twitch Campaign Posts Report
      description: Fetch Twitch Campaign Posts Report
      operationId: getTwitchCampaignPostsReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitchCampaignPostsReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitchWeeklyCampaignUpdates:
    get:
      tags:
      - Reporting
      summary: Get Twitch Weekly Campaign Updates Report
      description: Fetch Twitch Weekly Campaign Updates Report
      operationId: getTwitchWeeklyCampaignUpdatesReport
      parameters:
      - $ref: '#/components/parameters/dir'
      - $ref: '#/components/parameters/take'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/skip'
      - name: requestData[sort][0][field]
        in: query
        description: Field for sorting
        schema:
          type: string
          enum:
          - PublisherId
          - PublisherName
          example: PublisherName
        examples:
          default:
            value: PublisherName
      - name: requestData[params][PartnerId]
        in: query
        description: Partner Id
        schema:
          type: integer
          example: 11
        examples:
          default:
            value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitchWeeklyCampaignUpdatesReport'
      security:
      - apiKey: []
      servers:
      - url: https://apis.creatoriq.com
        description: Live
components:
  responses:
    reachReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reachReport'
    campaignWeeklyUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignWeeklyUpdatesSchema'
    campaignsByNetworkReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignsByNetworkSchema'
    twitterCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitterCampaignPostsSchema'
    engagementRate:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/engagementRate'
    followerFraudAuditSummary:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/followerFraudAuditSummary'
    campaignsPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignsPosts'
    facebookWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/facebookWeeklyCampaignUpdatesSchema'
    instagramCampaignPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/instagramCampaignPosts'
    twitchCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitchCampaignPostsSchema'
    linkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/linkedAccounts'
    pinterestWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pinterestWeeklyCampaignUpdatesSchema'
    twitterWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitterWeeklyCampaignUpdatesSchema'
    campaignTopInfluencers:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignTopInfluencersSchema'
    youtubeCampaignPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/youtubeCampaignPosts'
    campaignMessaging:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignMessaging'
    growthRate:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/growthRate'
    allLinkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/allLinkedAccounts'
    creatorsPaymentStatusDetails:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorsPaymentStatusDetails'
    instagramWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/instagramWeeklyCampaignUpdatesSchema'
    twitchWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitchWeeklyCampaignUpdatesSchema'
    brokenLinks:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/brokenLinks'
    nonLinkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/nonLinkedAccounts'
    campaignSummaryReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignSummarySchema'
    creatorPayments:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorPayments'
    pinterestCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pinterestCampaignPostsSchema'
    youtubeWeeklyCampaignUpdates:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/youtubeWeeklyCampaignUpdates'
    asyncResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generalSchema'
    campaignVideos:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignVideos'
    campaignPublishers:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignPublishers'
    campaignPostReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignPostsSchema'
  schemas:
    growthRate:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                PublisherId:
                  type: integer
                  example: 23332
                PublisherName:
                  type: string
                  example: John Doe
                LogoURL:
                  type: string
                  description: Publisher Logo URL
                  format: URI
                  example: https://logoUrl.jpg
                ThumbLogoURL:
                  type: string
                  description: Publisher Logo URL with reduced size
                  format: URI
                  example: https://thumbLogoUrl.jpg
                CIQID:
                  type: integer
                  description: Alias for PublisherId
                  format: int32
                  example: 23332
                PartnerId:
                  type: integer
                  format: int32
                  minimum: 1
                  example: 21
                Network:
                  type: string
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  description: Social account which represents growth rate
                  example: instagram
                NetworkUser:
                  type: string
                  description: Social handle
                  example: therock
                SocialId:
                  type: integer
                  description: Unique social Id
                  example: 1682572
                ActualFollowersNumber:
                  type: integer
                  description: Followers count for publisher
                  format: int32
                  example: 220000
                StatDateYear:
                  type: integer
                  format: int32
                  example: 2022
                StatDateMonth:
                  type: integer
                  format: int32
                  minimum: 1
                  maximum: 12
                  example: 12
                Followers:
                  type: integer
                  format: int32
                  example: 2323
                PrevMonthFollowers:
                  type: integer
                  format: int32
                  example: 100
                GrowthRatePercentage:
                  type: number
                  format: float
                  example: 25.06
                GrowthRate:
                  type: number
                  format: float
                  example: 0.0024
                RowNum:
                  type: integer
                  description: For internal usage
                  example: 0
                IgnoreFlag:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: '* If 1 then do not report publisher as fraud

                    * If 0 then calculate fraud flags

                    '
                  default: 0
                  example: 0
                IgnoredBy:
                  type:
                  - string
                  - 'null'
                  description: User which setup IgnoreFlag
                  default: null
                  example: Admin
                IgnoredAt:
                  type:
                  - string
                  - 'null'
                  description: When IgnoreFlag flag is setup
                  default: null
                  example: '2019-01-23 18:16:33.000'
                IgnoreNote:
                  type:
                  - string
                  - 'null'
                  default: null
                  example: Note
              required:
              - PublisherId
              - PublisherName
        required:
        - results
    twitterCampaignPostsSchema:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                CampaignId:
                  type: integer
                  description: Unique CampaignId
                  format: int32
                  example: 697096
                id:
                  type: integer
                  description: Unique id of row
                  format: int32
                  example: -80378
                WeekNum:
                  type:
                  - string
                  - 'null'
                  description: Date start of the week when calculated metrics delta
                  format: date
                  example: '2019-04-04'
                PublisherName:
                  type: string
                  description: Publisher Name
                  maxLength: 255
                  example: Chris Whitcroft
                SocialHandle:
                  type:
                  - string
                  - 'null'
                  description: Social Handle
                  default: null
                  example: '@1puglife'
                CampaignName:
                  type:
                  - string
                  - 'null'
                  description: Campaign name
                  maxLength: 255
                  default: null
                  example: Campaign name
                BrandName:
                  type:
                  - string
                  - 'null'
                  description: Campaign Brand Name
                  maxLength: 200
                  default: null
                  example: Brand name
                PostLink:
                  type:
                  - string
                  - 'null'
                  description: Post Link
                  format: URI
                  maxLength: 1000
                  default: null
                  example: https://twitter.com/_blackpinkita/status/1631408244479361025
                PostType:
                  type:
                  - string
                  - 'null'
                  enum:
                  - permalink
                  - story
                  - image
                  - reel
                  - Photo
                  - video
                  - tweet
                  - TiktokPost
                  - stream
                  - other
                  - article
                  - status
                  - blog
                  - short
                  - link
                  - carousel
                  - clip
                  - post
                  - text
                  - Album
                  - null
                  description: Post Type
                  maxLength: 20
                  example: video
                DateSubmitted:
                  type:
                  - string
                  - 'null'
                  description: Date Submitted
                  format: date-time
                  default: null
                  example: '2023-02-07 03:39:44'
                PostDate:
                  type:
                  - string
                  - 'null'
                  description: Post Date
                  format: date
                  example: '2023-02-07'
                Post:
                  type:
                  - string
                  - 'null'
                  description: Post full text
                  default: null
                  example: Post text
                PostStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Actual
                  - Approved
                  - Missing
                  - Rejected
                  - null
                  description: Post Status
                  example: Rejected
                Likes:
                  type:
                  - integer
                  - 'null'
                  description: Likes
                  default: null
                  example: 17
                Comments:
                  type:
                  - integer
                  - 'null'
                  description: Comments
                  default: null
                  example: 3
                Impressions:
                  type:
                  - integer
                  - 'null'
                  description: Impressions
                  default: null
                  example: 233
                Retweets:
                  type:
                  - integer
                  - 'null'
                  description: Retweets
                  default: null
                  example: 98
                SMV:
                  type:
                  - number
                  - 'null'
                  description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                  default: null
                  example: 345
                Reach:
                  type:
                  - integer
                  - 'null'
                  description: Reach
                  default: null
                  example: 233
                Views:
                  type:
                  - integer
                  - 'null'
                  description: Views
                  default: null
                  example: 253
                Clicks:
                  type:
                  - integer
                  - 'null'
                  description: Clicks
                  default: null
                  example: 235
                NetworkEngagements:
                  type:
                  - number
                  - 'null'
                  description: Network Engagements
                  default: null
                  example: 235
                Replies:
                  type:
                  - integer
                  - 'null'
                  description: Replies
                  default: null
                  example: 116
                LinkingStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Broken
                  - Linked
                  - null
                  description: Linking Status
                  maxLength: 6
                  example: Linked
                FollowersAtTimeOfPost:
                  type:
                  - integer
                  - 'null'
                  description: Followers At Time Of Post
                  default: null
                  example: 223676
                LastUpdated:
                  type:
                  - string
                  - 'null'
                  description: Last Updated
                  format: date-time
                  default: null
                  example: '2021-11-08 07:58:33'
                PublisherId:
                  type: integer
                  description: Unique publisher id
                  format: int32
                  example: 3293835
                LogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL
                  format: URI
                  maxLength: 1024
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                ThumbLogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL with reduced size
                  format: URI
                  maxLength: 512
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                FlagshipSocialNetwork:
                  type:
                  - string
                  - 'null'
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  - null
                  description: Main social network for publisher
                  maxLength: 50
                  example: twitter
                FlagshipProperty:
                  type:
                  - string
                  - 'null'
                  description: Main social account handle of publisher
                  maxLength: 1024
                  default: null
                  example: _blackpinkita
                Followers:
                  type:
                  - integer
                  - 'null'
                  description: Followers
                  default: null
                  example: 78247
        required:
        - results
    followerFraudAuditSummary:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                PublisherId:
                  type: integer
                  example: 23332
                PublisherName:
                  type: string
                  example: John Doe
                LogoURL:
                  type: string
                  description: Publisher Logo URL
                  format: URI
                  example: https://logoUrl.jpg
                ThumbLogoURL:
                  type: string
                  description: Publisher Logo URL with reduced size
                  example: https://smallLogourl.jpg
                TotalSubscribers:
                  type: integer
                  description: All subscribers from all social accounts for this publisher
                  example: 3344
                SocialAccountsList:
                  type:
                  - string
                  - 'null'
                  description: XML representation of publisher's Social Accounts
                  example: <xml></xml>
                FlagshipProperty:
                  type:
                  - string
                  - 'null'
                  description: Main social account handle of publisher
                  example: therock
                FlagshipSocialNetwork:
                  type:
                  - string
                  - 'null'
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  - null
                  description: Main social network for publisher
                  example: instagram
                FlagshipPropertyTitle:
                  type:
                  - string
                  - 'null'
                  description: Title of main social account in publisher
                  example: therock
                CIQCertifiedFlag:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: 'Flag represents in publisher verified or not

                    * 1: Publisher verified

                    * 0: Publisher not verified

                    '
                  example: 0
                CIQCertifiedFlagDate:
                  type:
                  - string
                  - 'null'
                  description: Date when CIQCertifiedFlag was set
                  default: null
                TotalFraudFlags:
                  type: integer
                  description: Total flags in publisher
                  example: 3
                Linked:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Has publisher linked accounts or no * 1 if any social account verified with social network * 0 does not have verified social accounts
                  example: 0
                Unlinked:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: '* 0 represents account linked

                    * 1 represents account unlinked

                    '
                  example: 1
                LinkBroken:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Some of  account is no longer authenticated.
                  example: 0
                Verified:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: Has verified social account
                  example: 0
                NetworkId:
                  type: integer
                  description: Id of partner
                  example: 21
                CIQ ID:
                  type: integer
                  description: Alias of publisherId
                  example: 2747744
                'Creator #':
                  type: integer
                  description: 'Internal unique id of publisher. The same as NetworkPublisherId '
                  example: 232323
                AudienceFlags:
                  type: integer
                  default: 0
                  example: 3
                WorstAudienceFlag:
                  type: string
                  description: Extended description of AudienceFlags. Used on UI
                  default: Not Flags
                  example: Not Flags
                GrowthFlags:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: We flag creators who have had a month over month growth rate in excess of 25%
                  default: 0
                  example: 0
                WorstGrowthFlag:
                  type: string
                  description: Extended description of GrowthFlags value. Used on UI
                  example: Not enough growth data to determine
                EngagementFlags:
                  type: integer
                  description: Creator’s with an engagement rate flag may be low-performing creators, or the low ER may be a symptom of buying followers but not buying enough engagements.
                  example: 1
                WorstEngagementFlag:
                  type: string
                  description: Extended description of EngagementFlags.Used on UI
                  example: Instagram - 0.36% is in bad range below the 0.79% threshold
                '# of Categories':
                  type: integer
                  description: Field user in UI
                  example: 1
                Notes:
                  type: string
                  example: Note
                FB:
                  type: integer
                  description: Count of Facebook accounts checked with audience integrity
                  example: 1
                YT:
                  type: integer
                  description: Count of Youtube accounts checked with audience integrity
                  example: 1
                TW:
                  type: integer
                  description: Count of Twitter accounts checked with audience integrity
                  example: 2
                IG:
                  type: integer
                  description: Count of Instagram account checked with audience integrity
                  example: 2
                STATUS:
                  type: string
                  description: Current status of publisher
                  example: OPEN
                StatusCategory:
                  type: string
                  description: Additional information about recruiting status.
                  example: In process
              required:
              - PublisherId
        required:
        - results
    twitchCampaignPostsSchema:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                CampaignId:
                  type: integer
                  description: Unique Campaign Id
                  format: int32
                  example: 697096
                id:
                  type: integer
                  description: Unique id of row
                  format: int32
                  example: -80378
                PublisherName:
                  type: string
                  description: Publisher Name
                  maxLength: 255
                  example: Chris Whitcroft
                SocialHandle:
                  type:
                  - string
                  - 'null'
                  description: Social Handle
                  default: null
                  example: '@1puglife'
                CampaignName:
                  type:
                  - string
                  - 'null'
                  description: Campaign name
                  maxLength: 255
                  default: null
                  example: Campaign name
                BrandName:
                  type:
                  - string
                  - 'null'
                  description: Campaign Brand Name
                  maxLength: 200
                  default: null
                  example: Brand name
                PostLink:
                  type:
                  - string
                  - 'null'
                  description: Post Link
                  format: URI
                  maxLength: 1000
                  default: null
                  example: https://www.twitch.tv/videos/1752519236
                PostType:
                  type:
                  - string
                  - 'null'
                  enum:
                  - permalink
                  - story
                  - image
                  - reel
                  - Photo
                  - video
                  - tweet
                  - TiktokPost
                  - stream
                  - other
                  - article
                  - status
                  - blog
                  - short
                  - link
                  - carousel
                  - clip
                  - post
                  - text
                  - Album
                  - null
                  description: Post Type
                  maxLength: 20
                  example: video
                DateSubmitted:
                  type:
                  - string
                  - 'null'
                  description: Date Submitted
                  format: date-time
                  default: null
                  example: '2023-02-07 03:39:44'
                PostDate:
                  type:
                  - string
                  - 'null'
                  description: Post Date
                  format: date
                  example: '2023-02-07'
                Post:
                  type:
                  - string
                  - 'null'
                  description: Post full text
                  default: null
                  example: Post text
                PostStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Actual
                  - Approved
                  - Missing
                  - Rejected
                  - null
                  description: Post Status
                  example: Approved
                Views:
                  type:
                  - integer
                  - 'null'
                  description: Views
                  default: null
                  example: 253
                Comments:
                  type:
                  - integer
                  - 'null'
                  description: Comments
                  default: null
                  example: 3
                SMV:
                  type:
                  - number
                  - 'null'
                  description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                  default: null
                  example: 345
                FollowersAtTimeOfPost:
                  type:
                  - integer
                  - 'null'
                  description: Followers At Time Of Post
                  default: null
                  example: 223676
                LinkingStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Broken
                  - Linked
                  - null
                  description: Linking Status
                  maxLength: 6
                  example: Linked
                LastUpdated:
                  type:
                  - string
                  - 'null'
                  description: Last Updated
                  format: date-time
                  default: null
                  example: '2021-11-08 07:58:33'
                PublisherId:
                  type: integer
                  description: Unique publisher id
                  format: int32
                  example: 3293835
                LogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL
                  format: URI
                  maxLength: 1024
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                ThumbLogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL with reduced size
                  format: URI
                  maxLength: 512
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                FlagshipSocialNetwork:
                  type:
                  - string
                  - 'null'
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  - null
                  description: Main social network for publisher
                  maxLength: 50
                  example: instagram
                FlagshipProperty:
                  type:
                  - string
                  - 'null'
                  description: Main social account handle of publisher
                  maxLength: 1024
                  default: null
                  example: greatdad
                Followers:
                  type:
                  - integer
                  - 'null'
                  description: Followers
                  default: null
                  example: 78247
        required:
        - results
    creatorsPaymentStatusDetails:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                PublisherId:
                  type: integer
                  example: 95325
                PublisherName:
                  type: string
                  example: John Doe
                ThumbLogoURL:
                  type: string
                  description: Publisher Logo URL with reduced size
                  format: URI
                  example: https://smallLogourl.jpg
                LastLoginDate:
                  type:
                  - string
                  - 'null'
                  description: Datetime when publisher logged
                  example: '2021-07-27 18:41:48'
                DateOpenedPaymentCollectionPage:
                  type:
                  - string
                  - 'null'
                  example: '2021-07-27 18:41:48'
                Payable:
                  type:
                  - integer
                  - 'null'
                  enum:
                  - 0
                  - 1
                  - null
                  example: 1
                NotPayableReason:
                  type:
                  - string
                  - 'null'
                  example: Not checked yet
                PayableDate:
                  type:
                  - string
                  - 'null'
                  example: '2021-07-27 18:41:48'
                PaymentStatusRefreshedDate:
                  type:
                  - string
                  - 'null'
                  example: '2021-07-27 18:41:48'
              required:
              - PublisherId
        required:
        - results
    facebookWeeklyCampaignUpdatesSchema:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                CampaignId:
                  type: integer
                  description: Unique CampaignId
                  format: int32
                  example: 697096
                id:
                  type: integer
                  description: Unique id of row
                  format: int32
                  example: 10209382
                WeekNum:
                  type:
                  - string
                  - 'null'
                  description: Date start of the week when calculated metrics delta
                  format: date
                  example: '2019-04-04'
                PublisherName:
                  type: string
                  description: Publisher Name
                  maxLength: 255
                  example: Chris Whitcroft
                SocialHandle:
                  type:
                  - string
                  - 'null'
                  description: Social Handle
                  default: null
                  example: '@1puglife'
                CampaignName:
                  type:
                  - string
                  - 'null'
                  description: Campaign name
                  maxLength: 255
                  default: null
                  example: Campaign name
                BrandName:
                  type:
                  - string
                  - 'null'
                  description: Campaign Brand Name
                  maxLength: 200
                  default: null
                  example: Brand name
                PostLink:
                  type:
                  - string
                  - 'null'
                  description: Post Link
                  format: URI
                  maxLength: 1000
                  default: null
                  example: https://www.facebook.com/100250039129690/posts/140212108466816/
                PostType:
                  type:
                  - string
                  - 'null'
                  enum:
                  - permalink
                  - story
                  - image
                  - reel
                  - Photo
                  - video
                  - tweet
                  - TiktokPost
                  - stream
                  - other
                  - article
                  - status
                  - blog
                  - short
                  - link
                  - carousel
                  - clip
                  - post
                  - text
                  - Album
                  - null
                  description: Post Type
                  maxLength: 20
                  example: text
                DateSubmitted:
                  type:
                  - string
                  - 'null'
                  description: Date Submitted
                  format: date-time
                  default: null
                  example: '2023-02-07 03:39:44'
                PostDate:
                  type:
                  - string
                  - 'null'
                  description: Post Date
                  format: date
                  example: '2023-02-07'
                Post:
                  type:
                  - string
                  - 'null'
                  description: Post full text
                  default: null
                  example: Post text
                PostStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Actual
                  - Approved
                  - Missing
                  - Rejected
                  - null
                  description: Post Status
                  example: Rejected
                Likes:
                  type:
                  - integer
                  - 'null'
                  description: Likes
                  default: null
                  example: 17
                Comments:
                  type:
                  - integer
                  - 'null'
                  description: Comments
                  default: null
                  example: 3
                EngagementRate:
                  type:
                  - number
                  - 'null'
                  description: Engagement Rate
                  format: percent
                  default: null
                  example: 15.7234
                SMV:
                  type:
                  - number
                  - 'null'
                  description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                  default: null
                  example: 345
                Shares:
                  type:
                  - integer
                  - 'null'
                  description: Shares
                  default: null
                  example: 62
                Views:
                  type:
                  - integer
                  - 'null'
                  description: Views
                  default: null
                  example: 253
                Clicks:
                  type:
                  - integer
                  - 'null'
                  description: Clicks
                  default: null
                  example: 235
                Reach:
                  type:
                  - integer
                  - 'null'
                  description: Reach
                  default: null
                  example: 233
                FollowersAtTimeOfPost:
                  type:
                  - integer
                  - 'null'
                  description: Followers At Time Of Post
                  default: null
                  example: 223676
                Impressions:
                  type:
                  - integer
                  - 'null'
                  description: Impressions
                  default: null
                  example: 233
                LinkingStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - Broken
                  - Linked
                  - null
                  description: Linking Status
                  maxLength: 6
                  example: Linked
                LastUpdated:
                  type:
                  - string
                  - 'null'
                  description: Last Updated
                  format: date-time
                  default: null
                  example: '2021-11-08 07:58:33'
                PublisherId:
                  type: integer
                  description: Unique publisher id
                  format: int32
                  example: 3293835
                LogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL
                  format: URI
                  maxLength: 1024
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                ThumbLogoURL:
                  type:
                  - string
                  - 'null'
                  description: Publisher Logo URL with reduced size
                  format: URI
                  maxLength: 512
                  default: null
                  example: https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg
                FlagshipSocialNetwork:
                  type:
                  - string
                  - 'null'
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  - null
                  description: Main social network for publisher
                  maxLength: 50
                  example: facebook
                FlagshipProperty:
                  type:
                  - string
                  - 'null'
                  description: Main social account handle of publisher
                  maxLength: 1024
                  default: null
                  example: greatdad
                Followers:
                  type:
                  - integer
                  - 'null'
                  description: Followers
                  default: null
                  example: 78247
        required:
        - results
    campaignPostsSchema:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                PublisherId:
                  type: integer
                  format: int32
                  example: 1453672
                IsEarnedPost:
                  type: string
                  description: '* ''Yes'' this is bonus content else it''s required content

                    '
                  example: 'Yes'
                LogoURL:
                  type: string
                  description: Publisher Logo URL
                  example: https://instagram.fbom5-1.fna.fbcdn.net/v/t51.2885-19/66366700_676199099563329_6160046265783549952_n.jpg?stp=dst-jpg_s320x320&_nc_ht=instagram.fbom5-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=u6OVofiisgwAX-hRroz&edm=ABfd0MgBAAAA&ccb=7-4&oh=00_AT-_BBCJ-umNGXAE-JSr_OLlzUsCg2yoJWEG3aFlXYcb5Q&oe=625D8016&_nc_sid=7bff83
                PublisherName:
                  type: string
                  example: sportlivelemur
                CampaignId:
                  type: integer
                  format: int32
                  example: 40944
                CampaignLogoURL:
                  type:
                  - string
                  - 'null'
                  default: null
                FlagshipPropertyTitle:
                  type: string
                  description: Title of main social account in publisher
                  example: sportlivelemur
                FlagshipSocialNetwork:
                  type: string
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  description: Main social network for publisher
                  example: instagram
                SocialAccountsList:
                  type:
                  - string
                  - 'null'
                  description: XML representation of publisher's Social Accounts
                  example: <XML></XML>
                CampaignName:
                  type: string
                  example: Campaign
                SocialNetwork:
                  type: string
                  enum:
                  - youtube
                  - twitter
                  - facebook
                  - instagram
                  - google
                  - vine
                  - weibo
                  - line
                  - tiktok
                  - twitch
                  - tumblr
                  - pinterest
                  - snapchat
                  - linkedin
                  - reddit
                  - web
                  - blog
                  example: instagram
                Reach:
                  type:
                  - integer
                  - 'null'
                  example: 3434
                Likes:
                  type:
                  - integer
                  - 'null'
                  example: 2
                Comments:
                  type: integer
                  format: int32
                  example: 1
                Retweets:
                  type:
                  - integer
                  - 'null'
                  example: 43
                Views:
                  type:
                  - integer
                  - 'null'
                  description: The number of times that a video was viewed.
                  example: 3343
                EstimatedImpressionsFlag:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: '* 1 if actual data not available

                    * 0 Actual data available

                    '
                  format: int32
                  example: 1
                EstimatedReachFlag:
                  type: integer
                  enum:
                  - 0
                  - 1
                  description: '* 1: If private data is not available for this creator

                    * 0: If private data available

                    '
                  format: int32
                  example: 1
              required:
              - PublisherId
        required:
        - results
    youtubeCampaignPosts:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: object
            properties:
              CampaignId:
                type: integer
                example: 856026
              id:
                type: integer
                description: Unique row id
                example: 1244
              PublisherName:
                type: string
                example: John Doe
              CampaignName:
                type: string
                example: My Campaign
              BrandName:
                type: string
                example: Cola
              PostLink:
                type: string
                example: https://linkToPost.com/video
              DateSubmitted:
                type: string
                example: '2023-01-03 06:48:43'
              PostDate:
                type: string
                example: '2023-01-03'
              Post:
                type:
                - string
                - 'null'
                example: Description of post
              PostTitle:
                type: string
                example: Post title
              PostStatus:
                type: string
                example: Approved
              SMV:
                type:
                - number
                - 'null'
                description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                format: float
                example: 1705783.696
              Views:
                type:
                - integer
                - 'null'
                description: The number of times that a video was viewed.
                format: int32
                example: 2323
              FollowersAtTimeOfPost:
                type:
                - integer
                - 'null'
                format: int32
                example: 232322
              ViewsOrganic:
                type:
                - string
                - 'null'
                description: Number of times a viewer watches a video without any prompts such as ads.
                default: null
              MinutesWatchedOrganic:
                type:
                - integer
                - 'null'
                description: Duration of the video watched in minutes when a viewer clicks on elements of your video ad such as calls-to-action (CTA), cards, banners, thumbnails, or logos.
                default: null
                example: 2323
              ViewsPaid:
                type:
                - integer
                - 'null'
                description: The number of times viewers view a larger portion or the entirety of your ad, beyond just the impression.
                default: null
                example: 23233
              MinutesWatchedPaid:
                type:
                - integer
                - 'null'
                format: int32
                default: null
                example: 2323
              LinkingStatus:
                type:
                - string
                - 'null'
                enum:
                - Linked
                - Broken
                - null
                example: Linked
              LastUpdated:
                type: string
                example: '2023-01-09 07:59:13'
              PublisherId:
                type: integer
                format: int32
                example: 23233
              LogoURL:
                type:
                - string
                - 'null'
                description: Publisher Logo URL
                format: URI
                example: https://logoUrl.png
              ThumbLogoURL:
                type:
                - string
                - 'null'
                description: Publisher Logo URL with reduced size
                format: URI
                example: https://small-logo-url.jpg
              FlagshipSocialNetwork:
                type:
                - string
                - 'null'
                enum:
                - youtube
                - twitter
                - facebook
                - instagram
                - google
                - vine
                - weibo
                - line
                - tiktok
                - twitch
                - tumblr
                - pinterest
                - snapchat
                - linkedin
                - reddit
                - web
                - blog
                - null
                description: Main social network for publisher
                example: youtube
              FlagshipProperty:
                type:
                - string
                - 'null'
                description: Main social account handle of publisher
                example: TheRock
        required:
        - results
    instagramCampaignPosts:
      type: object
      allOf:
      - $ref: '#/components/schemas/commonResponse'
      - type: object
        properties:
          results:
            type: array
            items:
              type: object
              properties:
                CampaignId:
                  type: integer
                  example: 876358
                id:
                  type: integer
                  description: Unique row id
                  example: 2344
                PublisherName:
                  type: string
                  example: Planeta
                SocialHandle:
                  type: string
                  example: therock
                CampaignName:
                  type: string
                  example: Super Campaign
                BrandName:
                  type: string
                  example: Brand
                PostLink:
                  type: string
                  format: URI
                  example: https://linkToPost
                PostType:
                  type: string
                  enum:
                  - permalink
                  - story
                  - image
                  - reel
                  - Photo
                  - video
                  - tweet
                  - TiktokPost
                  - stream
                  - other
                  - article
                  - status
                  - blog
                  - short
                  - link
                  - carousel
                  - clip
                  - post
                  - text
                  - Album
                  example: image
                DateSubmitted:
                  type: string
                  description: Date when post submitted
                  example: '2023-01-03 00:00:41'
                PostDate:
                  type: string
                  example: '2023-01-03'
                Post:
                  type: string
                  description: Body of the post
                  example: Text of post
                PostStatus:
                  type: string
                  example: Approved
                Likes:
                  type:
                  - integer
                  - 'null'
                  description: The number of likes on your post.
                  example: 233
                Impressions:
                  type:
                  - integer
                  - 'null'
                  description: Total number of times the IG Media object has been seen.
                  example: 233
                Comments:
                  type:
                  - integer
                  - 'null'
                  description: The number of comments on your post.
                  example: 233
                Reach:
                  type:
                  - integer
                  - 'null'
                  description: Total number of unique Instagram accounts that have seen the IG Media object.
                  example: 233
                Saved:
                  type:
                  - integer
                  - 'null'
                  description: Total number of unique Instagram accounts that have saved the IG Media object.
                  example: 233
                SMV:
                  type:
                  - integer
                  - 'null'
                  description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                  example: 233
                Views:
                  type:
                  - integer
                  - 'null'
                  description: The number of times that a video was viewed.
                  example: 233
                Replies:
                  type:
                  - integer
                  - 'null'
[...]
