openapi: 3.1.0
info:
  version: 1.0.0
  title: CreatorIQ CRM Publishers API
  description: CreatorIQ CRM APIs for Publishers (Influencer/Creator) resource
  termsOfService: 'https://www.creatoriq.com/legal/terms-of-use'
  contact:
    name: CreatorIQ
    url: 'https://www.creatoriq.com'
    email: support@creatoriq.com
  license:
    url: 'https://www.apache.org/licenses/LICENSE-2.0.html'
    name: Apache 2.0
servers:
  - url: 'https://apis.creatoriq.com'
    description: Live
paths:
  '/crm/v1/api/publisher/{publisherId}':
    get:
      tags:
        - Publisher
      summary: Find Publisher by ID
      description: Return particular Publisher Information
      operationId: getPublisherPublisherId
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '999999'
          examples:
            default:
              value: '999999'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - Publisher
                  Publisher:
                    $ref: '#/components/schemas/PublisherByIdModel'
                required:
                  - type
                  - Publisher
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Publisher
      summary: Update Publisher Information
      description: Update Publisher Social accounts with verified and linked flags
      operationId: patchPublisherPublisherIdAccounts
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
              - NetworkPublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '99999'
          examples:
            default:
              value: '99999'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                PublisherName:
                  type: string
                  description: Publisher Name
                  maxLength: 255
                  examples:
                    - test
                PublisherId:
                  type: integer
                  description: Publisher Id
                  examples:
                    - 3293835
                NetworkPublisherId:
                  type:
                    - string
                    - 'null'
                  description: Network Publisher Id
                  default: null
                  examples:
                    - '3293836'
                Glasses:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  description: Glasses
                  examples:
                    - 0
                AccountManagerName:
                  type:
                    - string
                    - 'null'
                  description: Account Manager Name
                  default: null
                  examples:
                    - John Smith
                OutsideManagerName:
                  type:
                    - string
                    - 'null'
                  description: Outside Manager Name
                  default: null
                  examples:
                    - John Smith
                ManagementCompany:
                  type:
                    - string
                    - 'null'
                  description: Management Company
                  default: null
                  examples:
                    - John Smith
                RecruiterName:
                  type:
                    - string
                    - 'null'
                  description: Recruiter Name
                  default: null
                  examples:
                    - John Smith
                Subnetworks:
                  type:
                    - string
                    - 'null'
                  description: Subnetworks
                  default: null
                  examples:
                    - 'Subnetwork1, Subnetwork2, Subnetwork3'
                Status:
                  type: string
                  enum:
                    - Open
                    - Active
                    - New Applicant
                    - Pending
                    - Not Accepted
                    - Applied to Network
                    - Candidate
                    - Incomplete
                    - null
                  description: Status
                  examples:
                    - Open
                StatusCategory:
                  type: string
                  enum:
                    - In Network
                    - In Process
                    - Other
                    - null
                  description: Status Category
                  examples:
                    - In Network
                CustomValue1:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 1
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue2:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 2
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue3:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 3
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue4:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 4
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue5:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 5
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue6:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 6
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue7:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 7
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue8:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 8
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue9:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 9
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue10:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 10
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue11:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 11
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue12:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 12
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue13:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 13
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue14:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 14
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue15:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 15
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue16:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 16
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                CustomValue17:
                  type:
                    - string
                    - 'null'
                  description: Custom value number 17
                  maxLength: 1000
                  default: null
                  examples:
                    - test
                Relationship:
                  type:
                    - string
                    - 'null'
                  description: Relationship
                  default: null
                  examples:
                    - In a Relationship
                Children:
                  type:
                    - string
                    - 'null'
                  description: Children
                  default: null
                  examples:
                    - One
                Pets:
                  type:
                    - string
                    - 'null'
                  description: Pets
                  default: null
                  examples:
                    - Fish
                Tags:
                  type:
                    - string
                    - 'null'
                  description: Tags
                  default: null
                  examples:
                    - 'Tag1, Tag2, Tag3'
                WillTravel:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  examples:
                    - 0
                BrandsWontWork:
                  type:
                    - string
                    - 'null'
                  description: Brands Wont Work
                  default: null
                  examples:
                    - Some Brand Name
                BrandsWorked:
                  type:
                    - string
                    - 'null'
                  description: Brands Worked
                  default: null
                  examples:
                    - Some Brand Name
                BrandsWishWork:
                  type:
                    - string
                    - 'null'
                  description: Brands Wish Work
                  default: null
                  examples:
                    - Some Brand Name
                EyeColor:
                  type:
                    - string
                    - 'null'
                  description: Eye Color
                  default: null
                  examples:
                    - Blue
                HairColor:
                  type:
                    - string
                    - 'null'
                  description: Hair Color
                  default: null
                  examples:
                    - Dark
                HaveKids:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  description: Have Kids
                  examples:
                    - 0
                HavePets:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  description: Have Pets
                  examples:
                    - 0
                PhoneNumber:
                  type:
                    - string
                    - 'null'
                  description: Phone Number
                  default: null
                  examples:
                    - (123)456-7892
                HasDriverLicense:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  description: Has Driver License flag
                  examples:
                    - 1
                HasPassport:
                  type: integer
                  enum:
                    - 0
                    - 1
                    - null
                  description: Has Passport flag
                  examples:
                    - 0
                Size:
                  type:
                    - string
                    - 'null'
                  description: Size
                  maxLength: 50
                  default: null
                  examples:
                    - Test Size
                LeadSource:
                  type:
                    - string
                    - 'null'
                  description: Lead Source
                  maxLength: 50
                  default: null
                  examples:
                    - Broad Search
                Category:
                  type:
                    - string
                    - 'null'
                  description: Category
                  maxLength: 255
                  default: null
                  examples:
                    - 'Beauty-Hair, Lifestyle'
                SubCategories:
                  type:
                    - string
                    - 'null'
                  description: Sub Categories
                  maxLength: 255
                  default: null
                  examples:
                    - 'Beauty-General, Beauty-SkinCare'
                DateOfBirth:
                  type:
                    - string
                    - 'null'
                  description: Date of Birth
                  default: null
                  examples:
                    - 04/04/1985
                PayPalEmail:
                  type:
                    - string
                    - 'null'
                  description: Email
                  format: email
                  default: null
                  examples:
                    - test@test.com
                PayPalFirstName:
                  type:
                    - string
                    - 'null'
                  description: First name
                  default: null
                  examples:
                    - Christy
                PayPalLastName:
                  type:
                    - string
                    - 'null'
                  description: First name
                  default: null
                  examples:
                    - Weimann
                Address:
                  type: object
                  properties:
                    AddressLine1:
                      type:
                        - string
                        - 'null'
                      description: Address
                      examples:
                        - 'Robert Robertson, 1234 NW Bobcat Lane, St. Robert'
                    ZIPCode:
                      type:
                        - string
                        - 'null'
                      description: ZIPCode
                      examples:
                        - '02108'
                    City:
                      type:
                        - string
                        - 'null'
                      description: City
                      examples:
                        - Boston
                    State:
                      type:
                        - string
                        - 'null'
                      description: State
                      examples:
                        - Massachusetts
                    Country:
                      type:
                        - string
                        - 'null'
                      description: Country
                      examples:
                        - USA
                    Email:
                      type:
                        - string
                        - 'null'
                      description: Email
                      format: email
                      default: null
                      examples:
                        - Estevan.Conn54@yahoo.com
                    Email1:
                      type:
                        - string
                        - 'null'
                      description: Email
                      format: email
                      default: null
                      examples:
                        - test@test.com
                Gender:
                  type: string
                  description: 'I.e. Male, Female, Transgender'
                  maxLength: 50
                  examples:
                    - Female
                FirstName:
                  type: string
                  description: First name
                  examples:
                    - Christy
                LastName:
                  type: string
                  description: First name
                  examples:
                    - Weimann
                FullName:
                  type: string
                  description: First name
                  examples:
                    - Christy Weimann
                EthnicBackground:
                  type:
                    - string
                    - 'null'
                  description: 'I.e. Asian, Caucasian, African American'
                  maxLength: 255
                  default: null
                  examples:
                    - Asian
                Language:
                  type: string
                  description: Publisher's primary language.  I.E. English.  If this field is left blank and YouTube channel is specified SocialEdge will attempt to look this up via YouTube API
                  maxLength: 50
                  examples:
                    - English
                Language2:
                  type: string
                  description: Publisher's language.  I.E. English.  If this field is left blank and YouTube channel is specified SocialEdge will attempt to look this up via YouTube API
                  maxLength: 50
                  examples:
                    - English
                DatePublisherDeActivated:
                  type: string
                  description: Date published when activated
                  format: date-time
                  examples:
                    - '2021-01-30T08:30:00Z'
                Description:
                  type:
                    - string
                    - 'null'
                  description: If this field is left blank and YouTube channel is specified SocialEdge will attempt to look up YouTube channel description via YouTube API and use it as default value
                  default: null
                  examples:
                    - My channel description
                accountId:
                  type: string
                  description: SocialNetworkId for account
                  examples:
                    - '999999999999999999'
                network:
                  type: string
                  enum:
                    - Youtube
                    - Twitter
                    - Facebook
                    - Instagram
                    - Google
                    - Vine
                  description: 'Social network (Twitter, Facebook, Instagram, Google, Vine etc.)'
                  examples:
                    - Youtube
                CreatedBy:
                  type: string
                  description: Name of person who added Social Account
                  examples:
                    - Admin
                CreatorRole:
                  type: string
                  description: Role of person who added Social Account
                  examples:
                    - Admin
                VerifiedBy:
                  type: string
                  description: Name of person who verified Social Account
                  examples:
                    - Admin
                VerifiedAt:
                  type: string
                  description: 'Date and Time when Social Account was verified (e.g. 2015-06-04 10:00:01.000)'
                  format: date-time
                  examples:
                    - '2015-06-04 10:00:01.000'
                LinkedBy:
                  type: string
                  description: Name of person who linked Social Account
                  examples:
                    - Admin
                LinkedAt:
                  type: string
                  description: 'Date and Time when Social Account was linked (e.g. 2015-06-04 10:00:01.000)'
                  format: date-time
                  examples:
                    - '2015-06-04 10:00:01.000'
              minProperties: 1
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    delete:
      tags:
        - Publisher
      summary: Delete Publisher from Network
      description: Delete publisher form network
      operationId: deletePublisher
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/scheduledPosts':
    get:
      tags:
        - Publisher
      summary: Get Publisher ScheduledPosts info
      description: Get Publisher ScheduledPosts
      operationId: getPublisherIdScheduledPosts
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: page
          in: query
          description: page number
          schema:
            type: string
            examples:
              - '2'
          examples:
            default:
              value: '2'
        - name: size
          in: query
          description: number of elements on page
          schema:
            type: string
            examples:
              - '20'
          examples:
            default:
              value: '20'
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            examples:
              - '20'
          examples:
            default:
              value: '20'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignScheduledPostsSuccessResponseModel'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publishers/{publisherIds}/accounts':
    get:
      tags:
        - Publisher
      summary: GET social accounts for multiple publishers.
      description: |
        Fetch the social accounts information for bulk publishers. Max count of publishers 10.
        > **Warning**: This API endpoint is deprecated and will be removed at 2026-04-16. You could use the [new version of endpoint](https://apidocs.creatoriq.com/docs/ciq-api-documentation/5d20075e89450-get-social-accounts-for-multiple-publishers) instead of this one.
      operationId: getMultiplePublishersAccounts
      parameters:
        - name: publisherIds
          in: path
          description: Comma separated unique Publisher IDs.
          required: true
          schema:
            type: string
            pattern: '^[0-9]+(,[0-9]+)*$'
            examples:
              - '99990,99991'
          examples:
            default:
              value: '99990,99991'
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultiplePublishersAccounts'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      deprecated: true
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/accounts':
    get:
      tags:
        - Publisher
      summary: GET publisher's social accounts
      description: Fetch the social account information for publisher
      operationId: getPublisherAccounts
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: true
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher's ID
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                description: Publisher Accounts Collection
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - AccountCollection
                  href:
                    type: string
                    description: href
                    examples:
                      - 'https://apis.creatoriq.com/crm/v1/api/publisher/99999999999'
                  AccountCollection:
                    type: array
                    items:
                      $ref: '#/components/schemas/SocialAccountModel'
                required:
                  - type
                  - href
                  - AccountCollection
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Publisher
      summary: Add Publisher Social accounts information
      description: Add Publisher Social accounts information
      operationId: addPublisherSocialAccount
      parameters:
        - name: source
          in: query
          description: Type of input data ('link' or 'user')
          required: true
          schema:
            type: string
            enum:
              - link
              - user
            examples:
              - link
          examples:
            default:
              value: link
        - name: accountSource
          in: query
          description: Account source
          required: false
          schema:
            type: string
            examples:
              - crm
          examples:
            default:
              value: crm
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
            examples:
              - '99999'
          examples:
            default:
              value: '99999'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                link:
                  type: string
                  description: Link to social account
                  format: URI
                  examples:
                    - 'https://www.youtube.com/@username'
                user:
                  type: string
                  description: |
                    Username in social network. Available chars are:
                    - Capital and small letters (latin)
                    - Point `.`
                    - Minus `-`
                    - Underscore `_`
                    - "AT" char `@`
                  pattern: '^[\w.\-_@]+$'
                  examples:
                    - user_name
                network:
                  type: string
                  enum:
                    - Youtube
                    - Facebook
                    - Instagram
                    - Google
                    - Vine
                    - Tumblr
                  description: 'Social network (Facebook, Instagram, Google, Vine, Tumblr etc.)'
                  examples:
                    - Youtube
                CreatedBy:
                  type: string
                  description: Name of person who added Social Account
                  examples:
                    - John Smith
                CreatorRole:
                  type: string
                  description: Role of person who added Social Account
                  examples:
                    - Admin
                VerifiedBy:
                  type: string
                  description: Name of person who verified Social Account
                  examples:
                    - John Smith
                VerifiedAt:
                  type: string
                  description: 'Date and Time when Social Account was verified (e.g. 2015-06-04 10:00:01.000)'
                  format: date-time
                  examples:
                    - '2021-01-30T08:30:00Z'
                LinkedBy:
                  type: string
                  description: Name of person who linked Social Account
                  examples:
                    - John Smith
                LinkedAt:
                  type: string
                  description: 'Date and Time when Social Account was linked (e.g. 2015-06-04 10:00:01.000)'
                  format: date-time
                  examples:
                    - '2015-06-04 10:00:01.000'
                WhitelistingExpirationDate:
                  type: string
                  description: Date and Time when whitelisting token was expired
                  format: date-time
                  examples:
                    - '2015-06-04 10:00:01.000'
              required:
                - user
                - network
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - Publisher
                  Social:
                    type: object
                    properties:
                      PublisherId:
                        type: string
                        description: Publisher ID
                        examples:
                          - '99999'
                      Network:
                        type: string
                        description: 'Social network name (Facebook, Instagram etc.)'
                        examples:
                          - Instagram
                      Type:
                        type: string
                        description: Account type for Facebook network
                        examples:
                          - Account type
                      SocialNetworkId:
                        type: string
                        description: Id in social network
                        examples:
                          - '9999'
                      NetworkUser:
                        type: string
                        description: User name in social network
                        examples:
                          - Jon
                      Followers:
                        type: string
                        description: Followers count
                        examples:
                          - '9999'
                      SocialStats:
                        type: array
                        description: Social stats array
                        items:
                          type: object
                      DateSocialStatsUpdated:
                        type: string
                        description: 'Timestamp of the most recent successful run of the social-statistics refresh job for this account (follower count, post count, engagement aggregates). Driven by a different background job from `LastUpdated` and `EngagementCalculated`, so the three can legitimately differ for the same account — some divergence between these timestamps is expected and does not indicate stale data.'
                        examples:
                          - '2015-06-04 10:00:01.000'
                      LastUpdated:
                        type: string
                        description: 'Timestamp of the most recent change to any field on this social account record by any background job. Independent of `DateSocialStatsUpdated` and `EngagementCalculated`, which track specific ETL jobs — these three timestamps can legitimately differ for the same account.'
                        examples:
                          - '2015-06-04 10:00:01.000'
                      UpdatedBy:
                        type: string
                        description: User updated the record
                        examples:
                          - Jon
                      NotFound:
                        type: string
                        description: If true then account is "Not found" anymore
                        examples:
                          - Not found
                      Protected:
                        type: string
                        description: Is account protected
                        examples:
                          - 'true'
                      CPP:
                        type: number
                        description: Channel CPP
                        examples:
                          - 9999
                      CPE:
                        type: number
                        description: Channel CPE
                        examples:
                          - 9999
                      CPM:
                        type: number
                        description: Channel CPM
                        examples:
                          - 9999
                    required:
                      - PublisherId
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Publisher
      summary: Update Publisher Social accounts information
      description: |
        Update Publisher Social accounts information <br/>
        Social network (Facebook, Instagram, Google, Vine, Tumblr etc.)
      operationId: updatePublisherSocialAccounts
      parameters:
        - name: key
          in: query
          description: An additional parameter that should be used if you use `Id` instead of `PublisherId`.
          required: false
          schema:
            type: string
            examples:
              - id
          examples:
            default:
              value: id
        - name: publisherId
          in: path
          description: 'Unique Publisher identifier, `PublisherId` from Get all Publishers endpoint'
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
            examples:
              - '99999'
          examples:
            default:
              value: '99999'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
                  description: |
                    Account ID in social network.
                    This `Id` can be obtained from [Get publisher's social accounts API](https://creatoriq.stoplight.io/docs/ciq-api-documentation/53138e18cb0a8-get-publisher-s-social-accounts)  endpoint, the field is called `SocialNetworkId`
                  examples:
                    - '3454778729'
                network:
                  type: string
                  enum:
                    - youtube
                    - facebook
                    - instagram
                    - google
                    - vine
                    - tumblr
                  description: 'Social network (Facebook, Instagram, Google, Vine, Tumblr etc.)'
                  examples:
                    - instagram
                AQH:
                  type: number
                  format: float
                  examples:
                    - 0.327
                  max: 1
                  min: 0
                Cume:
                  type: integer
                  examples:
                    - 234
                  min: 0
                AvgWeeklyUniqueUsers:
                  type: integer
                  format: int64
                  examples:
                    - 10000000000000000000
                  min: 0
                Followers:
                  type: integer
                  format: int64
                  examples:
                    - 10000000000000000000
                  min: 0
              required:
                - accountId
                - network
      responses:
        '204':
          description: Account updated
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    delete:
      tags:
        - Publisher
      summary: Delete Publisher Social accounts
      description: Removes a social account from a creator.
      operationId: deletePublisherPublisherIdAccounts
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                accountId:
                  type: string
                  description: SocialNetworkId for account
                  examples:
                    - '999999999999999999'
                network:
                  type: string
                  description: Network name
                  examples:
                    - tiktok
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/data/contact/{contactId}':
    get:
      tags:
        - Publisher
      summary: Get Contact Data
      description: Returns a single contact from a publisher (creator).
      operationId: getContactData
      parameters:
        - name: contactId
          in: path
          description: Unique Contact identifier
          required: true
          schema:
            type: integer
            examples:
              - 12444
          examples:
            default:
              value: 12444
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    const: Address
                    description: Type of Search
                    examples:
                      - Address
                  href:
                    type: string
                    description: href
                    examples:
                      - 'https://apis.creatoriq.com/crm/v1/api/data/contact/9999999999'
                  Address:
                    type: object
                    properties:
                      Id:
                        type: integer
                        description: Unique contact Id
                        examples:
                          - 13326640
                      FirstName:
                        type: string
                        description: First name
                        examples:
                          - Christy
                      LastName:
                        type: string
                        description: Last name
                        examples:
                          - Weimann
                      FullName:
                        type: string
                        description: Full name
                        examples:
                          - Christy Weimann
                      AddressLine1:
                        type:
                          - string
                          - 'null'
                        description: Part of address field
                        default: null
                        examples:
                          - 'Robert Robertson, 1234 NW Bobcat Lane, St. Robert'
                      AddressLine2:
                        type:
                          - string
                          - 'null'
                        description: Part of address field
                        default: null
                        examples:
                          - 'Robert Robertson, 1234 NW Bobcat Lane, St. Robert'
                      ZIPCode:
                        type: string
                        description: ZIPCode
                        examples:
                          - '02108'
                      City:
                        type:
                          - string
                          - 'null'
                        default: null
                        examples:
                          - Boston
                      State:
                        type:
                          - string
                          - 'null'
                        default: null
                        examples:
                          - Massachusetts
                      Country:
                        type:
                          - string
                          - 'null'
                        description: Name of country
                        default: null
                        examples:
                          - USA
                      Email:
                        type:
                          - string
                          - 'null'
                        description: Part of contact info
                        default: null
                        examples:
                          - Estevan.Conn54@yahoo.com
                      Email1:
                        type:
                          - string
                          - 'null'
                        description: Part of contact info
                        default: null
                        examples:
                          - Robb82@gmail.com
                      PhoneNumber:
                        type:
                          - string
                          - 'null'
                        description: Phone number
                        default: null
                        examples:
                          - (555) 555-1234
                      PublisherId:
                        type: integer
                        description: Unique publisherId
                        format: int32
                        examples:
                          - 12334
                      PrimaryContact:
                        type: integer
                        enum:
                          - 0
                          - 1
                        description: Primary contact flag
                        examples:
                          - 0
                      EmailExists:
                        type: boolean
                        description: Flag if email exists
                        examples:
                          - false
                      Complaint:
                        type:
                          - boolean
                          - 'null'
                        description: Email Complaint Flag
                        default: null
                        examples:
                          - false
                required:
                  - type
                  - href
                  - Address
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Publisher
      summary: Edit publisher contact data
      description: Makes updates to a publisher contact.
      operationId: PATCHContactData
      parameters:
        - name: contactId
          in: path
          description: Unique Contact identifier
          required: true
          style: simple
          schema:
            type: integer
            examples:
              - 117929027
          examples:
            default:
              value: 117929027
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PATCHContactDataRequest'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/400'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/ErrorResponse404PATCHContactData'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    delete:
      tags:
        - Publisher
      summary: Delete a Publisher Contact
      description: Delete a Publisher Contact
      operationId: deletePublisherContact
      parameters:
        - name: contactId
          in: path
          description: Unique Contact identifier
          required: true
          style: simple
          schema:
            type: integer
            examples:
              - 117929027
          examples:
            default:
              value: 117929027
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400DeleteContactData'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/ErrorResponse404PATCHContactData'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/data/contact:
    post:
      tags:
        - Publisher
      summary: Create publisher contact data
      description: Create a new publisher contact.
      operationId: POSTContactData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/POSTContactDataRequest'
      responses:
        '201':
          $ref: '#/components/responses/POSTContactResponse'
        '400':
          $ref: '#/components/responses/POSTContactResponse400'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/log':
    get:
      tags:
        - Publisher
      summary: Get Publisher Log
      description: Returns the action history for a single publisher (creator)
      operationId: getPublisherLogs
      parameters:
        - name: key
          in: query
          description: 'Optional, search key field. NetworkPublisherId used by default'
          required: false
          schema:
            type: string
            default: NetworkPublisherId
            examples:
              - NetworkPublisherId
          examples:
            default:
              value: NetworkPublisherId
        - name: page
          in: query
          description: Page to go
          schema:
            type: integer
            format: int32
            default: 1
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - Publisher
                  page:
                    type: integer
                    description: Current page
                    examples:
                      - 1
                  total:
                    type: integer
                    description: Total number of found rows
                    examples:
                      - 1
                  count:
                    type: integer
                    description: Number of records in current response
                    examples:
                      - 100
                  EventLogCollection:
                    type: array
                    items:
                      $ref: '#/components/schemas/EventLogCollection'
                required:
                  - page
                  - total
                  - count
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/audience':
    get:
      tags:
        - Publisher
      summary: Get Publisher Audience
      description: |
        Returns any first-party audience data for a specific publisher (creator).

        Please note that the response may contain one of the following options:
        * an object with data (if there is a publisher and there is an audience data) 
        * an empty array (if there is a publisher, but we do not have an audience of data)
      operationId: getPublisherAudience
      parameters:
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                description: Publisher Audience Response
                properties:
                  type:
                    const: Audience
                    description: Type of Search
                    examples:
                      - Audience
                  href:
                    type: string
                    description: href
                    examples:
                      - 'https://apis.creatoriq.com/crm/v1/api/publisher/3293835/audience'
                  Audience:
                    type: object
                    oneOf:
                      - $ref: '#/components/schemas/Audience'
                      - $ref: '#/components/schemas/AudienceEmpty'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/statuses:
    get:
      tags:
        - Publisher
      summary: Get all available Publishers statuses
      description: Get all available publisher statuses that the 'Status' field can return
      operationId: getAllAvailablePublishersStatuses
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    examples:
                      - Statuses
                  Statuses:
                    type: object
                    properties:
                      Open:
                        type: array
                        examples:
                          - - In process
                        items:
                          type: string
                      Suspended:
                        type: array
                        examples:
                          - - Inactive (Other Network)
                        items:
                          type: string
                      Rejected:
                        type: array
                        examples:
                          - - AdSense issues
                        items:
                          type: string
                      Active:
                        type: array
                        examples:
                          - - In Network
                        items:
                          type: string
                      Lost:
                        type: array
                        examples:
                          - - In Network
                        items:
                          type: string
                      Signed:
                        type: array
                        examples:
                          - - AdSense issues
                        items:
                          type: string
                      Approved:
                        type: array
                        examples:
                          - - Waiting for signed contract
                        items:
                          type: string
                      Incomplete:
                        type: array
                        examples:
                          - - Onboarding incomplete
                        items:
                          type: string
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/publishers:
    get:
      tags:
        - Publisher
      summary: Get all Publishers
      description: Returns the list of publishers (creators).
      operationId: getAllPublishers
      parameters:
        - name: size
          in: query
          description: Limit the result set. Default is 20.
          required: false
          schema:
            type: integer
            maximum: 1000
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: page
          in: query
          description: Page number in the result set
          required: false
          schema:
            type: integer
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: filter
          in: query
          description: |
            Filter for records. Can be a set of filters: Column1=Value1,Value2;Column2=Value3

            E.g., Status=Active;Gender=female

            The list of the fields that can be used for filtering:
            - Id
            - PublisherName
            - NetworkPublisherId
            - DateOfBirth
            - Language
            - EthnicBackground
            - Gender
            - RecruiterName
            - Category
            - SubCategories
            - Description
            - LastUpdated
            - Country
            - Relationship
            - Children
            - Pets
            - EyeColor
            - HairColor
            - InternalDescription
            - Tags
            - TotalSubscribers
          required: false
          schema:
            type: string
            examples:
              - Column1=Value1
          examples:
            default:
              value: Column1=Value1
        - name: order
          in: query
          description: |
            Order records. Can be specified as Column,direction I.e. PublisherName,asc.
            You can omit the direction by providing only Column i.e. PublisherName, in such case it will equal to PublisherName,asc.
            The list of available values for sorting:
            - PublisherName
            - TotalSubscribers
            - DateRecruitingStarted
          required: false
          schema:
            type: string
            examples:
              - 'PublisherName,asc'
          examples:
            default:
              value: 'PublisherName,asc'
        - name: fields
          in: query
          description: fields
          schema:
            type: string
            examples:
              - Id
          examples:
            default:
              value: Id
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    const: PublisherCollection
                    examples:
                      - PublisherCollection
                  page:
                    type: integer
                    description: Current page
                    examples:
                      - 2
                  total:
                    type: integer
                    description: Total number of found rows
                    examples:
                      - 200
                  count:
                    type: integer
                    description: Number of records in current response
                    examples:
                      - 20
                  PublisherCollection:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublisherModel'
                required:
                  - page
                  - total
                  - count
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Publisher
      summary: Create publisher
      description: |
        Create publisher in network. You should pass **PublisherName** or **accounts** field for creating publisher.
      operationId: createPublisher
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: Required PublisherName or accounts fields
              properties:
                PublisherFirstName:
                  type: string
                  examples:
                    - therock
                PublisherName:
                  type: string
                  description: Publisher Name field is required when accounts field is not present
                  examples:
                    - therock
                RecruiterName:
                  type: string
                  examples:
                    - Admin
                LogoURL:
                  type: string
                  format: URI
                  examples:
                    - 'https://avatar.jpg'
                LogoHighResURL:
                  type: string
                  format: URI
                  examples:
                    - 'https://highreslogoUrl.png'
                FlagshipProperty:
                  type: string
                  description: Main social account name
                  examples:
                    - therock
                FlagshipSocialNetwork:
                  type: string
                  description: Main social network
                  examples:
                    - instagram
                PublisherLastName:
                  type: string
                  examples:
                    - Last Name
                Language:
                  type: string
                  examples:
                    - English
                Tags:
                  type:
                    - string
                    - 'null'
                  description: Tags
                  default: null
                  examples:
                    - 'Tag1, Tag2, Tag3'
                DateOfBirth:
                  type: string
                  examples:
                    - 'Jan 8, 1987'
                EthnicBackground:
                  type: string
                  examples:
                    - white
                Address:
                  type: object
                  description: Address fields
                  properties:
                    Country:
                      type: string
                      examples:
                        - Albania
                accounts:
                  type: array
                  description: List of attached accounts
                  items:
                    type: object
                    properties:
                      id:
                        type: string
                        description: 'Social network username. In the case of YouTube, this should be a unique channel Id'
                        examples:
                          - therock
                      network:
                        type: string
                        description: Network of social account
                        examples:
                          - Instagram
                    required:
                      - id
                      - network
              minProperties: 1
      responses:
        '201':
          $ref: '#/components/responses/createPublisherResponse200'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/reports/PublishersDataChanges:
    get:
      tags:
        - Publisher
      summary: Get all Publishers accounts changes
      description: Get all Publishers accounts changes
      operationId: getAllPublishersAccountsChanges
      parameters:
        - name: limit
          in: query
          description: Limit the result set.
          required: false
          schema:
            type: integer
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: offset
          in: query
          description: Offset the result set.
          required: false
          schema:
            type: integer
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: DateRangeStart
          in: query
          description: Date range start.
          required: false
          schema:
            type: string
            examples:
              - '2023-01-03'
          examples:
            default:
              value: '2023-01-03'
        - name: DateRangeEnd
          in: query
          description: Date range end.
          required: false
          schema:
            type: string
            examples:
              - '2023-01-03'
          examples:
            default:
              value: '2023-01-03'
      responses:
        '200':
          description: Response 200
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - AccountCollection
                  href:
                    type: string
                    description: href
                    examples:
                      - 'https://apis.creatoriq.com/crm/v1/api/publisher/99999999999/accounts?key=Id'
                  count:
                    type: number
                    description: count
                    examples:
                      - 1
                  total:
                    type: number
                    description: total
                    examples:
                      - 1
                  page:
                    type: number
                    description: page
                    examples:
                      - 1
                  EventLog:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublisherDataChangesCollectionEventLog'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/communication/send:
    post:
      tags:
        - Publisher
      summary: Send a message to publisher
      description: Send a message to publisher
      operationId: sendMessageToPublisher
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                Subject:
                  type: string
                  description: Subject
                  examples:
                    - Subject
                MessageContent:
                  type: string
                  description: Message content
                  examples:
                    - Message
                ToId:
                  type: string
                  description: Id publisher
                  examples:
                    - '9999999'
                type:
                  type: object
                  description: Type object
                  properties:
                    Email:
                      type: string
                      description: Email
                      examples:
                        - email@gmail.com
                    Message:
                      type: string
                      description: Message
                      examples:
                        - Message
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/campaigns':
    get:
      tags:
        - Publisher
      summary: Get Campaigns assigned to Publisher
      description: Returns a list of campaign objects for all the campaigns a specific publisher (creator) is associated with
      operationId: getCampaignsAssignedToPublisher
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier the `publisherId` path value is matched against.
            Defaults to the internal `Id` when omitted (equivalent to `key=Id`).
            Set to `PublisherId` to match by the network `PublisherId` returned by the Get all Publishers endpoint.
          required: false
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[a-zA-Z0-9]+$'
            examples:
              - '9999'
          examples:
            default:
              value: '9999'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Type of Search
                    examples:
                      - CampaignCollection
                  page:
                    type: integer
                    description: Current page
                    examples:
                      - 1
                  total:
                    type: integer
                    description: Total number of found rows
                    examples:
                      - 1
                  count:
                    type: integer
                    description: Number of records in current response
                    examples:
                      - 1
                  total_pages:
                    type: integer
                    description: Total number of pages
                    examples:
                      - 1
                  CampaignCollection:
                    type: array
                    items:
                      $ref: '#/components/schemas/CampaignInformationSuccessResponseModel'
                required:
                  - page
                  - total
                  - count
                  - CampaignCollection
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/communication/CampaignMessaging:
    post:
      tags:
        - Publisher
      summary: Send a message to publisher (regarding to particular campaign)
      description: Send a message to publisher (regarding to particular campaign)
      operationId: sendMessageToPublisherRegardingToParticularCampaign)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                CCToCurrent:
                  type: integer
                  description: CC
                  format: int32
                  examples:
                    - 99999
                Date:
                  type: string
                  description: Date
                  examples:
                    - '2020-02-29'
                FromMcn:
                  type: integer
                  description: From Mcn
                  format: int32
                  examples:
                    - 99999
                MessageContent:
                  type: string
                  description: Message content
                  examples:
                    - Message
                Subject:
                  type: string
                  description: Subject
                  examples:
                    - Subject
                messageId:
                  type: string
                  description: Message Id
                  examples:
                    - '9999'
                ToCC:
                  type: string
                  description: To CC
                  examples:
                    - ToCC
                type:
                  type: object
                  properties:
                    Email:
                      type: integer
                      description: Email flag
                      format: int32
                      examples:
                        - 1
                    Message:
                      type: integer
                      description: Message flag
                      format: int32
                      examples:
                        - 1
                ToPublishers:
                  type: array
                  items:
                    type: integer
                    description: Publishers Ids
                    format: int32
                    examples:
                      - 999999
                CampaignId:
                  type: integer
                  description: Campaign Id
                  format: int32
                  examples:
                    - 999999
                AttachmentsLinks:
                  type: array
                  examples:
                    - - 'https://google.com'
                  items:
                    type: string
                    description: Attachment Links
                    examples:
                      - 'https://google.com'
                publisherId:
                  type: array
                  items:
                    type: integer
                    description: Publishers Ids
                    format: int32
                    examples:
                      - 999999
                ShowBodyInChat:
                  type: integer
                  description: Show body in chat
                  format: int32
                  examples:
                    - 1
                Event:
                  type: string
                  description: Event name
                  examples:
                    - Event
              required:
                - FromMcn
                - MessageContent
                - CampaignId
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  Message:
                    type: string
                    description: Message string
                    examples:
                      - Message
                  UserName:
                    type: string
                    description: User name
                    examples:
                      - Jon
                  ToPublisherIds:
                    type: array
                    items:
                      type: integer
                      description: Publisher Id
                      format: int32
                      examples:
                        - 99999
        '400':
          description: 'Bad request, invalid PublisherID format'
        '401':
          description: The request could not be completed due to invalid API credentials
        '403':
          description: Access was denied due to the API due to insufficient access permissions.
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/communication/sendBulk:
    post:
      tags:
        - Publisher
      summary: Send emails to publishers in bulk.
      description: Send emails to publishers in bulk.
      operationId: sendMessageToPublishersBulk
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                CCToCurrent:
                  type: integer
                  enum:
                    - 0
                    - 1
                  description: |
                    CCToCurrent is a flag that indicates whether a copy of the message should be sent to 
                    the sender (author) of the message. Setting the "CCToCurrent" flag = 1 means that a copy will be 
                    sent to the author of the letter.
                  format: int32
                  examples:
                    - 1
                Date:
                  type: string
                  description: Message sent date
                  examples:
                    - '2020-02-29'
                FromMcn:
                  type: integer
                  description: This is the ID of the current user logged into the CRM or the ID of the user on whose behalf the API key is being used.
                  format: int32
                  examples:
                    - 100013349
                MessageContent:
                  type: string
                  description: Message content. Can include a Cpp Link placeholder - Client (Creator) Payment Processing link. See example
                  examples:
                    - 'Test CppLink: {{CppLink}}'
                Subject:
                  type: string
                  description: Subject
                  examples:
                    - Subject
                messageId:
                  type: string
                  description: Message Id
                  examples:
                    - '9999'
                ToCC:
                  type: string
                  description: |
                    ToCC - is analog of the carbon copy of standard email protocol. Cc stands for carbon copy
                    which means that whose address appears after the Cc header would receive a copy of the message. 
                    Also, the Cc header would also appear inside the header of the received message.
                  examples:
                    - 'email1@gmail.com, email2@gmail.com'
                type:
                  type: object
                  description: Message type. Can be "Email" (email send) or/and "Message" (internal only in CRM send)
                  properties:
                    Email:
                      type: integer
                      enum:
                        - 0
                        - 1
                      description: |
                        If the "Email" flag = 1, this means that the message type is set as "Email" and will 
                        be sent as an email. If the "Email" flag = 0, the message will not be sent as an email.
                        The "Email" and "Message" flags can be used together. For example, "Email = 0", 
                        "Message = 1" - means that only an internal message within the CRM will be sent.
                      format: int32
                      examples:
                        - 1
                    Message:
                      type: integer
                      enum:
                        - 0
                        - 1
                      description: |
                        If the "Message" flag = 1, this means that the type of message being sent is set as 
                        "Message" and will be sent as an internal message in the CRM with saving to the dbo.Messages 
                        database table. The Message flag = 0 means that the internal message within the CRM will not 
                        be sent. The "Email" and "Message" types can be used together.
                        For example, "Email = 1", "Message = 1" - means that both an email and an internal 
                        message in the CRM will be sent.
                      format: int32
                      examples:
                        - 1
                ToPublishers:
                  type: array
                  items:
                    type: integer
                    description: 'Publishers Ids. Can contain no more than 1,000 different IDs.'
                    format: int32
                    examples:
                      - 999999
                AttachmentsLinks:
                  type: array
                  description: |
                    This is an array of objects for sending preloaded attachments to the letter. 
                    To use them, you need to have a response from the AWS Bitbucket responsible for uploading files.
                  examples:
                    - - FileName: Screenshot 2023-05-03 at 12.51.19.png
                        AttachmentLink: 'https://twc-attachments.s3.us-west-1.amazonaws.com/599407372_Screenshot%202023-05-03%20at%2012.51.19.png'
                        AttachmentThumbnail: 'https://twc-attachments.s3.us-west-1.amazonaws.com/thumbnails/thumb_57fcda4899162340996cbf6ab4ed25ca_8403080.png'
                        ContentSize: 38721
                  items:
                    type: object
                    description: |
                      This is object for sending preloaded attachments to the letter.
                      To use them, you need to have a response from the AWS Bitbucket responsible for uploading files.
                    properties:
                      FileName:
                        type: string
                        description: Attachment File Name
                        examples:
                          - Screenshot 2023-05-03 at 12.51.19.png
                      AttachmentLink:
                        type: string
                        description: Attachment Link
                        format: URI
                        examples:
                          - 'https://twc-attachments.s3.us-west-1.amazonaws.com/599407372_Screenshot%202023-05-03%20at%2012.51.19.png'
                      AttachmentThumbnail:
                        type: string
                        description: Attachment Thumbnail url
                        format: URI
                        examples:
                          - 'https://twc-attachments.s3.us-west-1.amazonaws.com/thumbnails/thumb_57fcda4899162340996cbf6ab4ed25ca_8403080.png'
                      ContentSize:
                        type: integer
                        description: Size of attachment in bytes
                        format: int32
                        examples:
                          - 38721
                    examples:
                      - FileName: Screenshot 2023-05-03 at 12.51.19.png
                        AttachmentLink: 'https://twc-attachments.s3.us-west-1.amazonaws.com/599407372_Screenshot%202023-05-03%20at%2012.51.19.png'
                        AttachmentThumbnail: 'https://twc-attachments.s3.us-west-1.amazonaws.com/thumbnails/thumb_57fcda4899162340996cbf6ab4ed25ca_8403080.png'
                        ContentSize: 38721
                ShowBodyInChat:
                  type: integer
                  enum:
                    - 0
                    - 1
                  description: Show body in chat flag - Is show a body of a message in a chat with a creator?
                  format: int32
                  examples:
                    - 1
                Event:
                  type: string
                  description: 'This is an internal CRM field for processing the logic of different types of messages and events. To send emails and/or internal messages for the CRM, it is recommended to set "Event": "sendMessage"'
                  examples:
                    - Event
              required:
                - MessageContent
                - Subject
                - type
                - ToPublishers
      responses:
        '204':
          description: Successful
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/publisher/{publisherId}/{property}':
    get:
      tags:
        - Publisher
      summary: Get Publisher property details
      description: Get Publisher property details
      operationId: getPublisherPublisherIdProperty
      parameters:
        - name: key
          in: query
          description: |
            Specifies which identifier is used in the request.
            Set to `id` if you are using the internal `id` field as identifier.
            If you are using `PublisherId` as identifier(default behavior), this parameter should be omitted.
          required: true
          schema:
            type: string
            enum:
              - Id
              - PublisherId
            default: PublisherId
            examples:
              - Id
          examples:
            default:
              value: Id
        - name: publisherId
          in: path
          description: Unique Publisher identifier
          required: true
          schema:
            type: string
            pattern: '^[0-9]+$'
            examples:
              - '12840667'
          examples:
            default:
              value: '12840667'
        - name: property
          in: path
          description: |
            <b>channels</b>: Get Publisher Channels information;<br/> <b>accounts</b>: Get Publisher Social accounts information.
          required: true
          schema:
            type: string
            enum:
              - channels
              - accounts
              - campaigns
              - messages
              - summary
              - contacts
            examples:
              - accounts
          examples:
            default:
              value: accounts
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    description: Publisher Channels information
                    properties:
                      href:
                        type: string
                        description: CreatorIQ API URL to get publisher’s channels
                        examples:
                          - 'https://apis.creatoriq.com/crm/v1/api/publisher/99999999/channels?key=Id'
                      type:
                        type: string
                        description: Type of Search
                        examples:
                          - Publisher
                      page:
                        type: integer
                        description: Current page
                        examples:
                          - 1
                      total:
                        type: integer
                        description: Total number of found rows
                        examples:
                          - 1
                      count:
                        type: integer
                        description: Number of records in current response
                        examples:
                          - 1
                      ChannelCollection:
                        type: array
                        description: List of channels
                        items:
                          $ref: '#/components/schemas/channelItem'
                    required:
                      - href
                      - type
                      - ChannelCollection
                  - type: object
                    description: Publisher Social accounts information
                    properties:
                      href:
                        type: string
                        description: CreatorIQ API URL to get publisher’s social accounts
                        examples:
                          - 'https://apis.creatoriq.com/crm/v1/api/publisher/10001776608/channels?key=Id'
                      type:
                        type: string
                        description: Type of Search
                        examples:
                          - Publisher
                      page:
                        type: integer
                        description: Current page
                        examples:
                          - 1
                      total:
                        type: integer
                        description: Total number of found rows
                        examples:
                          - 1
                      count:
                        type: integer
                        description: Number of records in current response
                        examples:
                          - 1
                      AccountCollection:
                        type: object
                        properties:
                          Channel:
                            type: object
                            properties:
                              type:
                                type: string
                                description: 'Type account (Channel,Social...)'
                                examples:
                                  - Channel
                              Channel:
                                $ref: '#/components/schemas/Channel'
                          Account:
                            type: object
                            properties:
                              type:
                                type: string
                                description: 'Type account (Channel,Social...)'
                                examples:
                                  - Channel
                              Social:
                                $ref: '#/components/schemas/Social'
                    required:
                      - href
                      - type
                      - AccountCollection
                  - type: object
                    description: Publisher campaigns
                    properties:
                      href:
                        type: string
                        description: CreatorIQ API URL to get publisher’s campaigns
                        examples:
                          - 'https://apis.creatoriq.com/crm/v1/api/publisher/999999999/campaigns?order=EndDate%2CDESC&key=Id'
                      type:
                        const: CampaignCollection
                        description: Type of Search
                        examples:
                          - CampaignCollection
                      page:
                        type: integer
                        description: Current page
                        examples:
                          - 1
                      total:
                        type: integer
                        description: Total number of found rows
                        examples:
                          - 1
                      count:
                        type: integer
                        description: Number of records in current response
                        examples:
                          - 1
                      CampaignCollection:
                        type: array
                        items:
                          $ref: '#/components/schemas/CampaignModel'
                    required:
                      - href
                      - type
                      - CampaignCollection
                  - type: object
                    description: Publisher messages
                    properties:
                      href:
                        type: string
                        description: CreatorIQ API URL to get publisher’s messages
                        examples:
                          - 'https://apis.creatoriq.com/crm/v1/api/message/999999'
                      type:
                        const: Message
                        description: Type of Search
                        examples:
                          - Message
                      Message:
                        type: object
                    required:
                      - href
                      - type
                      - Message
                  - type: object
                    description: Publisher summary
                    properties:
                      href:
                        type: string
                        description: CreatorIQ API URL to get publisher’s summary
                        examples:
                          - 'https://apis.creatoriq.com/crm/v1/api/summary?key=Id'
                      type:
                        const: Summary
                        description: Type of Search
                        examples:
                          - Summary
                      Summary:
                        $ref: '#/components/schemas/Summary'
                    required:
                      - href
                      - type
                      - Summary
        '400':
          $ref: '#/components/responses/400'
        '401':
[...]
