openapi: 3.1.0
info:
  version: 1.0.0
  title: CreatorIQ Campaign APIs
  description: CreatorIQ CRM APIs for Campaigns resource
  termsOfService: 'https://www.creatoriq.com/legal/terms-of-use'
  contact:
    name: CreatorIQ
    url: 'https://www.creatoriq.com'
    email: support@creatoriq.com
  license:
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
    name: Apache 2.0
servers:
  - url: 'https://apis.creatoriq.com'
    description: Live
paths:
  '/crm/v1/api/campaign/{campaignId}/activity':
    get:
      tags:
        - Campaign
      summary: Get Campaign Activity
      description: Returns the aggregate campaign-level metrics as well as all the posts from a single campaign.
      operationId: getCampaignActivity
      parameters:
        - name: publisherId
          in: query
          description: 'Unique publisher id. If not passed, will return activity for all publishers.'
          required: false
          schema:
            type: integer
            examples:
              - 8082160
          examples:
            default:
              value: 8082160
        - name: from
          in: query
          description: Filter by date - Date start
          required: false
          schema:
            type: string
            format: date
            examples:
              - '2023-04-03'
          examples:
            default:
              value: '2023-04-03'
        - name: to
          in: query
          description: Filter by date - Date end
          required: false
          schema:
            type: string
            format: date
            examples:
              - '2023-05-03'
          examples:
            default:
              value: '2023-05-03'
        - name: socialNetwork
          in: query
          description: Filter by social networks
          required: false
          schema:
            type: string
            enum:
              - Facebook
              - Instagram
              - YouTube
              - Web
              - Twitter
              - Twitch
              - TikTok
              - Snapchat
              - Pinterest
            examples:
              - Instagram
          examples:
            default:
              value: Instagram
        - name: postType
          in: query
          description: Filter by post types
          required: false
          schema:
            type: string
            enum:
              - permalink
              - story
              - image
              - reel
              - Photo
              - video
              - tweet
              - TiktokPost
              - stream
              - other
              - article
              - status
              - blog
              - short
              - link
              - carousel
              - clip
              - post
              - text
              - Album
              - snap
              - YoutubeVideo
              - spotlight
            examples:
              - story
          examples:
            default:
              value: story
        - name: fields
          in: query
          description: Filter by return fields. If not set - returns all fields data
          required: false
          schema:
            type: string
            examples:
              - 'Id,SocialNetwork,PublisherId,Type,PostId'
          examples:
            default:
              value: 'Id,SocialNetwork,PublisherId,Type,PostId'
        - name: groupBy
          in: query
          description: Group by entities
          required: false
          schema:
            type: string
            enum:
              - publisher
              - socialNetwork
              - trackingLinks
            examples:
              - publisher
          examples:
            default:
              value: publisher
        - name: page
          in: query
          description: Current page
          schema:
            type: integer
            minimum: 1
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: size
          in: query
          description: How many rows should be fetch
          schema:
            type: integer
            minimum: 1
            default: 20
            examples:
              - 20
          examples:
            default:
              value: 20
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
      responses:
        '200':
          $ref: '#/components/responses/CampaignActivitySuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Campaign
      summary: Post Campaign Activity
      description: Api creates a new campaign manual post.
      operationId: postCampaignActivity
      parameters:
        - name: source
          in: query
          description: Request source
          required: true
          schema:
            type: string
            enum:
              - link
              - file
            examples:
              - link
          examples:
            default:
              value: link
        - name: publisherId
          in: query
          description: Unique publisher id
          required: true
          schema:
            type: integer
            examples:
              - 8082160
          examples:
            default:
              value: 8082160
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: number
            examples:
              - 42066
          examples:
            default:
              value: 42066
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignActivityBody'
      responses:
        '200':
          $ref: '#/components/responses/CreateCampaignActivitySuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/publishers/status':
    put:
      tags:
        - Campaign
      summary: Change Publishers status
      description: Change Publishers status
      operationId: changePublishersStatus
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066
          examples:
            default:
              value: 42066
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangePublishersStatusBody'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/expenses':
    get:
      tags:
        - Campaign
      summary: Get Campaign Expenses
      description: Returns the list of expenses associated with a campaign.
      operationId: getCampaignExpenses
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
      responses:
        '200':
          $ref: '#/components/responses/ExpenseCollectionSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/expense/{expenseId}':
    get:
      tags:
        - Campaign
      summary: Get Campaign Expense by Expense Id
      description: Returns a single expense from a campaign.
      operationId: getCampaignExpensesById
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
        - name: expenseId
          in: path
          description: Unique expense id
          required: true
          schema:
            type: integer
            examples:
              - 29885
          examples:
            default:
              value: 29885
      responses:
        '200':
          $ref: '#/components/responses/ExpenseSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/campaigns:
    get:
      tags:
        - Campaign
      summary: Get Campaigns
      description: Return collections of campaigns.
      operationId: getCampaigns
      parameters:
        - name: page
          in: query
          description: Current page
          schema:
            type: integer
            minimum: 1
            examples:
              - 1
          examples:
            default:
              value: 1
        - name: size
          in: query
          description: How many rows should fetch
          schema:
            type: integer
            minimum: 1
            default: 20
            examples:
              - 20
          examples:
            default:
              value: 20
        - name: fields
          in: query
          description: |
            Fields to include in the response. Possible values are listed below.
            Example: `fields=CampaignId,CampaignName`.
            Fields: CampaignId, NetworkId, CampaignVisibility, EarnedPostsFlag, 
            Currency, SparkAdsPermission, SparkAdsPeriod will always return.
          schema:
            $ref: '#/components/schemas/campaignFieldsQuery'
            example: CampaignName
          examples:
            default:
              value: CampaignName
        - name: filter
          in: query
          description: |
            Search campaigns by filter. You can use multiple filters separated by a semicolon.
            Filter value should be encoded.
            Example: `filter=StartDate%3D2024-01-01%3BDivisionId%3D1234`.
            Filter value without encoding: `filter=StartDate=2024-01-01;DivisionId=1234` may not work properly.
          schema:
            type: string
            examples:
              - StartDate%3D2024-01-01%3BDivisionId%3D1234
          examples:
            default:
              value: StartDate%3D2024-01-01%3BDivisionId%3D1234
      responses:
        '200':
          $ref: '#/components/responses/CampaignsListSuccessResponse'
        '400':
          $ref: '#/components/responses/GeneralErrorResponse'
        '401':
          $ref: '#/components/responses/AuthErrorResponse'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Campaign
      summary: Create Campaign
      description: Api creates a new campaign.
      operationId: postCampaigns
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignBody'
      responses:
        '201':
          $ref: '#/components/responses/CreateCampaignSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/brands:
    get:
      tags:
        - Campaign
      summary: List custom brands (advertisers)
      description: |
        Returns custom brands (advertisers) configured for the current partner.

        Use the `Brand.BrandId` value from this response as `AdvertiserId` when creating or updating a campaign. Do not use this value as the campaign `BrandId`; `BrandId` requires a global brand ID from `GET /crm/v2/api/brands`.
      operationId: getListBrands
      responses:
        '200':
          $ref: '#/components/responses/ListBrandSuccessResponse'
        '403':
          description: Forbidden
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Campaign
      summary: Create an Advertiser(Custom brand)
      description: Creates a new advertiser (Custom brand).
      operationId: createAdvertiserBrand
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdvertiserBrandBody'
      responses:
        '204':
          $ref: '#/components/responses/CreateAdvertiserBrandSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/brands/{brandId}':
    delete:
      tags:
        - Campaign
      summary: Delete Advertiser(Custom brand)
      description: Deletes a specific advertiser (Custom brand).
      operationId: deleteAdvertiserBrand
      parameters:
        - name: brandId
          in: path
          description: Unique custom brand id
          required: true
          schema:
            type: integer
            examples:
              - 50852
          examples:
            default:
              value: 50852
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse404'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    get:
      tags:
        - Campaign
      summary: Get an Advertiser(Custom brand)
      description: Creates a new advertiser (Custom brand).
      operationId: getAdvertiserBrand
      parameters:
        - name: brandId
          in: path
          description: Unique custom brand id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 50852
          examples:
            default:
              value: 50852
      responses:
        '200':
          $ref: '#/components/responses/AdvertiserBrandSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Campaign
      summary: Update Advertiser(Custom brand)
      description: Makes updates to a advertiser (Custom brand).
      operationId: updateAdvertiserBrand
      parameters:
        - name: brandId
          in: path
          description: Unique custom brand id
          required: true
          schema:
            type: integer
            format: int32
            minimum: 0
            examples:
              - 50852
          examples:
            default:
              value: 50852
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdvertiserBrandBody'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}':
    get:
      tags:
        - Campaign
      summary: Get Campaign information
      description: Get Campaign information
      operationId: getCampaignInformation
      parameters:
        - name: fields
          in: query
          description: |
            Fields to include in the response. Possible values are listed below.  
            Example: `fields=CampaignId,CampaignName`.  
            Fields: CampaignId, NetworkId, CampaignVisibility, EarnedPostsFlag, 
            Currency, SparkAdsPermission, SparkAdsPeriod will always return.
          schema:
            $ref: '#/components/schemas/campaignFieldsQuery'
            example: CampaignName
          examples:
            default:
              value: CampaignName
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 34343
          examples:
            default:
              value: 34343
      responses:
        '200':
          $ref: '#/components/responses/CampaignInformationSuccessResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Campaign
      summary: Update Campaign
      description: 'Updates a certain set of fields of a campaign.<br><br>To fill the field CampaignManagerId properly use this API (https://public-apidoc.creatoriq.com/#4d43df49-10dc-49ec-855b-d447369fd7ca) to get users and their IDs.'
      operationId: patchCampaigns
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 843362
          examples:
            default:
              value: 843362
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/campaignBody'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '500':
          $ref: '#/components/responses/ErrorResponse400'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    delete:
      tags:
        - Campaign
      summary: Delete Campaign
      description: Delete a specific campaign
      operationId: deleteCampaign
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 2355
          examples:
            default:
              value: 2355
      responses:
        '204':
          description: Campaign was deleted
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/publishers':
    get:
      tags:
        - Campaign
      summary: Get Campaign Publishers
      description: |
        Returns the list of publishers associated with a campaign, post requirements and campaign specific information.
         ***
        Example of url with query parameters:
        > https://apis.creatoriq.com/crm/v1/api/campaign/{{campaignId}}/publishers?candidates={{candidates}}&sections={{sections}}&publisherId={{publisherId}}
      operationId: getCampaignPublishers
      parameters:
        - name: candidates
          in: query
          description: 0 - Show "ActiveInCampaign" only (default value)<br>1 - Show "CandidateToCampaign" only<br>2 - Show both "ActiveInCampaign" and "CandidateToCampaign"
          required: false
          schema:
            type: integer
            enum:
              - 0
              - 1
              - 2
            format: int32
            examples:
              - 0
          examples:
            default:
              value: 0
        - name: sections
          in: query
          description: |
            Comma-separated list of sections you need. Show additional info about publisher if publisherId in query params
            Possible values are:
              - ScheduledPosts
              - Contract
              - InstructionsForPublishers
              - CampaignDashboardLink
              - FinalPayout
              - PublisherCampaignsListLink
              - PublishersCustomFields
              - FraudSummary
              - CampaignFlags
              - SocialAccounts
          required: false
          schema:
            type: string
            examples:
              - 'ScheduledPosts,InstructionsForPublishers,PublishersCustomFields,SocialAccounts'
          examples:
            default:
              value: 'ScheduledPosts,InstructionsForPublishers,PublishersCustomFields,SocialAccounts'
        - name: publisherId
          in: query
          description: Id of publisher
          required: false
          schema:
            type: integer
            format: int32
            examples:
              - 23354
          examples:
            default:
              value: 23354
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 44560
          examples:
            default:
              value: 44560
      responses:
        '200':
          $ref: '#/components/responses/CampaignPublishersResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    post:
      tags:
        - Campaign
      summary: Assign Publisher to Campaign
      description: Assign a publisher (creator) to a specific campaign.<br>This API endpoint requires campaignId in the parameters. The body should contain publisherId and status
      operationId: assignPublisherToCampaign
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066
          examples:
            default:
              value: 42066
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AssignPublisherToCampaignBody'
      responses:
        '201':
          $ref: '#/components/responses/AssignPublisherToCampaignSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    delete:
      tags:
        - Campaign
      summary: Delete Publishers from Campaign
      description: Removes a publishers (creator) from a specific campaign.
      operationId: deletePublisherFromCampaign
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeletePublisherFromCampaignBody'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
    patch:
      tags:
        - Campaign
      summary: Update Campaign Publisher details
      description: Update Campaign Publisher details
      operationId: updateCampaignPublisherDetails
      parameters:
        - name: publisherId
          in: query
          description: Unique publisher id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066
          examples:
            default:
              value: 42066
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCampaignPublisherDetailsBody'
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/scheduledPosts':
    get:
      tags:
        - Campaign
      summary: Get Campaign Scheduled Posts
      description: Returns the set of scheduled posts from a single campaign.
      operationId: getCampaignScheduledPosts
      parameters:
        - name: publisherId
          in: query
          description: CIQ identifier/Id to uniquely identify the publisher. Do not pass publisherId or networkPublisherId here. Instead pass the Id attribute for the publisher/creator.
          required: false
          schema:
            type: integer
            format: int32
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 848781
          examples:
            default:
              value: 848781
      responses:
        '200':
          $ref: '#/components/responses/CampaignScheduledPostsSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/publishersList':
    get:
      tags:
        - Campaign
      summary: Get Campaign Publishers List
      description: returns the list of publishers (creators) with the standard publisher object within a single campaign.
      operationId: getCampaignPublishersList
      parameters:
        - name: fields
          in: query
          description: |
            Fields to include in the response. Possible values are listed below.
            Example: `fields=PublisherId,PublisherName`.
            Fields: MPID will always be returned.
          schema:
            $ref: '#/components/schemas/campaignPublishersListFieldsQuery'
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
      responses:
        '200':
          $ref: '#/components/responses/CampaignPublishersListSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/updateActivity':
    patch:
      tags:
        - Campaign
      summary: Update Activity Async
      description: In order to update campaign activity asynchronously you need to make a sequence of the same queries and review status of the task.<br>First request must return an object with "TaskId"<br>In the next iteration if the item is still processing the endpoint must return the same object but in "PROCESSING" status.<br>When the item processed it must return the same object but in "DONE" status.
      operationId: updateActivityAsync
      parameters:
        - name: publisherId
          in: query
          description: Unique publisher id
          required: false
          schema:
            type: integer
            examples:
              - 42066002
          examples:
            default:
              value: 42066002
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066
          examples:
            default:
              value: 42066
      responses:
        '200':
          $ref: '#/components/responses/UpdateActivityAsyncSuccessResponse'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/dailyStats':
    get:
      tags:
        - Campaign
      summary: Get Campaign Daily Stats
      description: Returns the campaign-level metrics. The data is grouped by the post-publish date.
      operationId: getCampaignDailyStats
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 848781
          examples:
            default:
              value: 848781
      responses:
        '200':
          $ref: '#/components/responses/CampaignDailyStatsSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/publisher/{publisherId}/additionalRequirements':
    get:
      tags:
        - Campaign
      summary: Get Campaign Additional Requirements
      description: returns the Campaign Additional Requirements.
      operationId: getCampaignAdditionalRequirements
      parameters:
        - name: campaignId
          in: path
          description: Unique campaign id
          required: true
          schema:
            type: integer
            examples:
              - 848781
          examples:
            default:
              value: 848781
        - name: publisherId
          in: path
          description: Unique publisher id
          required: true
          schema:
            type: integer
            examples:
              - 29885
          examples:
            default:
              value: 29885
      responses:
        '200':
          $ref: '#/components/responses/AdditionalRequirementsSuccessResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/publisher/{publisherId}/payment/settings':
    patch:
      tags:
        - Campaign
      summary: Update campaign publisher payment settings
      description: |
        Update campaign publisher payment settings. 
        For payment information, use this endpoint  [Get Campaign Publishers](https://apidocs.creatoriq.com/docs/ciq-api-documentation/branches/SPRTN-45533/29a9db1c3c89d-get-campaign-publishers). 
        Also note that with `PerPost` payment type, you will get a summarized value.
      operationId: updateCampaignPublisherPaymentSettings
      parameters:
        - name: campaignId
          in: path
          description: campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
        - name: publisherId
          in: path
          description: Unique publisher id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
      requestBody:
        description: Body parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payoutValue:
                  type: number
                  description: 'The amount of payout, if payment for each post - then this value for each post, if payout is fixed for the creator - then the total amount of payout'
                  examples:
                    - 11
                payoutType:
                  type: string
                  enum:
                    - PerCreator
                    - PerPost
                  description: 'Type of payout. Two types of payout are available, per post or fixed payment to the creator'
      responses:
        '204':
          description: Http no content
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  '/crm/v1/api/campaign/{campaignId}/requirement/{postId}/payment/settings':
    patch:
      tags:
        - Campaign
      summary: Update campaign publisher payment value for the requirement
      description: |
        Update campaign's publisher payment settings for the specific requirement. The API call used for the updating campaign with per post type only.
        You can get publisher's postId from this API call [Get Campaign Scheduled Posts](https://creatoriq.stoplight.io/docs/ciq-api-documentation/7504b827abd10-get-campaign-scheduled-posts).
      operationId: updateCampaignRequirementPaymentSettings
      parameters:
        - name: campaignId
          in: path
          description: campaign id
          required: true
          schema:
            type: integer
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
        - name: postId
          in: path
          description: Unique publisher's requirement id
          required: true
          schema:
            type: integer
            format: int32
            examples:
              - 42066001
          examples:
            default:
              value: 42066001
      requestBody:
        description: Body parameters
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payoutValue:
                  type: number
                  description: The amount of payout for the requirement
                  examples:
                    - 125.5
      responses:
        '204':
          description: Http no content
        '400':
          $ref: '#/components/responses/ErrorResponse400'
        '403':
          description: Forbidden
        '404':
          $ref: '#/components/responses/ErrorResponse404'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
tags:
  - name: Campaign
    description: Campaign information
components:
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-api-key
      in: header
  responses:
    AdditionalRequirementsSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdditionalRequirementsSuccessModel'
    CampaignActivitySuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignActivitySuccessResponseModel'
    CampaignPublishersListSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignPublishersListSuccessResponseModel'
    CreateCampaignActivitySuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCampaignActivitySuccessResponseModel'
    UpdateActivityAsyncSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateActivityAsyncSuccessResponseModel'
    AssignPublisherToCampaignSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AssignPublisherToCampaignSuccessResponseModel'
    CreateAdvertiserBrandSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateAdvertiserBrandSuccessResponseModel'
    AdvertiserBrandSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AdvertiserBrandSuccessResponseModel'
    ExpenseSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExpenseSuccessResponseModel'
    ExpenseCollectionSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ExpenseCollectionSuccessResponseModel'
    CampaignInformationSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignModel'
    ListBrandSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListBrandSuccessResponseModel'
    CreateCampaignSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignModel'
    CampaignScheduledPostsSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignScheduledPostsSuccessResponseModel'
    CampaignDailyStatsSuccessResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignDailyStatsSuccessResponseModel'
    CampaignsListSuccessResponse:
      description: List of campaigns
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignsSuccessResponseModel'
    GeneralErrorResponse:
      description: Something went wrong
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseModel'
    AuthErrorResponse:
      description: Incorrect x-api-key
    ErrorResponse404:
      description: Campaign with supplied ID not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseModel'
    ErrorResponse400:
      description: 'Bad request (i.e., wrong params)'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponseModel'
    CampaignPublishersResponse:
      description: Success
      content:
        application/json:
          schema:
            oneOf:
              - $ref: '#/components/schemas/CampaignPublishersSuccessResponseModel'
              - $ref: '#/components/schemas/CampaignPublishersSinglePublisherSuccessResponseModel'
  schemas:
    CreateCampaignActivityBody:
      type: object
      properties:
        link:
          type: string
          description: Url to social network post
          examples:
            - 'https://www.instagram.com/reel/CmMnORXJRuA'
        SocialNetwork:
          type: string
          description: Social network name
          examples:
            - instagram
        SocialNetworkId:
          type: string
          examples:
            - ''
        PostType:
          type: string
          enum:
            - video
            - image
          description: Post type
          examples:
            - video
        user:
          type: string
          description: User username
          examples:
            - therock
        Thumbnail:
          type: string
          description: url to post thumbnail
          examples:
            - 'https://static-resources.creatoriq.com/social-pictures/instagram/thumbnail/CmMnORXJRuA.jpg'
        SavedPicture:
          type: string
          description: url to post saved picture
          examples:
            - 'https://static-resources.creatoriq.com/social-pictures/instagram/thumbnail/CmMnORXJRuA.jpg'
      minProperties: 1
    ChangePublishersStatusBody:
      type: object
      properties:
        publisherIds:
          type: array
          description: Array of uniques publisers ids
          examples:
            - - 8082160
              - 8082161
          items:
            type: integer
        status:
          type: string
          enum:
            - Accepted
            - Invited
            - Selected
            - Declined
          description: Status of publishers
          examples:
            - Accepted
      required:
        - publisherIds
        - status
    campaignFieldsQuery:
      type: string
      enum:
        - AccessControl
        - AccountManagerName
        - AccountsParticipation
        - ActivatedBy
        - ActivationDate
        - AdvertiserId
        - AdvertisingPartner
        - Approval
        - ApproveTermsAndConditions
        - BackgroundImageUrl
        - Benchmarks
        - BrandKeyword
        - CID
        - CRMOpportunityState
        - CRMPipeline
        - CRMPipelineStage
        - CampaignId
        - CampaignManagerId
        - CampaignName
        - CampaignStatus
        - CampaignUpdateFrequency
        - ClosedAt
        - ClosedBy
        - CollaborationVisibility
        - ContentApproval
        - ContentLead
        - Contest
        - ContestsForPublishers
        - ContractRequired
        - ContractTermsAcceptedAt
        - ContractTermsAcceptedBy
        - CreativeBackground
        - CreativeDeliverables
        - CreativeInformationConsiderations
        - CreativeKeyMessage
        - CreativeObjective
        - CreativeStepsTimings
        - CreativeTargetMarket
        - CreatedBy
        - CreatedById
        - Currency
        - CustomFieldValue1
        - CustomFieldValue2
        - CustomFieldValue3
        - CustomFieldValue4
        - CustomFieldValue5
        - DateDependenciesUpdated
        - DateInfluencerProposalDue
        - DateLastActivityUpdated
        - DateTimeCreated
        - Description
        - Direct
        - DivisionId
        - EndDate
        - ExpectedCloseDate
        - Format
        - HashTag
        - InfluencerAudience
        - InfluencerIndicativeInfluencers
        - InfluencerInformation
        - InfluencerInfluencerOverview
        - InfluencerQuantReqs
        - InfluencerValueProp
        - InstructionsFacebook
        - InstructionsFacebookTrigger
        - InstructionsForPublishers
        - InstructionsGoogle
        - InstructionsGoogleTrigger
        - InstructionsInstagram
        - InstructionsInstagramTrigger
        - InstructionsJSON
        - InstructionsMusically
        - InstructionsMusicallyTrigger
        - InstructionsPinterest
        - InstructionsPinterestTrigger
        - InstructionsSnapchat
        - InstructionsSnapchatTrigger
        - InstructionsTumblr
        - InstructionsTumblrTrigger
        - InstructionsTwitter
        - InstructionsTwitterTrigger
        - InstructionsVine
        - InstructionsVineTrigger
        - InstructionsWeb
        - InstructionsWebTrigger
        - InstructionsYouTube
        - InstructionsYouTubePlaylist
        - InstructionsYouTubeTrigger
        - IsSale
        - LastModified
        - LastModifiedBy
        - LinksForCampaign
        - LogoURL
        - MainBenchmarks
        - Manager
        - MaxMonthlyBudget
        - MaxWeeklyBudget
        - MediaBudget
        - MultipleHashTagsLogic
        - NetworkCampaignID
        - NetworkCampaignName
        - NetworkId
        - Objective
        - OfferId
        - OfferURL
        - Paid
        - PayoutType
        - PaymentTerm
        - PlatformFacebook
        - PlatformGoogle
        - PlatformInstagram
        - PlatformMusically
        - PlatformPinterest
        - PlatformSnapchat
        - PlatformTumblr
        - PlatformTwitter
        - PlatformVine
        - PlatformWeb
        - PlatformYouTube
        - PlatformsJSON
        - PostApproval
        - Probability
        - ProductionBudget
        - PublishAfter
        - PublishBefore
        - RequiredPostsFacebook
        - RequiredPostsGoogle
        - RequiredPostsInstagram
        - RequiredPostsJSON
        - RequiredPostsMusically
        - RequiredPostsPinterest
        - RequiredPostsSnapchat
        - RequiredPostsTumblr
        - RequiredPostsTwitter
        - RequiredPostsVine
        - RequiredPostsWeb
        - RequiredPostsYouTube
        - RespondByDate
        - SalesPerson
        - SocialReportMetrics
        - SpentToDate
        - StartDate
        - SubmitByDate
        - SubmitForApprovalBy
        - SubId
        - Tags
        - TalentBudget
        - TermsAndConditions
        - ThumbLogoUrl
        - Tier
        - TotalBudget
        - TotalBudgetFromAdvertiser
        - TrackingAddUTM
        - TrackingLevel
        - TrackingLinkCreationType
        - TravelBudget
        - Visibility
        - YoutubeEngagementMetric
    campaignBody:
      type: object
      description: Campaign request body
      properties:
        PostRequirements:
          type: array
          description: Post Requirements in Campaign Body
          items:
            $ref: '#/components/schemas/CampaignBodyPostRequirementsModel'
        CampaignName:
          type: string
          description: Campaign name
          examples:
            - CampaignCola
        NetworkCampaignName:
          type:
            - string
            - 'null'
          description: External campaign name
          examples:
            - NetworkCampaignCola
        PlatformYouTube:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Youtube for campaign
            * If 1 enable Youtube for campaign
          examples:
            - 0
        RequiredPostsYouTube:
          type: integer
          description: Required posts count on Youtube
          format: int32
          minimum: 0
          examples:
            - 3
        PlatformFacebook:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Facebook for campaign
            * If 1 enable Facebook for campaign
        RequiredPostsFacebook:
          type: integer
          description: Required posts count on Facebook
          examples:
            - 3
        PlatformTwitter:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Twitter for campaign
            * If 1 enable Twitter for campaign
        RequiredPostsTwitter:
          type: integer
          description: Required posts count on Twitter
          examples:
            - 32
        PlatformInstagram:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Instagram for campaign
            * If 1 enable Instagram for campaign
        RequiredPostsInstagram:
          type: integer
          description: Required posts count on Instagram
          examples:
            - 43
        PlatformPinterest:
          type: integer
          enum:
            - 0
            - 1
          description: Platform Pinterest
        RequiredPostsPinterest:
          type: integer
          description: Required posts count on Pinterest
          examples:
            - 33
        PlatformTwitch:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Twitch for campaign
            * If 1 enable Twitch for campaign
        RequiredPostsTwitch:
          type: integer
          description: Required posts count on Twitch
          examples:
            - 3
        PlatformTumblr:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Tumblr for campaign
            * If 1 enable Tumblr for campaign
        RequiredPostsTumblr:
          type: integer
          description: Required posts count on Tumblr
          examples:
            - 22
        PlatformSnapchat:
          type: integer
          enum:
            - 0
            - 1
          description: Platform Snapchat
        RequiredPostsSnapchat:
          type: integer
          description: Required posts count on Snapchat
          examples:
            - 3
        PlatformTikTok:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable TikTok for campaign
            * If 1 enable TikTok for campaign
        RequiredPostsTikTok:
          type: integer
          description: Required posts count on TikTok
          examples:
            - 2
        PlatformLinkedIn:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable LinkedIn for campaign
            * If 1 enable LinkedIn for campaign
        RequiredPostsLinkedIn:
          type: integer
          description: Required posts count on LinkedIn
          examples:
            - 4
        PlatformWeibo:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Weibo for campaign
            * If 1 enable Weibo for campaign
        RequiredPostsWeibo:
          type: integer
          description: Required posts count on Weibo
          minimum: 0
          examples:
            - 4
        PlatformWeb:
          type: integer
          enum:
            - 0
            - 1
          description: |
            * If 0 disable Web for campaign
            * If 1 enable Web for campaign
        RequiredPostsWeb:
          type: integer
          description: Required posts count on Web
          examples:
            - 3
        CampaignStatus:
          type:
            - string
            - 'null'
          description: Current status of campaign.
          examples:
            - Closed
        StartDate:
          type: string
          description: Campaign start date
          examples:
            - '2020-03-29'
        EndDate:
          type: string
          description: Campaign end date
          examples:
            - '2020-02-29'
        Description:
          type: string
          description: Campaign description
          examples:
            - Lorem Ipsum
        LinksForCampaign:
          type: string
          description: Links to external docs
          default: ''
          examples:
            - 'http://google.test.com'
        Manager:
          type: string
          description: Campaign manager name
          examples:
            - John Manager
        AccountManagerName:
          type: string
          description: Account manager name
          examples:
            - John Doe
        SalesPerson:
          type: string
          description: Sales person nam
          examples:
            - admin
        IsSale:
          type: integer
          enum:
            - 0
            - 1
          default: 0
        Visibility:
          type: string
          enum:
            - By invitation only
            - Open to eligible influencers
            - Open to all publishers
            - null
          description: Visibility status for publisher
          examples:
            - By invitation only
        FixedFeeTrigger:
          type:
            - string
            - 'null'
          default: null
        PayoutType:
          type: string
          enum:
            - PerPost
            - Fixed
            - null
        AdvertiserId:
          type: integer
          description: |
            ID of a custom brand (advertiser).

            Get this value from `GET /crm/v1/api/brands`, using the returned `Brand.BrandId`. Do not use this field for a global brand.
          examples:
            - 1244
        BrandId:
          type: integer
          description: |
            ID of a global brand.

            Get this value from `GET /crm/v2/api/brands`, using the returned `brandId`. Do not use a `Brand.BrandId` value returned by `GET /crm/v1/api/brands`.
          examples:
            - 1244
        HashTag:
          type:
            - string
            - 'null'
          description: Hashtags and keywords you tracked for this campaign
          examples:
            - 'USWNT,#TeamNike,Nike,MLS'
        BrandKeyword:
          type:
            - string
            - 'null'
          description: List of brand keywords
          examples:
            - null
        MultipleHashTagsLogic:
          type: string
          enum:
            - AND
            - OR
          description: |
            * AND => all tags must be in post for include to campaign
            * OR =>  one of tags must be in post for include to campaign
        CampaignManagerId:
          type:
            - integer
            - 'null'
          description: Unique campaign manager id
          examples:
            - 123
        TikTokOneCampaign:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: |
            Defines whether to create a TikTok One campaign.
            * 0 – TikTok One campaign will not be created.
            * 1 – TikTok One campaign will be created.
          examples:
            - 1
        YouTubeBrandConnect:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: |
            Defines whether to create a YouTube One campaign.
            * 0 – TikTok One campaign will not be created.
            * 1 – TikTok One campaign will be created.
          examples:
            - 1
        YouTubeChannel:
          type:
            - string
            - 'null'
          description: |
            Defines YouTube Brand Connect Brand Channel
          examples:
            - '@creatoriqOfficial'
        NextGen:
          type:
            - boolean
            - 'null'
          description: '[Optional] Flag indicating if the campaign is created using the new logic'
          examples:
            - true
        BrandAndTerms:
          type: string
          description: '[Optional] Collect content that includes both a brand mention and at least one of the specified terms'
          examples:
            - Trending
        DefiniteTerms:
          type: string
          description: '[Optional] Collect content that includes any of the specified keywords, even without a brand mention'
          examples:
            - Ad
        NegativeTerm:
          type: string
          description: '[Optional] Keywords and hashtags that must not be included in the post'
          examples:
            - repost
        InternalDescription:
          type: string
          description: '[Optional] Campaign Description'
          examples:
            - Campaign details
        BrandCollectContent:
          type:
            - boolean
            - 'null'
          description: '[Optional] A flag to indicate if the branded content should be collected'
          examples:
            - true
      required:
        - CampaignName
        - StartDate
      minProperties: 1
    CampaignBodyPostRequirementsModel:
      type: object
      properties:
        SocialNetwork:
          type: string
          enum:
            - Facebook
            - Instagram
            - YouTube
            - Web
            - Twitter
            - Twitch
            - TikTok
            - Snapchat
            - Pinterest
          description: Social Network
          examples:
            - Instagram
        PostType:
          type: string
          enum:
            - Permalink
            - Story
            - Image
            - Reel
            - Photo
            - Video
            - Tweet
            - TiktokPost
            - Stream
            - Other
            - Article
            - Status
            - Blog
            - Short
            - Link
            - Carousel
            - Clip
            - Post
            - Text
            - Album
          description: Social Network Post Type
          examples:
            - Image
        Title:
          type:
            - string
            - 'null'
          description: Custom Requirement Title
          default: null
          examples:
            - Insta Title
        PostRequirementId:
          type: string
          description: Post Requirement Id
          format: int32
          examples:
            - '2982229'
        Instructions:
          type:
            - string
            - 'null'
          description: Requirement Instructions
          default: null
          examples:
            - null
      required:
        - SocialNetwork
        - PostType
        - Title
        - PostRequirementId
        - Instructions
    CreateAdvertiserBrandBody:
      type: object
      description: Schema represens request for create advertiser
      properties:
        BrandName:
          type: string
          examples:
            - Coca Cola
        BillingName:
          type: string
          examples:
            - Test
        Description:
          type: string
          examples:
            - Short description
      required:
        - BrandName
      minProperties: 1
    AssignPublisherToCampaignBody:
      type: object
      properties:
        publisherId:
          type: integer
          description: Unique publishers id
          oneOf:
            - type: integer
              examples:
                - 2323
            - type: array
              items:
                type: integer
                examples:
                  - 2334
        status:
          type: string
          description: Status of publisher in campaign
          examples:
            - Accepted
      required:
        - publisherId
        - status
    DeletePublisherFromCampaignBody:
      type: object
      properties:
        publisherId:
          type: array
          description: Unique publisher id or array of publishers ids
          minItems: 1
          examples:
            - - 8082160
              - 8082161
          uniqueItems: true
          items:
            type: integer
      required:
        - publisherId
    UpdateCampaignPublisherDetailsBody:
      type: object
      properties:
        Payout:
          type:
            - string
            - 'null'
          default: null
          x-deprecated: true
        PayoutType:
          type:
            - string
            - 'null'
          default: null
          x-deprecated: true
        RequiredPostsYouTube:
          type:
            - integer
            - 'null'
          description: Number of required post on YouTube
          examples:
            - 10
        PlatformYouTube:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if YouTube enabled or disabled * 0 or null YouTube disabled for Campaign * 1 YouTube enabled for Campaign
        RequiredPostsFacebook:
          type: integer
          description: Number of required post on Facebook
          examples:
            - 10
        PlatformFacebook:
          type: integer
          enum:
            - 0
            - 1
          description: Flag represents if Facebook enabled or disabled * 0 or null Facebook disabled for Campaign * 1 Facebook enabled for Campaign
        RequiredPostsTwitter:
          type: integer
          description: Number of required post on Twitter
          examples:
            - 10
        PlatformTwitter:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Twitter enabled or disabled * 0 or null Twitter disabled for Campaign * 1 Twitter enabled for Campaign
        RequiredPostsInstagram:
          type: integer
          description: Number of required post on Instagram
          examples:
            - 10
        PlatformInstagram:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Instagram enabled or disabled * 0 or null Instagram disabled for Campaign * 1 Instagram enabled for Campaign
        RequiredPostsPinterest:
          type: integer
          description: Number of required post on Pinterest
          examples:
            - 10
        PlatformPinterest:
          type: integer
          enum:
            - 0
            - 1
          description: Flag represents if Pinterest enabled or disabled * 0 or null Pinterest disabled for Campaign * 1 Pinterest enabled for Campaign
        RequiredPostsTwitch:
          type:
            - integer
            - 'null'
          description: Number of required post on Twitch
          examples:
            - 10
        PlatformTwitch:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Twitch enabled or disabled * 0 or null Twitch disabled for Campaign * 1 Twitch enabled for Campaign
        RequiredPostsTumblr:
          type:
            - integer
            - 'null'
          description: Number of required post on Tumblr
          examples:
            - 10
        PlatformTumblr:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Tumblr enabled or disabled * 0 or null Tumblr disabled for Campaign * 1 Tumblr enabled for Campaign
        RequiredPostsSnapchat:
          type:
            - integer
            - 'null'
          description: Number of required post on Snapchat
          examples:
            - 10
        PlatformSnapchat:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Snapchat enabled or disabled * 0 or null Snapchat disabled for Campaign * 1 Snapchat enabled for Campaign
        RequiredPostsTikTok:
          type:
            - integer
            - 'null'
          description: Number of required post on TikTok
          examples:
            - 10
        PlatformTikTok:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if TikTok enabled or disabled * 0 or null TikTok disabled for Campaign * 1 TikTok enabled for Campaign
        RequiredPostsWeb:
          type:
            - integer
            - 'null'
          description: Number of required post on Web
          examples:
            - 10
        PlatformWeb:
          type: integer
          enum:
            - 0
            - 1
            - null
          description: Flag represents if Web enabled or disabled * 0 or null Web disabled for Campaign * 1 Web enabled for Campaign
          default: 0
        Note:
          type:
            - string
            - 'null'
          default: null
        RespondByDate:
          type: string
          examples:
            - '12/27/2022 14:08:31'
        DateRequirementsCompleted:
          type: string
          examples:
            - '12/27/2022 14:08:31'
      minProperties: 1
    campaignPublishersListFieldsQuery:
      type: string
      enum:
        - PublisherId
        - PublisherName
        - LegalGuardian
        - OutsideManagerName
        - ManagementCompany
        - NetworkPublisherId
        - InvitedToPortal
        - LogoURL
        - ThumbLogoUrl
        - PrimaryContactId
        - ShipToContactId
        - FinanceContactId
        - OutsideManagerContactId
        - LegalGuardianContactId
        - DateOfBirth
        - Age
        - Language
        - Language2
        - EthnicBackground
        - Gender
        - RecruiterName
        - AccountManagerName
        - PartnerId
        - NetworkName
        - SubNetworkId
        - SubNetworkName
        - FlagshipProperty
        - Category
        - PublisherType
        - BrandsWishes
        - BrandsContracts
        - PressList
        - SubCategories
        - Size
        - Status
        - StatusCategory
        - ExpectedCloseDate
        - Probability
        - LeadSource
        - DatedClaimed
        - DateInvited
        - DateWelcomeEmailSent
        - DateFirstChannelActivated
        - DateJoinedNetwork
        - DateLastContact
        - DatePublisherStateChanged
        - DateJoinedPublisherPortal
        - DateLastPublisherPortalLogin
        - Description
        - LastUpdated
        - UpdatedBy
        - HasAdSense
        - Unsubscribe
        - DontContact
        - AdSenseDisabled
        - AdSenseIssue
        - OtherNetwork
        - AllowReApply
        - RegistrationCompleted
        - InterfaceLocale
        - PrimaryContact
        - ShipToAddress
        - FullName
        - FirstName
        - LastName
        - StreetAddress
        - StreetAddress2
        - City
        - State
        - ZipCode
        - Country
        - Email
        - Email1
        - PhoneNumber1
        - PhoneNumber1Description
        - PhoneNumber2
        - PhoneNumber2Description
        - PhoneNumber3
        - PhoneNumber3Description
        - Fax
        - Notes
        - LegalGuardianContact
        - TW_Followers
        - TW_NumOfAccounts
        - VN_Followers
        - VN_NumOfAccounts
        - IN_Followers
        - IN_NumOfAccounts
        - FB_Likes
        - FB_TotalViews
        - FB_TotalVideos
        - FB_AverageMonthlyViews
        - FB_AvgLastViewsPerVideo
        - FB_AvgLastLikesPerVideo
        - FB_AvgLastCommentsPerVideo
        - FB_NumOfAccounts
        - NumberOfChannels
        - YT_Subscribers
        - YT_TotalViews
        - YT_TotalVideos
        - YT_AverageMonthlyViews
        - FinanceContact
        - DateRecruitingStarted
        - DatePublisherActivated
        - DatePublisherDeActivated
        - ContractSummary
        - ChannelList
        - Categories
        - Relationship
        - Children
        - Pets
        - Glasses
        - EyeColor
        - HairColor
        - ContentRating
        - BrandsWorked
        - BrandsWishWork
        - BrandsWontWork
        - InternalDescription
        - ShortDescription
        - AgeRange
        - CustomValue1
        - CustomValue2
        - CustomValue3
        - CustomValue4
        - CustomValue5
        - LogoHighResURL
        - Tags
        - YT_AvgLastViewsPerVideo
        - YT_AvgLastLikesPerVideo
        - YT_AvgLastDislikesPerVideo
        - YT_AvgLastCommentsPerVideo
        - AvgLastEngagementPerVideoYT
        - AvgLastEngagementPerVideoSocial
        - AvgLastEngagementPerVideoTotal
        - GP_Followers
        - GP_NumOfAccounts
        - TB_Followers
        - TB_NumOfAccounts
        - PN_Followers
        - PN_NumOfAccounts
        - SC_Followers
        - SC_NumOfAccounts
        - WB_Followers
        - WB_NumOfAccounts
        - ML_Followers
        - ML_NumOfAccounts
        - TCH_Followers
        - TCH_NumOfAccounts
        - TCH_TotalViews
        - AVV30
        - AVV60
        - AVV90
        - FlagshipSocialNetwork
        - SocialAccountsList
        - FlagshipPropertyTitle
        - TotalSubscribers
        - SalesSheetImageURL
        - HaveKids
        - HavePets
        - PoliticalAffiliation
        - PhoneType
        - ShirtSize
        - HasDriverLicense
        - HasPassport
        - ShoeSize
        - PantSize
        - PantWaist
        - PantLength
        - Height
        - WillTravel
        - DressSize
        - LDACompliant
        - AccessControl
        - Token
        - CIQCertifiedFlag
        - CIQCertifiedFlagDate
        - AudienceFlags
        - EngagementFlags
        - GrowthFlags
        - TotalFraudFlags
        - CustomValue6
        - CustomValue7
        - CustomValue8
        - CustomValue9
        - CustomValue10
        - CustomValue11
        - CustomValue12
        - CustomValue13
        - CustomValue14
        - CustomValue15
        - CustomValue16
        - CustomValue17
        - TT_Followers
        - TT_NumOfAccounts
        - WE_Followers
        - WE_NumOfAccounts
        - LI_Followers
        - LI_NumOfAccounts
        - LN_Followers
        - LN_NumOfAccounts
        - TCH_Subscribers
        - TCH_PeakViewers
        - TCH_AvgViewers
        - TCH_ViewsVideoCount
        - FollowersCountJSON
        - TotalSocialAccounts
        - PrimarySocialAccountId
        - EmailExists
        - PC_Followers
        - PC_NumOfAccounts
        - BC_Followers
        - BC_NumOfAccounts
        - CampaignId
        - CHP_PublisherId
        - MPID
        - Id
        - PublisherState
        - PublisherStateChangeReason
    AdditionalRequirementsSuccessModel:
      type: object
      properties:
        type:
          const: PublishersAdditionalRequirementsCollection
          description: Type of Search
          examples:
            - PublishersAdditionalRequirementsCollection
        href:
          type: string
          description: Link to fetch current campaign Publisher Additional Requirements
          examples:
            - 'https://apis.creatoriq.com/crm/v1/api/PublishersAdditionalRequirements'
        count:
          type: integer
          description: Number of records in current response
          examples:
            - 20
        total:
          type: integer
          description: Total number of found rows
          examples:
            - 20
        page:
          type: integer
          description: Current page
          examples:
            - 1
        PublishersAdditionalRequirementsCollection:
          type: array
          items:
            $ref: '#/components/schemas/PublishersAdditionalRequirementModel'
      required:
        - type
        - href
        - count
        - total
        - page
        - PublishersAdditionalRequirementsCollection
    PublishersAdditionalRequirementModel:
      type: object
      properties:
        type:
          const: PublishersAdditionalRequirements
          description: Type of Search
          examples:
            - PublishersAdditionalRequirements
        href:
          type: string
          description: Link to fetch current campaign Publishers Additional Requirements
          examples:
            - 'https://apis.creatoriq.com/crm/v1/api/publishersAdditionalRequirements/124496'
        PublishersAdditionalRequirements:
          type: object
          description: Campaign publishers additional requirements data
          properties:
            Id:
              type: integer
              description: Additional Requirement Id
              format: int32
              examples:
                - 124685
            PublisherId:
              type: integer
              description: Publisher Id
              format: int32
              examples:
                - 5521596
            CampaignId:
              type: integer
              description: Campaign Id
              format: int32
              examples:
                - 812227
            ReqType:
              type: string
              description: Additional Requirement Type
              maxLength: 50
              examples:
                - Upfront Fees
            DueDate:
              type:
                - string
                - 'null'
              description: Additional Requirement Due Date
              format: date-time
              default: null
              examples:
                - '2023-04-26T21:59:59+00:00'
            Payout:
              type:
                - string
                - 'null'
              description: Additional Requirement Payout
              default: null
              examples:
                - null
            Status:
              type: integer
              enum:
                - 0
                - 1
              description: Additional Requirement Status
              default: 0
              examples:
                - 1
            CompletionDate:
              type:
                - string
                - 'null'
              description: Additional Requirement Completion Date
              format: date-time
              default: null
              examples:
                - '2023-04-03T13:46:48+00:00'
            IsCustom:
              type: integer
              enum:
                - 0
                - 1
              description: Is this Custom Additional Requirement flag
              default: 0
              examples:
                - 0
            IsDelete:
              type: integer
              enum:
                - 0
                - 1
                - null
              description: Is Delete flag
              examples:
                - 1
            Notes:
              type:
                - string
                - 'null'
              description: Notes
              maxLength: 4000
              default: null
              examples:
                - <p>Notes<\/p>
            Attachments:
              type:
                - string
                - 'null'
              description: Attachments
              format: URI
              maxLength: 1024
              default: null
              examples:
                - 'https://twc-attachments.s3.us-west-1.amazonaws.com/image.png'
            PaymentId:
              type:
                - integer
                - 'null'
              description: Payment Id
              format: int32
              default: null
              examples:
                - null
            CampaignsAdditionalRequirementsId:
              type:
                - integer
                - 'null'
              description: Campaigns Additional Requirements Id
              format: int32
              default: null
              examples:
                - null
            IsPublisherNotified:
              type: integer
              description: Is Publisher Notified flag
              default: 0
              examples:
                - 0
            PaymentTerm:
              type:
                - integer
                - 'null'
              description: Payment Term
              default: null
              examples:
                - null
            PaymentDueDate:
              type:
                - string
                - 'null'
              description: Payment Due Date
              format: date-time
              default: null
              examples:
                - null
            Instructions:
              type: string
              description: Instructions
              default: ''
              examples:
                - <p>example</p>
            PurchaseOrderId:
              type:
                - string
                - 'null'
              description: Purchase Order Id
              maxLength: 32
              default: null
              examples:
                - null
            Title:
              type:
                - string
                - 'null'
              description: Title
              default: null
              examples:
                - null
            PaymentStatus:
              type:
                - string
                - 'null'
              description: Payment Status
              default: null
              examples:
                - null
            PaymentErrorMessage:
              type:
                - string
                - 'null'
              description: Payment Error Message
              default: null
              examples:
                - null
            PaymentStatusDate:
              type:
                - string
                - 'null'
              description: Payment Status Date
              default: null
              examples:
                - null
            PaymentRejectionNote:
              type:
                - string
                - 'null'
              description: Payment Rejection Note
              default: null
              examples:
                - null
          required:
            - Id
            - PublisherId
            - CampaignId
            - ReqType
      required:
        - type
        - href
        - PublishersAdditionalRequirements
    CampaignActivitySuccessResponseModel:
      type: object
      properties:
        type:
          const: CampaignActivity
          description: Type of Search
          examples:
            - CampaignActivity
        href:
          type: string
          description: Link to fetch current campaign activity
          examples:
            - 'https://apis.creatoriq.com/crm/v1/api/campaign/856302/activity'
        CampaignActivity:
          type: object
          description: Campaign activity data
          properties:
            items:
              type: array
              description: An array of all the posts for the campaign
              items:
                type: object
                description: Post info with statistics
                properties:
                  Id:
                    type: integer
                    format: int32
                    examples:
                      - 3136783
                  CampaignId:
                    type: integer
                    format: int32
                    examples:
                      - 44560
                  SocialNetwork:
                    type: string
                    examples:
                      - Instagram
                  SocialNetworkId:
                    type: string
                    examples:
                      - '17773493878'
                  PublisherId:
                    type: integer
                    format: int32
                    examples:
                      - 1453672
                  UserName:
                    type: string
                    examples:
                      - sportlivelemur
                  Type:
                    type:
                      - string
                      - 'null'
                    description: |
                      Indicates how the post was added to the campaign. `manual` — post was added manually via API or UI (link, file upload, or stream). `null` or other values — post was automatically discovered and matched to the campaign. For content format (story, video, image, etc.), use `PostType` instead.
                    default: null
                    examples:
                      - manual
                  PostId:
                    type: string
                    examples:
                      - '2203166338554101407_17773493878'
                  Score:
                    type: string
                    examples:
                      - ''
                    x-deprecated: true
                  EarnedMedia:
                    type: integer
                    description: The post's earned media calculated by formula
                    format: int32
                    examples:
                      - 1001
                  ActualReach:
                    type:
                      - string
                      - 'null'
                    description: 'Reach that is manually inputted from a CreatorIQ user, often after a creator has shared a screenshot of the metrics of this post. Social platforms - Instagram, TikTok, Facebook, Twitter, Blog. Type - Post Level'
                    default: null
                  NetworkReach:
                    type:
                      - string
                      - 'null'
                    description: 'Reach for authenticated accounts. This value comes directly from the social platform. Social platforms - Instagram, TikTok, Facebook, Twitter, Blog. Type - Post Level/Authenticated Accounts'
                    default: null
                  EstimatedReach:
                    type: integer
                    description: |
                      Estimated value of reach is calculated using regression models trained on historical data. 
                      For Instagram, different models are used for each post type (e.g., image, carousel, reel, story), based on metrics like impressions, engagement, and followers. For other platforms (e.g., TikTok, Facebook, Twitter, Pinterest), reach is estimated from impressions using a power-law scaling function.
                      This value is populated if the Reach metric is unavailable because the social account is not authenticated, and no value is entered manually. For YouTube, Twitch, and Snapchat, estimated reach is not provided.
                      For example, if actual or estimated impressions are 20,000, the resulting EstimatedReach would be approximately 15,400.
                    format: int32
                    examples:
                      - 1
                  EMV:
                    type: integer
                    description: |
                      Estimated Media Value (EMV) is a calculated representation of the earned media value of a post, based on engagement metrics. The specific metrics and weights used vary by social platform (e.g., likes, comments, shares, views, retweets, etc).
                      EMV quantifies the approximate monetary value generated by organic post engagement using platform-specific logic and scaling curves.
                      This value is populated when engagement data is available and is intended to help benchmark the performance of influencer content or campaigns in monetary terms. 
                      The calculation involves computing a weighted linear value from platform-defined engagement types, followed by a nonlinear (logarithmic) scaling function to account for saturation effects.
                    format: int32
                    examples:
                      - 1
                  Reach:
                    type: integer
                    description: |
                      Number of unique impressions.
                      This can come from either `NetworkReach` for authenticated accounts 
                      OR reach value manually entered by the creator (`ActualReach`) 
                      OR estimated reach value (`EstimatedReach`) which is calculated in the absence of `NetworkReach` and `ActualReach`. Social platforms - Instagram, TikTok, Facebook, Twitter, Blog. Type - Post Level/Authenticated Accounts
                    format: int32
                    examples:
                      - 1
                  ExtendedReach:
                    type:
                      - string
                      - 'null'
                    description: for Twitter means sum of all the followers of accounts that have retweeted the post. Social platforms - Twitter. Type - Post Level
                    default: null
                    x-deprecated: true
                  Likes:
                    type: integer
                    description: 'Number of likes. Social platforms - Instagram,TikTok,Youtube,Facebook,Twitter,Linkedin,Snapchat. Type - Post Level'
                    format: int32
                    examples:
                      - 20
                  Comments:
                    type: integer
                    description: 'Number of comments. Social platforms - Instagram,TikTok,Youtube,Facebook,Twitter,Linkedin,Blog,Twitch. Type - Post Level'
                    format: int32
                    examples:
                      - 10
                  Retweets:
                    type:
                      - string
                      - 'null'
                    description: Post Retweets (Shares). Social platforms - Twitter. Type - Post Level.
                    default: null
                  Views:
                    type:
                      - string
                      - 'null'
                    description: Number of post views. Social platforms - All. Type - Post Level.
                    default: null
                    x-deprecated: true
                  EngagedViews_next:
                    type:
                      - string
                      - 'null'
                    description: |
                      Number of post views. Social platforms - All. Type - Post Level.
                      > **Warning**: The **Views** field will be deprecated soon. Use this field instead of it.
                    default: null
                  MinutesWatched:
                    type:
                      - string
                      - 'null'
                    description: Aggregate number of minutes users have spent watching a specific video.  Social platforms - Youtube. Type - Post Level.
                    default: null
                    examples:
                      - '2'
                  PostKey:
                    type:
                      - string
                      - 'null'
                    default: null
                  LinkId:
                    type:
                      - string
                      - 'null'
                    default: null
                  Status:
                    type: string
                    examples:
                      - Published
                  ApprovedBy:
                    type:
                      - string
                      - 'null'
                    default: null
                  SuspendedBy:
                    type:
                      - string
                      - 'null'
                    default: null
                  UpdatedBy:
                    type: string
                    examples:
                      - API
                  PostType:
                    type: string
                    examples:
                      - image
                  TotalShares:
                    type: string
                    description: 'Times your audience DM’d the post. Social platforms - Instagram,TikTok,Youtube, Facebook, Pinterest, Linkedin. Type - Post Level.'
                    examples:
                      - '3'
                  FacebookLikes:
                    type:
                      - string
                      - 'null'
                    description: Total facebook likes. Social platforms - Facebook. Type - Post Level.
                    default: null
                  FacebookShares:
                    type:
                      - string
                      - 'null'
                    description: Social platforms - Facebook. Type - Post Level.
                    default: null
                  FacebookComments:
                    type:
                      - string
                      - 'null'
                    description: Social platforms - Facebook. Type - Post Level.
                    default: null
                  TwitterShares:
                    type:
                      - string
                      - 'null'
                    description: Social platforms - Twitter. Type - Post Level.
                    default: null
                  GooglePlusShares:
                    type:
                      - string
                      - 'null'
                    default: null
                    x-deprecated: true
                  PinterestShares:
                    type:
                      - string
                      - 'null'
                    description: Social platforms - Pinterest. Type - Post Level.
                    default: null
                  NotFound:
                    type:
                      - string
                      - 'null'
                    default: null
                  PublisherName:
                    type: string
                    examples:
                      - sportlivelemur
                  CampaignName:
                    type: string
                    examples:
                      - SA_Scheduled_2
                  NetworkPublisherId:
                    type: string
                    examples:
                      - '10000637647'
                  PartnerId:
                    type: integer
                    format: int32
                    examples:
                      - 21
                  LogoURL:
                    type: string
                    examples:
                      - 'https://instagram.fbom5-1.fna.fbcdn.net/v/t51.2885-19/66366700_676199099563329_6160046265783549952_n.jpg?stp=dst-jpg_s320x320&_nc_ht=instagram.fbom5-1.fna.fbcdn.net&_nc_cat=109&_nc_ohc=u6OVofiisgwAX-hRroz&edm=ABfd0MgBAAAA&ccb=7-4&oh=00_AT-_BBCJ-umNGXAE-JSr_OLlzUsCg2yoJWEG3aFlXYcb5Q&oe=625D8016&_nc_sid=7bff83'
                  StartDate:
                    type: string
                    format: date
                    examples:
                      - '2019-10-01'
                  EndDate:
                    type: string
                    format: date
                    examples:
                      - '2020-05-27'
                  FlagshipProperty:
                    type: string
                    examples:
                      - sportlivelemur
                  AverageViewDuration:
                    type:
                      - number
                      - 'null'
                    description: |
                      Average length of a video playback in minutes. Type - Post Level.
                      Social platforms - Facebook, Instagram, Snapchat, Tiktok, Web, YouTube
                    default: null
                    examples:
                      - 2.3
                  AverageViewPercentage:
                    type:
                      - string
                      - 'null'
                    description: Avg percentage of a video watched during a video playback. Social platforms - Youtube. Type - Post Level.
                    default: null
                  SubscribersGained:
                    type:
                      - string
                      - 'null'
                    description: Times users subscribed to a channel from the video watch page. Social platforms - Youtube. Type - Post Level/Authenticated Accounts.
                    default: null
                  AvgViewsPerPost:
                    type:
                      - number
                      - 'null'
                    description: Average views per post. Social platforms - Blog. Type - Post Level.
                    default: null
                    examples:
                      - 2.3
                    x-deprecated: true
                  AvgEngagedViewsPerPost_next:
                    type:
                      - number
                      - 'null'
                    description: |
                      Average views per post. Social platforms - Blog. Type - Post Level.
                      > **Warning**: The **AvgViewsPerPost** field will be deprecated soon. Use this field instead of it.
                    default: null
                    examples:
                      - 2.3
                  SubscribersLost:
                    type:
                      - string
                      - 'null'
                    description: Times users unsubscribed from a channel. Social platforms - Youtube. Type - Post Level/Authenticated Accounts.
                    default: null
                  AnnotationClickThroughRate:
                    type:
                      - string
                      - 'null'
                    description: The ratio of annotations that viewers clicked to the total number of clickable annotation impressions. Social platforms - Youtube. Type - Post Level.
                    default: null
                  AnnotationCloseRate:
                    type:
                      - string
                      - 'null'
                    description: The ratio of annotations that viewers closed to the total number of annotation impressions. Social platforms - Youtube. Type - Post Level.
                    default: null
                  MonetizedPlaybacks:
                    type:
                      - string
                      - 'null'
                    default: null
                    x-deprecated: true
                  GrossRevenue:
                    type:
                      - string
                      - 'null'
                    default: null
                    x-deprecated: true
                  ImpressionBasedCpm:
                    type:
                      - string
                      - 'null'
                    default: null
                    x-deprecated: true
                  Duration:
                    type:
                      - string
                      - 'null'
                    description: 'The length of the video. For example, a value of Pinterest15M33S indicates that the video is 15 minutes and 33 seconds long. Social platforms - Youtube, Pinterest. Type - Post Level.'
                    default: null
                  ActualImpressions:
                    type:
                      - string
                      - 'null'
                    description: 'Impressions that are manually inputted from a CreatorIQ user, often after a creator has shared a screenshot of the metrics of this post. Social platforms - Instagram,Facebook,Twitter,Pinterest. Type - Post Level.'
                    default: null
                    x-deprecated: true
                  ActualViews_next:
                    type:
                      - string
                      - 'null'
                    description: |
                      Impressions that are manually inputted from a CreatorIQ user, often after a creator has shared a screenshot of the metrics of this post. Social platforms - Instagram,Facebook,Twitter,Pinterest. Type - Post Level.
                      > **Warning**: The **ActualImpressions** field will be deprecated soon. Use this field instead of it.
                    default: null
                  EngagementRate:
                    type: integer
                    description: |
                      Value calculated based on the formula `TotalEngagements / BaseMetricValue`. 
                      The value is computed depending on the `BaseMetric` (followers, impressions, reach, etc.) configured within the Campaign Settings. Social platforms - ALL. Type - Post Level.
                    format: int32
                    examples:
                      - 0
                  PaidImpressions:
                    type:
                      - integer
                      - 'null'
                    description: 'The number of times your ads were on screen. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.'
                    default: null
                    examples:
                      - 842
                    x-deprecated: true
                  PaidViews_next:
                    type:
                      - integer
                      - 'null'
                    description: |
                      The number of times your ads were on screen. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.
                      > **Warning**: The **PaidViews_next** field will be deprecated soon. Use this field instead of it.
                    default: null
                    examples:
                      - 842
                  PaidReach:
                    type:
                      - integer
                      - 'null'
                    description: 'The number of people who saw your ads at least once. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.'
                    default: null
                    examples:
                      - 92387
                  PaidEngagement:
                    type:
                      - integer
                      - 'null'
                    description: 'The total number of actions that people take involving your ads. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.'
                    default: null
                    examples:
                      - 323
                  PaidEngagementRate:
                    type:
                      - number
                      - 'null'
                    description: 'The total number of actions that people take involving your ads divided by the number of people who saw it. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.'
                    default: null
                    examples:
                      - 3235.4
                  Boosted:
                    type: integer
                    description: 'Boosted post flag. Social platforms - Facebook,Instagram. Type - Post Level/Authenticated Accounts.'
                    format: int32
                    examples:
                      - 23
                  PaidClicks:
                    type:
                      - string
                      - 'null'
[...]
