openapi: 3.0.1
info:
  version: 1.0.0
  title: CreatorIQ Reporting APIs
  description: |
    This is reporting async API
  termsOfService: 'https://www.creatoriq.com/legal/terms-of-use'
  contact:
    name: CreatorIQ
    url: 'https://www.creatoriq.com'
    email: support@creatoriq.com
  license:
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
    name: Apache 2.0
servers:
  - url: 'https://apis.creatoriq.com'
    description: Live
paths:
  /crm/v1/api/view?view=Reports/Campaigns/CampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get campaign post statistics
      description: |
        Your report will be stored at Result => Headers => Location url when status task is DONE
      operationId: getCampaignPosts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Field for sorting can be sorted by 
            * CampaignName
            * Comments
            * Likes
            * SocialNetwork
            * Reach
            * PublisherName
            * FlagshipPropertyTitle : represents primary account
          schema:
            type: string
            enum:
              - CampaignName
              - Comments
              - Likes
              - SocialNetwork
              - Reach
              - PublisherName
              - FlagshipPropertyTitle
            example: CampaignName
          examples:
            default:
              value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignPostReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignsSummary:
    get:
      tags:
        - Reporting
      summary: Get campaign summary report
      description: 'Get statistics for all campaigns like number of creators, number of posts by campaign'
      operationId: getSummaryReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Can sort by 
            *  CampaignId
            *  CampaignName
            *  YTPosts: count of Youtube posts
          schema:
            type: string
            enum:
              - CampaignId
              - CampaignName
              - YTPosts
            example: CampaignId
          examples:
            default:
              value: CampaignId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignSummaryReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignsTopInfluencers:
    get:
      tags:
        - Reporting
      summary: Get campaigns top creators
      description: Fetch top influencers by all campaigns
      operationId: getCampaignsTopInfluencers
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Top influencers can by sorted by 
            * NumOfPosts: number of posts
            * TotalSubscribers: number of subscribers
          schema:
            type: string
            enum:
              - NumOfPosts
              - TotalSubscribers
            example: NumOfPosts
          examples:
            default:
              value: NumOfPosts
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignTopInfluencers'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignPublishers:
    get:
      tags:
        - Reporting
      summary: Get Campaign publishers report
      description: Fetch info for publishers in campaigns
      operationId: getCampaignPublishersReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Publishers field for sort
            * FlagshipPropertyTitle: Sort by primary account
          schema:
            type: string
            enum:
              - CampaignName
              - CampaignId
              - CampaignStatus
              - PublisherName
              - FlagshipPropertyTitle
            example: CampaignName
          examples:
            default:
              value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignPublishers'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignVideos:
    get:
      tags:
        - Reporting
      summary: Get videos views for all campaign videos
      description: 'Fetch video statistics by campaign like views, video title, creator'
      operationId: getCampaignVideos
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Publishers field for sort
            * FlagshipPropertyTitle: Sort by primary account
            * Post : sort by video title
            * DateSubmittedF : sort by DateUploaded time
          schema:
            type: string
            enum:
              - CampaignName
              - CampaignId
              - PublisherName
              - FlagshipPropertyTitle
              - Post
              - Views
              - DateSubmitted
            example: CampaignName
          examples:
            default:
              value: CampaignName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignVideos'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/InstagramCampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get Instagram campaign posts statistics
      description: Fetch Instagram posts statistics by campaign
      operationId: getInstagramPostsStatistics
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/month'
        - $ref: '#/components/parameters/year'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - CampaignName
              - SocialHandle
              - PostDate
              - Followers
              - BrandName
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/instagramCampaignPosts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/InstagramWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get Instagram weekly updates
      description: Fetch all posts which updated in campaigns last week
      operationId: getInstagramWeeklyVideos
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Fields for sort
            * WeekNum: Date start of the week when calculated metrics delta
          schema:
            type: string
            enum:
              - PublisherName
              - WeekNum
              - CampaignName
              - PostLink
              - BrandName
              - PostType
              - PostDate
              - PostStatus
              - Likes
              - Impressions
              - Comments
              - Reach
              - Saved
              - SMV
              - Followers
            example: WeekNum
          examples:
            default:
              value: WeekNum
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/instagramWeeklyCampaignUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/YoutubeCampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get info for youtube campaign posts
      description: Fetch statistics for youtube campaign posts
      operationId: getYoutubeCampaignPosts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - SocialHandle
              - CampaignName
              - BrandName
              - PostLink
              - PostDate
              - PostTitle
              - SMV
              - Views
              - Engagement
              - Followers
            example: SocialHandle
          examples:
            default:
              value: SocialHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/youtubeCampaignPosts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/YoutubeWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get youtube weekly campaign updates
      description: Statistic for youtube post in all campaigns in one week
      operationId: getYoutubeWeeklyCampaignUpdates
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - WeekNum
              - CampaignName
              - BrandName
              - PostLink
              - PostDate
              - PostTitle
              - SMV
              - Views
              - Engagement
              - Followers
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/youtubeWeeklyCampaignUpdates'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/Summary:
    get:
      tags:
        - Reporting
      summary: Get fraud statistics for publishers
      description: Get fraud statistics for publishers in all campaigns
      operationId: getFraudSummary
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - Followers
              - Status
              - StatusCategory
              - TotalFraudFlags
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/followerFraudAuditSummary'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorsPaymentCollectionStatusDetails:
    get:
      tags:
        - Reporting
      summary: Get creator's payment info collection status
      description: Get all Creator's Payment Info Collection
      operationId: getCreatorsPaymentCollectionStatusDetails
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - Followers
              - Status
              - StatusCategory
              - TotalFraudFlags
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorsPaymentStatusDetails'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/GrowthRate:
    get:
      tags:
        - Reporting
      summary: Get GrowthRate for creators
      description: Fetch GrowthRate for all publishers
      operationId: getGrowsRateSummary
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sort
          schema:
            type: string
            enum:
              - PublisherName
              - NetworkUser
              - StatDateYear
              - StatDateMonth
              - Followers
              - PrevMonthFollowers
              - GrowthRatePercentage
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/growthRate'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/FollowerFraudAudit/EngagementRate:
    get:
      tags:
        - Reporting
      summary: Get EngagementRate for publishers
      description: Fetch EngagementRate for all publishers
      operationId: getEngagementRate
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Field for sort
            * NetworkUser: Social handle
            * AVGLowEngagement: Average value for engagement rate for period
            * MedianEngagement: median value for ER for period
          schema:
            type: string
            enum:
              - PublisherName
              - NetworkUser
              - EngagementRate
              - AVGLowEngagement
              - MedianEngagement
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/engagementRate'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/BrokenLinks:
    get:
      tags:
        - Reporting
      summary: Get broken links with linked account
      description: Fetch broken links with all linked accounts
      operationId: getBrokenLinks
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - AccountHandle
              - PublisherName
              - Network
              - DateInviteLinkSent
              - DateBroken
              - DateLinked
              - LinkingStatus
              - CreatorEmail
            example: AccountHandle
          examples:
            default:
              value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/brokenLinks'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/LinkedAccounts/LinkedAccountsReport:
    get:
      tags:
        - Reporting
      summary: Get linked accounts
      description: Fetch linked accounts
      operationId: getLinkedAccounts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
              - Network
              - Handle
              - LinkingStatus
              - DateInviteLinkSent
              - DateLinked
              - DateBroken
            example: Handle
          examples:
            default:
              value: Handle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/linkedAccounts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/LinkedAccounts:
    get:
      tags:
        - Reporting
      summary: Get all linked account
      description: Fetch broken links with all linked accounts
      operationId: getAllLinkedAccounts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - AccountHandle
              - PublisherId
              - PublisherName
              - CreatorName
              - Network
              - LinkingStatus
              - ManagementCompany
              - AgentName
              - AgentEmail
              - DateInviteLinkSent
              - DateLinked
              - DateBroken
            example: AccountHandle
          examples:
            default:
              value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/allLinkedAccounts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/LinkedAccountsByNetwork/NonLinkedAccounts:
    get:
      tags:
        - Reporting
      summary: Get non-linked accounts
      description: Fetch non-linked accounts
      operationId: getNonLinkedAccounts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
              - Network
              - AccountHandle
              - CreatorEmail
              - ManagementCompany
              - DateInviteLinkSent
              - AgentName
              - AgentEmail
            example: AccountHandle
          examples:
            default:
              value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/nonLinkedAccounts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorPaymentsReport:
    get:
      tags:
        - Reporting
      summary: Get Creator Payments
      description: Fetch Creator Payments
      operationId: getCreatorPayments
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
              - Network
              - AccountHandle
              - CreatorEmail
              - ManagementCompany
              - DateInviteLinkSent
              - AgentName
              - AgentEmail
            example: AccountHandle
          examples:
            default:
              value: AccountHandle
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorPayments'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/CampaignsPosts:
    get:
      tags:
        - Reporting
      summary: Get Campaigns Posts Statistics
      description: Fetch Campaigns Posts Statistics
      operationId: getCampaignsPosts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - CampaignId
              - CampaignName
              - PublisherId
              - PublisherName
              - SocialNetwork
            example: PublisherId
          examples:
            default:
              value: PublisherId
        - name: 'requestData[params][Year]'
          in: query
          description: Year for which need to collect the data (should be always present and empty if you want to collect data for all time)
          required: true
          schema:
            type: integer
            example: 2024
          examples:
            default:
              value: 2024
        - name: 'requestData[params][Month]'
          in: query
          description: Month for which need to collect the data (should be always present and empty if you want to collect data for year or for all time)
          required: true
          schema:
            type: integer
            example: 10
          examples:
            default:
              value: 10
        - name: 'requestData[params][isAll]'
          in: query
          description: Flag to collect all data. Should be present for collect data for all time.
          schema:
            type: boolean
            enum:
              - true
              - false
            example: true
          examples:
            default:
              value: true
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignsPosts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Campaigns/CampaignMessaging:
    get:
      tags:
        - Reporting
      summary: Get Campaign Messaging
      description: Fetch Campaign Messaging
      operationId: getCampaignMessaging
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/month'
        - $ref: '#/components/parameters/year'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - EmailSentDate
              - CampaignId
              - CampaignName
              - PublisherID
              - PublisherName
            example: EmailSentDate
          examples:
            default:
              value: EmailSentDate
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignMessaging'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/ReachReport:
    get:
      tags:
        - Reporting
      summary: Get Reach Report
      description: Fetch Reach Report
      operationId: getReachReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/reachReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/Campaigns:
    get:
      tags:
        - Reporting
      summary: Get Campaigns Report
      description: Fetch Campaigns Report
      operationId: getCampaignsReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignsByNetworkReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/CampaignWeeklyUpdates:
    get:
      tags:
        - Reporting
      summary: Get Campaign Weekly Updates Report
      description: Fetch Campaign Weekly Updates Report
      operationId: getCampaignWeeklyUpdatesReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/campaignWeeklyUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/FacebookWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get Facebook Weekly Campaign Updates Report
      description: Fetch Facebook Weekly Campaign Updates Report
      operationId: getFacebookWeeklyCampaignUpdatesReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/facebookWeeklyCampaignUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitterCampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get Twitter Campaign Posts Report
      description: Fetch Twitter Campaign Posts Report
      operationId: getTwitterCampaignPostsReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitterCampaignPostsReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitterWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get Twitter Weekly Campaign Updates Report
      description: Fetch Twitter Weekly Campaign Updates Report
      operationId: getTwitterWeeklyCampaignUpdatesReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitterWeeklyCampaignUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/PinterestCampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get Pinterest Campaign Posts Report
      description: Fetch Pinterest Campaign Posts Report
      operationId: getPinterestCampaignPostsReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/pinterestCampaignPostsReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/PinterestWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get Pinterest Weekly Campaign Updates Report
      description: Fetch Pinterest Weekly Campaign Updates Report
      operationId: getPinterestWeeklyCampaignUpdatesReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/pinterestWeeklyCampaignUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitchCampaignPosts:
    get:
      tags:
        - Reporting
      summary: Get Twitch Campaign Posts Report
      description: Fetch Twitch Campaign Posts Report
      operationId: getTwitchCampaignPostsReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitchCampaignPostsReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CampaignsByNetwork/TwitchWeeklyCampaignUpdates:
    get:
      tags:
        - Reporting
      summary: Get Twitch Weekly Campaign Updates Report
      description: Fetch Twitch Weekly Campaign Updates Report
      operationId: getTwitchWeeklyCampaignUpdatesReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/skip'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
        - name: 'requestData[params][PartnerId]'
          in: query
          description: Partner Id
          schema:
            type: integer
            example: 11
          examples:
            default:
              value: 11
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/twitchWeeklyCampaignUpdatesReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Channels:
    get:
      tags:
        - General
      summary: YouTube Channel Report
      description: YouTube channel report for all publishers in the CRM
      operationId: getYoutubeChannelReport
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/channelReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorContactInfo:
    get:
      tags:
        - General
      summary: Get Creator Contact Info Report
      description: Fetch Creator Contacts
      operationId: getCreatorContactInfoReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherId
              - PublisherName
            example: PublisherId
          examples:
            default:
              value: PublisherId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorContactInfoReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/ImportTemplateReport:
    get:
      tags:
        - General
      summary: Get Import Template Report
      description: 'Import template containing creator information including social handles, name and ID for all creators in the CRM'
      operationId: getImportTemplateReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherName
            example: PublisherName
          examples:
            default:
              value: PublisherName
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/importTemplateReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/DailyCampaignPosts:
    get:
      tags:
        - General
      summary: Get Daily Campaign Posts Report
      description: Fetch Daily Campaign Posts
      operationId: getDailyCampaignPosts
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - campaignId
            example: campaignId
          examples:
            default:
              value: campaignId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/dailyCampaignPosts'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorPromoteReport:
    get:
      tags:
        - General
      summary: Get Creator Promote Report
      description: Fetch Creator Promote
      operationId: getCreatorPromote
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - DatePermissionsGranted
              - PublisherName
              - PublisherId
              - SocialNetwork
            example: DatePermissionsGranted
          examples:
            default:
              value: DatePermissionsGranted
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorPromote'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorsReport:
    get:
      tags:
        - General
      summary: Get Creators Report
      description: Fetch report about creators
      operationId: getCreatorsReport
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - publisherid
              - publishername
            example: publisherid
          examples:
            default:
              value: publisherid
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorsReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CreatorConnectCreators:
    get:
      tags:
        - General
      summary: Get Creator Connect Report
      description: Fetch report for all the creators in the CRM that were added via Creator Connect
      operationId: getCreatorConnect
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherName
              - PublisherId
              - SocialNetwork
            example: PublisherId
          examples:
            default:
              value: PublisherId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/creatorConnect'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/Publishers:
    get:
      tags:
        - General
      summary: Get Publishers Report
      description: Fetch Publishers
      operationId: getPublishersList
      parameters:
        - $ref: '#/components/parameters/dir'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/section'
        - name: 'requestData[sort][0][field]'
          in: query
          description: Field for sorting
          schema:
            type: string
            enum:
              - PublisherName
              - PublisherId
              - SocialNetwork
            example: PublisherId
          examples:
            default:
              value: PublisherId
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/publishersList'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=OneSheetBuilder/OneSheetBuilder:
    get:
      tags:
        - OneSheet
      summary: Get OneSheet Builder
      description: Fetch OneSheet Publishers
      operationId: getOneSheetBuilder
      parameters:
        - $ref: '#/components/parameters/section'
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/dir'
        - name: 'requestData[sort][0][field]'
          in: query
          description: |
            Field for sorting can be sorted by 
            * SortOrder
            * PublisherName
            * TotalSubscribers
            * CreatedAt
            * UpdatedAt
            * FlagshipSocialNetwork : represents primary social network
            * FlagshipPropertyTitle : represents primary account
          schema:
            type: string
            enum:
              - SortOrder
              - PublisherName
              - TotalSubscribers
              - CreatedAt
              - UpdatedAt
              - FlagshipSocialNetwork
              - FlagshipPropertyTitle
            example: SortOrder
          examples:
            default:
              value: SortOrder
        - name: 'requestData[sort][0][name]'
          in: query
          description: |
            Sorting field name
            * SortOrder
            * PublisherName
            * TotalSubscribers
            * CreatedAt
            * UpdatedAt
            * FlagshipSocialNetwork
            * FlagshipPropertyTitle
          schema:
            type: string
            enum:
              - SortOrder
              - PublisherName
              - TotalSubscribers
              - CreatedAt
              - UpdatedAt
              - FlagshipSocialNetwork
              - FlagshipPropertyTitle
            example: SortOrder
          examples:
            default:
              value: SortOrder
        - name: 'requestData[params][SalesSheetId]'
          in: query
          description: OneSheet ID
          schema:
            type: integer
            example: 757214
          examples:
            default:
              value: 757214
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/oneSheetBuilder'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
  /crm/v1/api/view?view=Reports/CJAccountsReport:
    get:
      tags:
        - CJ
      summary: CJ Accounts Report
      description: CJ Accounts Report
      operationId: getCJAccountsReport
      parameters:
        - $ref: '#/components/parameters/take'
        - $ref: '#/components/parameters/skip'
      responses:
        '200':
          $ref: '#/components/responses/asyncResponse'
        Result:
          $ref: '#/components/responses/CJAccountsReport'
      security:
        - apiKey: []
      servers:
        - url: 'https://apis.creatoriq.com'
          description: Live
tags:
  - name: CJ
    description: CJ reports
  - name: General
    description: General section of reporting
  - name: OneSheet
    description: OneSheets reporting
  - name: Reporting
    description: Reporting
components:
  parameters:
    dir:
      name: 'requestData[sort][0][dir]'
      in: query
      description: Sorting
      schema:
        type: string
        enum:
          - asc
          - desc
        example: asc
      examples:
        default:
          value: asc
    section:
      name: section
      in: query
      description: Default section
      schema:
        type: string
        enum:
          - default
        example: default
      examples:
        default:
          value: default
    take:
      name: 'requestData[take]'
      in: query
      description: Number of rows to fetch
      required: true
      schema:
        type: integer
        example: 20
      examples:
        default:
          value: 20
    skip:
      name: 'requestData[skip]'
      in: query
      description: Number of rows to skip
      schema:
        type: integer
        example: 0
      examples:
        default:
          value: 0
    page:
      name: 'requestData[page]'
      in: query
      description: Current page
      schema:
        type: integer
        minimum: 1
        example: 1
      examples:
        default:
          value: 1
    pageSize:
      name: 'requestData[pageSize]'
      in: query
      description: Size of page
      schema:
        type: integer
        minimum: 1
        example: 20
      examples:
        default:
          value: 20
    month:
      name: 'requestData[params][Month]'
      in: query
      description: Month number for reporting
      schema:
        type: integer
        minimum: 1
        maximum: 12
        example: 11
      examples:
        default:
          value: 11
    year:
      name: 'requestData[params][Year]'
      in: query
      description: Year number for reporting
      schema:
        type: integer
        minimum: 2014
        example: 2020
      examples:
        default:
          value: 2020
  securitySchemes:
    apiKey:
      type: apiKey
      name: x-api-key
      in: header
  responses:
    asyncResponse:
      description: Success
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/generalSchema'
    twitterWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitterWeeklyCampaignUpdatesSchema'
    pinterestCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pinterestCampaignPostsSchema'
    pinterestWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/pinterestWeeklyCampaignUpdatesSchema'
    twitchCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitchCampaignPostsSchema'
    twitchWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitchWeeklyCampaignUpdatesSchema'
    campaignsByNetworkReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignsByNetworkSchema'
    campaignWeeklyUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignWeeklyUpdatesSchema'
    instagramWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/instagramWeeklyCampaignUpdatesSchema'
    facebookWeeklyCampaignUpdatesReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/facebookWeeklyCampaignUpdatesSchema'
    twitterCampaignPostsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/twitterCampaignPostsSchema'
    campaignPostReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignPostsSchema'
    campaignSummaryReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignSummarySchema'
    campaignTopInfluencers:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignTopInfluencersSchema'
    campaignPublishers:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignPublishers'
    campaignVideos:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignVideos'
    instagramCampaignPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/instagramCampaignPosts'
    youtubeCampaignPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/youtubeCampaignPosts'
    youtubeWeeklyCampaignUpdates:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/youtubeWeeklyCampaignUpdates'
    followerFraudAuditSummary:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/followerFraudAuditSummary'
    creatorsPaymentStatusDetails:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorsPaymentStatusDetails'
    growthRate:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/growthRate'
    engagementRate:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/engagementRate'
    brokenLinks:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/brokenLinks'
    linkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/linkedAccounts'
    allLinkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/allLinkedAccounts'
    nonLinkedAccounts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/nonLinkedAccounts'
    creatorPayments:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorPayments'
    campaignsPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignsPosts'
    campaignMessaging:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/campaignMessaging'
    reachReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/reachReport'
    channelReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/channelReport'
    creatorContactInfoReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorContactInfoReport'
    importTemplateReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/importTemplateReport'
    dailyCampaignPosts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/dailyCampaignPosts'
    creatorPromote:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorPromote'
    creatorsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorsReport'
    creatorConnect:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/creatorConnect'
    publishersList:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/publishersList'
    oneSheetBuilder:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/oneSheetBuilder'
    CJAccountsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CJAccountsReport'
    CouponCodePayouts:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CouponCodePayouts'
    TransactionsReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TransactionsReport'
    1CampaignsDetails:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/1CampaignsDetails'
    InstagramFacebookReport:
      description: Final result stored by **Result -> Headers -> Location** field. Available when status is **DONE**
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/InstagramFacebookReport'
  schemas:
    generalSchema:
      type: object
      properties:
        TaskId:
          type: string
          description: Unique id of report
          example: 79985e5d-8871-4f38-be44-605d58f90bd9
        TaskStatus:
          type: string
          enum:
            - CREATED
            - PROCESSING
            - DONE
          description: |
            Status of request. 
            * CREATED: represents of new created report
            * PROCESSING: your report is progress 
            * DONE: your report is ready. Result present in  **Result => Headers => Location URL**
        CreatedAtTS:
          type: integer
          description: Timestamp when task is created in seconds
          example: 1674135497
        UpdatedAtTS:
          type: integer
          description: Timestamp when task is updated in seconds
          example: 1674135497
        ExpiresAtTS:
          type: integer
          description: Timestamp when task is expired in seconds.
          example: 1674136497
        CreatedAt:
          type: string
          description: Date which task created in human readable format
          example: '2023-01-19T13:38:17+0000'
        UpdatedAt:
          type: string
          description: Date which task updated in human readable format
          example: '2023-01-19T13:38:17+0000'
        ExpiredAt:
          type: string
          description: Date which task updated in human readable format
          example: '2023-01-19T13:38:17+0000'
        Metadata:
          type: object
          properties:
            PartnerId:
              type: integer
              example: 21
            Gri:
              type: object
              description: Used for logging
            ValidUntil:
              type: string
              example: '2023-01-19T14:08:16+0000'
            ValidUntilTS:
              type: integer
              example: 1674137296
        Result:
          type: object
          oneOf:
            - type: object
              description: If your object ready you fetch you receive 302 result
              properties:
                Status:
                  type: integer
                  description: Http status of response
                  example: 302
                Body:
                  type: string
                  description: Empty string represents body of response.
                  example: ''
                Headers:
                  type: object
                  properties:
                    Cache-Control:
                      type: string
                      example: max-age=7200
                    Date:
                      type: string
                      example: 'Thu, 19 Jan 2023 13:39:22 +0000'
                    Location:
                      type: string
                      description: Most important field! Result location of data
                      readOnly: true
                      example: 'https://ciq-api-async-results-data.s3.us-west-1.amazonaws.com/creatoriq-live/report.json'
                  required:
                    - Location
              required:
                - Status
                - Headers
            - type: object
              description: If your report not ready empty object
      required:
        - TaskId
        - TaskStatus
        - CreatedAtTS
        - UpdatedAtTS
        - ExpiresAtTS
        - CreatedAt
        - UpdatedAt
        - ExpiredAt
        - Result
    twitterWeeklyCampaignUpdatesSchema:
      type: object
      allOf:
        - $ref: '#/components/schemas/commonResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  CampaignId:
                    type: integer
                    description: Unique CampaignId
                    format: int32
                    example: 697096
                  id:
                    type: integer
                    description: Unique id of row
                    format: int32
                    example: -80378
                  WeekNum:
                    type: string
                    nullable: true
                    description: Date start of the week when calculated metrics delta
                    format: date
                    example: '2019-04-04'
                  PublisherName:
                    type: string
                    description: Publisher Name
                    maxLength: 255
                    example: Chris Whitcroft
                  SocialHandle:
                    type: string
                    nullable: true
                    description: Social Handle
                    default: null
                    example: '@1puglife'
                  CampaignName:
                    type: string
                    nullable: true
                    description: Campaign name
                    maxLength: 255
                    default: null
                    example: Campaign name
                  BrandName:
                    type: string
                    nullable: true
                    description: Campaign Brand Name
                    maxLength: 200
                    default: null
                    example: Brand name
                  PostLink:
                    type: string
                    nullable: true
                    description: Post Link
                    format: URI
                    maxLength: 1000
                    default: null
                    example: 'https://twitter.com/_CristianRivero/status/1531342833617084416'
                  PostType:
                    type: string
                    nullable: true
                    enum:
                      - permalink
                      - story
                      - image
                      - reel
                      - Photo
                      - video
                      - tweet
                      - TiktokPost
                      - stream
                      - other
                      - article
                      - status
                      - blog
                      - short
                      - link
                      - carousel
                      - clip
                      - post
                      - text
                      - Album
                      - null
                    description: Post Type
                    maxLength: 20
                    example: image
                  DateSubmitted:
                    type: string
                    nullable: true
                    description: Date Submitted
                    format: date-time
                    default: null
                    example: '2023-02-07 03:39:44'
                  PostDate:
                    type: string
                    nullable: true
                    description: Post Date
                    format: date
                    example: '2023-02-07'
                  Post:
                    type: string
                    nullable: true
                    description: Post full text
                    default: null
                    example: Post text
                  PostStatus:
                    type: string
                    nullable: true
                    enum:
                      - Actual
                      - Approved
                      - Missing
                      - Rejected
                      - null
                    description: Post Status
                    example: Rejected
                  Likes:
                    type: integer
                    nullable: true
                    description: Likes
                    default: null
                    example: 17
                  Comments:
                    type: integer
                    nullable: true
                    description: Comments
                    default: null
                    example: 3
                  Impressions:
                    type: integer
                    nullable: true
                    description: Impressions
                    default: null
                    example: 233
                  Retweets:
                    type: integer
                    nullable: true
                    description: Retweets
                    default: null
                    example: 98
                  SMV:
                    type: number
                    nullable: true
                    description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                    default: null
                    example: 345
                  Reach:
                    type: integer
                    nullable: true
                    description: Reach
                    default: null
                    example: 233
                  Views:
                    type: integer
                    nullable: true
                    description: Views
                    default: null
                    example: 253
                  Clicks:
                    type: integer
                    nullable: true
                    description: Clicks
                    default: null
                    example: 235
                  NetworkEngagements:
                    type: number
                    nullable: true
                    description: Network Engagements
                    default: null
                    example: 235
                  Replies:
                    type: integer
                    nullable: true
                    description: Replies
                    default: null
                    example: 116
                  LinkingStatus:
                    type: string
                    nullable: true
                    enum:
                      - Broken
                      - Linked
                      - null
                    description: Linking Status
                    maxLength: 6
                    example: Linked
                  LastUpdated:
                    type: string
                    nullable: true
                    description: Last Updated
                    format: date-time
                    default: null
                    example: '2021-11-08 07:58:33'
                  PublisherId:
                    type: integer
                    description: Unique publisher id
                    format: int32
                    example: 3293835
                  LogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL
                    format: URI
                    maxLength: 1024
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  ThumbLogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL with reduced size
                    format: URI
                    maxLength: 512
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  FlagshipSocialNetwork:
                    type: string
                    nullable: true
                    enum:
                      - youtube
                      - twitter
                      - facebook
                      - instagram
                      - google
                      - vine
                      - weibo
                      - line
                      - tiktok
                      - twitch
                      - tumblr
                      - pinterest
                      - snapchat
                      - linkedin
                      - reddit
                      - web
                      - blog
                      - null
                    description: Main social network for publisher
                    maxLength: 50
                    example: instagram
                  FlagshipProperty:
                    type: string
                    nullable: true
                    description: Main social account handle of publisher
                    maxLength: 1024
                    default: null
                    example: greatdad
                  Followers:
                    type: integer
                    nullable: true
                    description: Followers
                    default: null
                    example: 78247
          required:
            - results
    commonResponse:
      type: object
      properties:
        count:
          type: integer
          description: Count of all reports
          example: 300
        dataGenerationTime:
          type: string
          description: Date when report generated
          example: '2023-01-20T13:43:47+00:00'
        cached:
          type: boolean
          description: Is view cached or not
        time:
          type: number
          description: Time taken to generate report
          format: float32
          example: 0.571
      required:
        - count
        - dataGenerationTime
        - cached
        - time
    pinterestCampaignPostsSchema:
      type: object
      allOf:
        - $ref: '#/components/schemas/commonResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  CampaignId:
                    type: integer
                    description: Unique CampaignId
                    format: int32
                    example: 697096
                  id:
                    type: integer
                    description: Unique id of row
                    format: int32
                    example: -80378
                  PublisherName:
                    type: string
                    description: Publisher Name
                    maxLength: 255
                    example: Chris Whitcroft
                  SocialHandle:
                    type: string
                    nullable: true
                    description: Social Handle
                    default: null
                    example: '@1puglife'
                  CampaignName:
                    type: string
                    nullable: true
                    description: Campaign name
                    maxLength: 255
                    default: null
                    example: Campaign name
                  BrandName:
                    type: string
                    nullable: true
                    description: Campaign Brand Name
                    maxLength: 200
                    default: null
                    example: Brand name
                  PostLink:
                    type: string
                    nullable: true
                    description: Post Link
                    format: URI
                    maxLength: 1000
                    default: null
                    example: 'https://www.pinterest.com/pin/216946907044571177/'
                  PostType:
                    type: string
                    nullable: true
                    enum:
                      - permalink
                      - story
                      - image
                      - reel
                      - Photo
                      - video
                      - tweet
                      - TiktokPost
                      - stream
                      - other
                      - article
                      - status
                      - blog
                      - short
                      - link
                      - carousel
                      - clip
                      - post
                      - text
                      - Album
                      - null
                    description: Post Type
                    maxLength: 20
                    example: image
                  DateSubmitted:
                    type: string
                    nullable: true
                    description: Date Submitted
                    format: date-time
                    default: null
                    example: '2023-02-07 03:39:44'
                  PostDate:
                    type: string
                    nullable: true
                    description: Post Date
                    format: date
                    default: null
                    example: '2023-02-07'
                  Post:
                    type: string
                    nullable: true
                    description: Post full text
                    default: null
                    example: Post text
                  PostStatus:
                    type: string
                    nullable: true
                    enum:
                      - Actual
                      - Approved
                      - Missing
                      - Rejected
                      - null
                    description: Post Status
                    example: Approved
                  Saves:
                    type: integer
                    nullable: true
                    description: Saves
                    default: null
                    example: 15
                  Comments:
                    type: integer
                    nullable: true
                    description: Comments
                    default: null
                    example: 3
                  SMV:
                    type: number
                    nullable: true
                    description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                    default: null
                    example: 345
                  Impressions:
                    type: integer
                    nullable: true
                    description: Impressions
                    default: null
                    example: 233
                  Reach:
                    type: integer
                    nullable: true
                    description: Reach
                    default: null
                    example: 233
                  FollowersAtTimeOfPost:
                    type: integer
                    nullable: true
                    description: Followers At Time Of Post
                    default: null
                    example: 223676
                  LinkingStatus:
                    type: string
                    nullable: true
                    enum:
                      - Broken
                      - Linked
                      - null
                    description: Linking Status
                    maxLength: 6
                    example: Linked
                  LastUpdated:
                    type: string
                    nullable: true
                    description: Last Updated
                    format: date-time
                    default: null
                    example: '2021-11-08 07:58:33'
                  PublisherId:
                    type: integer
                    description: Unique publisher id
                    format: int32
                    example: 3293835
                  LogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL
                    format: URI
                    maxLength: 1024
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  ThumbLogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL with reduced size
                    format: URI
                    maxLength: 512
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  FlagshipSocialNetwork:
                    type: string
                    nullable: true
                    enum:
                      - youtube
                      - twitter
                      - facebook
                      - instagram
                      - google
                      - vine
                      - weibo
                      - line
                      - tiktok
                      - twitch
                      - tumblr
                      - pinterest
                      - snapchat
                      - linkedin
                      - reddit
                      - web
                      - blog
                      - null
                    description: Main social network for publisher
                    maxLength: 50
                    example: instagram
                  FlagshipProperty:
                    type: string
                    nullable: true
                    description: Main social account handle of publisher
                    maxLength: 1024
                    default: null
                    example: greatdad
                  Followers:
                    type: integer
                    nullable: true
                    description: Followers
                    default: null
                    example: 78247
          required:
            - results
    pinterestWeeklyCampaignUpdatesSchema:
      type: object
      allOf:
        - $ref: '#/components/schemas/commonResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  CampaignId:
                    type: integer
                    description: Unique CampaignId
                    format: int32
                    example: 697096
                  id:
                    type: integer
                    description: Unique id of row
                    format: int32
                    example: -80378
                  WeekNum:
                    type: string
                    nullable: true
                    description: Date start of the week when calculated metrics delta
                    format: date
                    default: null
                    example: '2019-04-04'
                  PublisherName:
                    type: string
                    description: Publisher Name
                    maxLength: 255
                    example: Chris Whitcroft
                  SocialHandle:
                    type: string
                    nullable: true
                    description: Social Handle
                    default: null
                    example: '@1puglife'
                  CampaignName:
                    type: string
                    nullable: true
                    description: Campaign name
                    maxLength: 255
                    default: null
                    example: Campaign name
                  BrandName:
                    type: string
                    nullable: true
                    description: Campaign Brand Name
                    maxLength: 200
                    default: null
                    example: Brand name
                  PostLink:
                    type: string
                    nullable: true
                    description: Post Link
                    format: URI
                    maxLength: 1000
                    default: null
                    example: 'https://www.pinterest.com/pin/942519028235991787/'
                  PostType:
                    type: string
                    nullable: true
                    enum:
                      - permalink
                      - story
                      - image
                      - reel
                      - Photo
                      - video
                      - tweet
                      - TiktokPost
                      - stream
                      - other
                      - article
                      - status
                      - blog
                      - short
                      - link
                      - carousel
                      - clip
                      - post
                      - text
                      - Album
                      - null
                    description: Post Type
                    maxLength: 20
                    example: image
                  DateSubmitted:
                    type: string
                    nullable: true
                    description: Date Submitted
                    format: date-time
                    default: null
                    example: '2023-02-07 03:39:44'
                  PostDate:
                    type: string
                    nullable: true
                    description: Post Date
                    format: date
                    default: null
                    example: '2023-02-07'
                  Post:
                    type: string
                    nullable: true
                    description: Post full text
                    default: null
                    example: Post text
                  PostStatus:
                    type: string
                    nullable: true
                    enum:
                      - Actual
                      - Approved
                      - Missing
                      - Rejected
                      - null
                    description: Post Status
                    example: Approved
                  Saves:
                    type: integer
                    nullable: true
                    description: Saves
                    default: null
                    example: 15
                  Comments:
                    type: integer
                    nullable: true
                    description: Comments
                    default: null
                    example: 3
                  SMV:
                    type: number
                    nullable: true
                    description: Social Media Value. It is used to measure the value of the influencer campaign against the cost of driving the same results via paid social media advertising
                    default: null
                    example: 345
                  Impressions:
                    type: integer
                    nullable: true
                    description: Impressions
                    default: null
                    example: 233
                  Reach:
                    type: integer
                    nullable: true
                    description: Reach
                    default: null
                    example: 233
                  FollowersAtTimeOfPost:
                    type: integer
                    nullable: true
                    description: Followers At Time Of Post
                    default: null
                    example: 223676
                  LinkingStatus:
                    type: string
                    nullable: true
                    enum:
                      - Broken
                      - Linked
                      - null
                    description: Linking Status
                    maxLength: 6
                    example: Linked
                  LastUpdated:
                    type: string
                    nullable: true
                    description: Last Updated
                    format: date-time
                    default: null
                    example: '2021-11-08 07:58:33'
                  PublisherId:
                    type: integer
                    description: Unique publisher id
                    format: int32
                    example: 3293835
                  LogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL
                    format: URI
                    maxLength: 1024
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  ThumbLogoURL:
                    type: string
                    nullable: true
                    description: Publisher Logo URL with reduced size
                    format: URI
                    maxLength: 512
                    default: null
                    example: 'https://social-pictures-storage.s3.amazonaws.com/fe4da4409bd9de12f17ccfe3da07ce67_1605793259.jpg'
                  FlagshipSocialNetwork:
                    type: string
                    nullable: true
                    enum:
                      - youtube
                      - twitter
                      - facebook
                      - instagram
                      - google
                      - vine
                      - weibo
                      - line
                      - tiktok
                      - twitch
                      - tumblr
                      - pinterest
                      - snapchat
                      - linkedin
                      - reddit
                      - web
                      - blog
                      - null
                    description: Main social network for publisher
                    maxLength: 50
                    example: pinterest
                  FlagshipProperty:
                    type: string
                    nullable: true
                    description: Main social account handle of publisher
                    maxLength: 1024
                    default: null
                    example: greatdad
                  Followers:
                    type: integer
                    nullable: true
                    description: Followers
                    default: null
                    example: 78247
          required:
            - results
    twitchCampaignPostsSchema:
      type: object
      allOf:
        - $ref: '#/components/schemas/commonResponse'
        - type: object
          properties:
            results:
              type: array
              items:
                type: object
                properties:
                  CampaignId:
                    type: integer
                    description: Unique Campaign Id
                    format: int32
                    example: 697096
                  id:
                    type: integer
                    description: Unique id of row
                    format: int32
                    example: -80378
                  PublisherName:
                    type: string
                    description: Publisher Name
                    maxLength: 255
                    example: Chris Whitcroft
                  SocialHandle:
                    type: string
                    nullable: true
                    description: Social Handle
                    default: null
                    example: '@1puglife'
                  CampaignName:
                    type: string
                    nullable: true
                    description: Campaign name
                    maxLength: 255
                    default: null
                    example: Campaign name
                  BrandName:
                    type: string
                    nullable: true
                    description: Campaign Brand Name
                    maxLength: 200
                    default: null
                    example: Brand name
                  PostLink:
                    type: string
                    nullable: true
                    description: Post Link
                    format: URI
                    maxLength: 1000
                    default: null
                    example: 'https://www.twitch.tv/videos/1752519236'
                  PostType:
                    type: string
                    nullable: true
                    enum:
                      - permalink
                      - story
                      - image
                      - reel
                      - Photo
                      - video
                      - tweet
                      - TiktokPost
                      - stream
                      - other
                      - article
                      - status
                      - blog
                      - short
                      - link
                      - carousel
                      - clip
                      - post
                      - text
                      - Album
                      - null
                    description: Post Type
                    maxLength: 20
                    example: video
                  DateSubmitted:
                    type: string
                    nullable: true
                    description: Date Submitted
                    format: date-time
                    default: null
                    example: '2023-02-07 03:39:44'
                  PostDate:
                    type: string
                    nullable: true
                    description: Post Date
                    format: date
                    example: '2023-02-07'
                  Post:
                    type: string
                    nullable: true
                    description: Post full text
                    default: null
                    example: Post text
                  PostStatus:
                    type: string
                    nullable: true
                    enum:
                      - Actual
                      - Approved
                      - Missing
                      - Rejected
                      - null
                    description: Post Status
                    example: Approved
                  Views:
[...]
